<a href="https://colab.research.google.com/github/OmerRosen/Kaggle/blob/main/IMDB_2022_Hit_or_Flop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB 2022 - Hit or Flop

## Data Collection

### Data Requirments

# Feature collection mission

# Main list Page:
* Movie Id
* Movie Title
* Movie year
* Rating
* MetaScore - Outcome
* Description
* Poster
* Directore name + Link
* Stars
* Votes - Output
* Genre

# Movie Page:
* Movie Length
* Rank
* Writer
* Star #1
* Star #2
* Star #3
* User eviews
* Critic reviews
* Number of photos posted
* Storyline - Text
* Tag line
* Release Date - Month
* Country of origin
* Additional Lanaguages
* Country of filming
* Production companies
* Budget
* Opening Weekend Date
* Gross US & Canada - Output
* Opening weekend US & Canada - Output
* Gross worldwide - Output
* Color - Color
* Color - Black&White
* Sound mix - Dolby Digital
* Sound mix - Dolby Atmos
* Aspect ratio

# Director Page:
* Director Age
* Is Top 500?
* Director Gender (Based on bio)
* Previous film count - As Director
* Previous film count - As Writer
* Previous film count - As As Producer
* Director Publicity listing count

# Information Abount Cast:
* Full list of cast and their profile links
* Number of cast members
* Produced by - Is top 500?
* Music by - Is top 500?
* Cinematography by  - Is top 500
* Film Editing by   - Is top 500
* Art Direction by  - Is top 500
* Number of Production Management
* Number of Art Department
* Number of Sound Department
* Number of Camera and Electrical Department
* Number of Editorial Department
* Number of Music Department
* Number of Additional Crew

# Actor Page
* Is Top 5000?
* Is Top 500?
* Is Top 100 (aka - Has numberical rank)
* Is Top 10 (aka - Has numberical rank)
* Numerical Rank (Could be none)
* Gender
* Age
* Oscar nominations 
* Birth country

# Production COmpanies (Filter)
* Num of previous titles


# Aggragated data:
* How many male stars
* How many female stars
* Avrage cast memeber age
* Max/Min age of cast member
* Number of unique birth countries of actors
* Total number of Oscar numinatior for cast
* Num cast members in top 5000
* Num cast memebers in top 500
* Num cast members in top 100
* Num cast members in top 10

# IMDB Scraper

## Build functions for collecting movie details

In [1]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time

In [2]:
base_url = "https://www.imdb.com"

start_date = "2022-01-01"
end_date = "2022-12-31"
minimum_votes = 10 # Minimum vote amount to coolect movie
start_point = 1 # Start from movie #1-50

movie_search_url = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&{start_point}anguages=en&start=1&ref_=adv_nxt"
movie_search_url

'https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&1anguages=en&start=1&ref_=adv_nxt'

In [3]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

list_of_50_movies = requests.get(f'{movie_search_url}', headers=headers, timeout=10)
list_of_50_movies

In [4]:
list_of_50_movies_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser').find_all('div',{'class':'lister-item mode-advanced'})

In [5]:
movie_search_page = list_of_50_movies_soup[0]

In [6]:
def get_basic_details(movie_search_page):
  search_box_info = {}

  search_box_info['movie_place'] = None if not movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}) else movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}).text.replace('.','')
  search_box_info['movie_name'] = movie_search_page.find('a')
  search_box_info['movie_page_url'] = f"{base_url}{movie_search_page.find('a')['href']}"
  search_box_info['movie_id'] = None if not search_box_info['movie_page_url'] else search_box_info['movie_page_url'].split('/')[-2]
  search_box_info['movie_name'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['alt'].strip()
  search_box_info['movie_thubmnail'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['src']
  search_box_info['movie_year'] = None if not movie_search_page.find('span',{'class':'lister-item-year text-muted unbold'}) else movie_search_page.find('span',{'class':'lister-item-year text-muted unbold'}).text.replace('(','').replace(')','')
  search_box_info['movie_rating'] = None if not movie_search_page.find('strong') else movie_search_page.find('strong').text
  search_box_info['movie_metascore'] = None if not movie_search_page.find('span', {'class': 'metascore'}) else movie_search_page.find('span', {'class': 'metascore'}).text.strip()
  search_box_info['movie_description'] = None if not movie_search_page.find_all('p',{'class':'text-muted'}) else movie_search_page.find_all('p',{'class':'text-muted'})[1].text.strip()
  search_box_info['runtime_min'] = None if not movie_search_page.find('span',{'class':'runtime'}) else movie_search_page.find('span',{'class':'runtime'}).text.split(' ')[0]

  bottom_box_info = movie_search_page.find('p',{'class':'sort-num_votes-visible'}).find_all('span')
  search_box_info['movie_vote_num'] = bottom_box_info[1]['data-value']
  search_box_info['movie_gross'] = bottom_box_info[4]['data-value'] if len(bottom_box_info)>2 else None;

  search_box_info['movie_rating'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}).text.strip()
  search_box_info['movie_genere'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}).text.strip()

  search_box_info['__SuccsefullyCollectBasicDetails'] = True;

  return search_box_info

In [7]:
movie_search_page = list_of_50_movies_soup[0]
search_box_info = get_basic_details(movie_search_page)
search_box_info

{'movie_place': '1',
 'movie_name': 'Everything Everywhere All at Once',
 'movie_page_url': 'https://www.imdb.com/title/tt6710474/?ref_=adv_li_i',
 'movie_id': 'tt6710474',
 'movie_thubmnail': 'https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png',
 'movie_year': '2022',
 'movie_rating': '12',
 'movie_metascore': '81',
 'movie_description': 'A middle-aged Chinese immigrant is swept up into an insane adventure in which she alone can save existence by exploring other universes and connecting with the lives she could have led.',
 'runtime_min': '139',
 'movie_vote_num': '409145',
 'movie_gross': '72,861,480',
 'movie_genere': 'Action, Adventure, Comedy',
 '__SuccsefullyCollectBasicDetails': True}

In [8]:
movie_main_page = requests.get(search_box_info['movie_page_url'], headers=headers)
movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')

In [9]:
def get_extended_details(movie_main_page_soup):
  movie_page_dict = {}

  director_box = movie_main_page_soup.find('span',string="Director") if movie_main_page_soup.find('span',string="Directors") is None else movie_main_page_soup.find('span',string="Directors")
  if director_box == None:
    director_box = movie_main_page_soup.find('a',string="Director") if movie_main_page_soup.find('span',string="Directors") is None else movie_main_page_soup.find('a',string="Directors")
  director_box = director_box.find_next_sibling()
  movie_page_dict['director_name'] = director_box.find('a').text
  movie_page_dict['director_url'] = f"{base_url}{director_box.find('a')['href']}"
  movie_page_dict['director_id'] = movie_page_dict['director_url'].split('/')[-2]

  writers_box = movie_main_page_soup.find('span',string="Writer") if movie_main_page_soup.find('span',string="Writers") is None else movie_main_page_soup.find('span',string="Writers")
  if writers_box == None:
    writers_box = movie_main_page_soup.find('span',string="Writer") if movie_main_page_soup.find('a',string="Writers") is None else movie_main_page_soup.find('a',string="Writers")
  writers_box = writers_box.find_next_sibling()
  movie_page_dict['writer_name'] = director_box.find('a').text
  movie_page_dict['writer_url'] = f"{base_url}{writers_box.find('a')['href']}"
  movie_page_dict['writer_id'] = movie_page_dict['writer_url'].split('/')[-2]

  stars_box = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'}).find_parent().find_all('a')
  for i,star_box in enumerate(stars_box[1:-1]):
    star_num = f'star_{i+1}'
    movie_page_dict[f'{star_num}_name'] = star_box.text.strip()
    movie_page_dict[f'{star_num}_url'] = f"{base_url}{star_box['href']}"
    movie_page_dict[f'{star_num}_id'] = star_box['href'].split('/')[-2]

  review_scores = movie_main_page_soup.find_all('span',{'class':'score'})
  movie_page_dict['user_reviews_count'] = review_scores[0].text
  movie_page_dict['critic_reviews_count'] = review_scores[1].text

  movie_page_dict['release_date'] = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'}, string="Release date").find_parent().find('a',{'class':'ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link'}).text.split('(')[0].strip()
  movie_page_dict['release_date']



  movie_page_dict['budget'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Budget")
  if (movie_page_dict['budget']!=None):
    movie_page_dict['budget'] = movie_page_dict['budget'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

  movie_page_dict['gross_worldwide'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross worldwide")
  if (movie_page_dict['gross_worldwide']!=None):
    movie_page_dict['gross_worldwide'] = movie_page_dict['gross_worldwide'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

  movie_page_dict['gross_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross US & Canada")
  if (movie_page_dict['gross_us_canada']!=None):
    movie_page_dict['gross_us_canada'] = movie_page_dict['gross_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

  movie_page_dict['opening_weekend_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Opening weekend US & Canada")
  if (movie_page_dict['opening_weekend_us_canada']!=None):
    movie_page_dict['opening_weekend_us_canada'] = movie_page_dict['opening_weekend_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

  movie_page_dict['origin_country'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Country of origin")
  if (movie_page_dict['origin_country']!=None):
    movie_page_dict['origin_country'] = movie_page_dict['origin_country'].find_next_sibling().find('a').text.split('(')[0].strip()

  languages = movie_main_page_soup.find('span',string="Language") if movie_main_page_soup.find('span',string="Languages") is None else movie_main_page_soup.find('span',string="Languages")
  languages = [] if not languages else languages.find_next_sibling().find_all('a')
  movie_page_dict['languages'] = ",".join([language.text for language in languages])

  movie_page_dict['__SuccsefullyCollectExtandedDetails'] = True;

  return movie_page_dict

get_extended_details(movie_main_page_soup)

{'director_name': 'Daniel Kwan',
 'director_url': 'https://www.imdb.com/name/nm3453283/?ref_=tt_ov_dr',
 'director_id': 'nm3453283',
 'writer_name': 'Daniel Kwan',
 'writer_url': 'https://www.imdb.com/name/nm3453283/?ref_=tt_ov_wr',
 'writer_id': 'nm3453283',
 'star_1_name': 'Michelle Yeoh',
 'star_1_url': 'https://www.imdb.com/name/nm0000706/?ref_=tt_ov_st',
 'star_1_id': 'nm0000706',
 'star_2_name': 'Stephanie Hsu',
 'star_2_url': 'https://www.imdb.com/name/nm3513533/?ref_=tt_ov_st',
 'star_2_id': 'nm3513533',
 'star_3_name': 'Jamie Lee Curtis',
 'star_3_url': 'https://www.imdb.com/name/nm0000130/?ref_=tt_ov_st',
 'star_3_id': 'nm0000130',
 'user_reviews_count': '3.3K',
 'critic_reviews_count': '394',
 'release_date': 'May 19, 2022',
 'budget': '$14,300,000',
 'gross_worldwide': '$135,559,660',
 'gross_us_canada': '$76,852,389',
 'opening_weekend_us_canada': '$501,305',
 'origin_country': 'United States',
 'languages': 'English,Mandarin,Cantonese',
 '__SuccsefullyCollectExtandedDetails': True}

## Cursor for collecting movies in batches

In [10]:
# Fixed parameters:
base_url = "https://www.imdb.com"

start_date = "2022-01-01"
end_date = "2022-12-31"
minimum_votes = 10 # Minimum vote amount to coolect movie

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"}

In [11]:
# Dynamic parameters:

start_point = 1 # Start from movie #1-50

movie_search_url_50_batch = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&languages=en&start={start_point}&ref_=adv_nxt"
print(f"movie_search_url_50_batch: {movie_search_url_50_batch}")
search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
search_page_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser')
list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

max_num_of_results = search_page_soup.find('div',{'class':'desc'}).find('span').text.split(' ')[2].replace(",", "")
max_num_of_results = int(max_num_of_results)

print(f"max_num_of_results: {max_num_of_results}")

movie_search_url_50_batch: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&1anguages=en&start=1&ref_=adv_nxt
max_num_of_results: 6286

In [12]:
search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
search_page_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser')
list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

max_num_of_results = search_page_soup.find('div',{'class':'desc'}).find('span').text.split(' ')[2].replace(",", "")
max_num_of_results = int(max_num_of_results)
max_num_of_results

6286

In [22]:
total_movie_dataset = []
total_actor_dataset = []
total_director_dataset = []

start_point = 1 # Start from movie #1-50

while start_point < max_num_of_results-50:

  movie_search_url_50_batch = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&languages=en&start={start_point}&ref_=adv_nxt"
  print(f"movie_search_url_50_batch start point {start_point}: {movie_search_url_50_batch}")
  search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
  search_page_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser')
  list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

  for i,movie in enumerate(list_of_50_movies_soup):
    movie_data = {}

    basic_data = get_basic_details(movie)
    movie_data.update(basic_data)

    movie_main_page = requests.get(basic_data['movie_page_url'], headers=headers)
    movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')   

    if i%30==0:
      print(basic_data['movie_name'],basic_data['movie_page_url'])

    extended_deta = get_extended_details(movie_main_page_soup)
    movie_data.update(extended_deta)

    sleep(0.1)

    total_movie_dataset.append(movie_data)

  movie_dataset = pd.DataFrame(total_movie_dataset)
  movie_dataset.to_csv("/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv", index=False)

  start_point += 50

movie_search_url_50_batch start point 1: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 51: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=51&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 101: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=101&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 151: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=151&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 201: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=201&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 251: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=251&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 301: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=301&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 351: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=351&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 401: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=401&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 451: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=451&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 501: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=501&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 551: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=551&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 601: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=601&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 651: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=651&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 701: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=701&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 751: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=751&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 801: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=801&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 851: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=851&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 901: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=901&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 951: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=951&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1001: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1001&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1051: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1051&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1101: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1101&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1151: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1151&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1201: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1201&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1251: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1251&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1301: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1301&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1351: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1351&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1401: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1401&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1451: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1451&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1501: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1501&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1551: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1551&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1601: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1601&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1651: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1651&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1701: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1701&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1751: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1751&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1801: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1801&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1851: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1851&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1901: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1901&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 1951: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=1951&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2001: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2001&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2051: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2051&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2101: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2101&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2151: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2151&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2201: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2201&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2251: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2251&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2301: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2301&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2351: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2351&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2401: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2401&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2451: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2451&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2501: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2501&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2551: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2551&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2601: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2601&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i
Pinocchio https://www.imdb.com/title/tt1488589/?ref_=adv_li_i
movie_search_url_50_batch start point 2651: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&languages=en&start=2651&ref_=adv_nxt
Everything Everywhere All at Once https://www.imdb.com/title/tt6710474/?ref_=adv_li_i

ConnectionError: ignored

In [18]:
movie_dataset = pd.DataFrame(total_movie_dataset)
movie_dataset.to_csv("/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv", index=False)

movie_dataset

,movie_place,movie_name,movie_page_url,movie_id,movie_thubmnail,movie_year,movie_rating,movie_metascore,movie_description,runtime_min,...,user_reviews_count,critic_reviews_count,release_date,budget,gross_worldwide,gross_us_canada,opening_weekend_us_canada,origin_country,languages,__SuccsefullyCollectExtandedDetails
0,1,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,81,A middle-aged Chinese immigrant is swept up in...,139,...,3.3K,394,"May 19, 2022","$14,300,000","$135,559,660","$76,852,389","$501,305",United States,"English,Mandarin,Cantonese",True
1,2,The Whale,https://www.imdb.com/title/tt13833688/?ref_=ad...,tt13833688,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,60,"A reclusive, morbidly obese English teacher at...",117,...,669,266,"February 16, 2023","$10,000,000","$53,063,485","$17,424,083","$332,152",United States,English,True
2,3,The Banshees of Inisherin,https://www.imdb.com/title/tt11813216/?ref_=ad...,tt11813216,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,87,Two lifelong friends find themselves at an imp...,114,...,961,326,"January 26, 2023",None,"$48,659,132","$10,582,266","$184,454",None,English,True
3,4,Triangle of Sadness,https://www.imdb.com/title/tt7322224/?ref_=adv...,tt7322224,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,63,A fashion model celebrity couple join an event...,147,...,437,259,"December 15, 2022","10,000,000","$25,377,810","$4,608,096","$214,602",None,"English,Swedish,German,French,Greek,Tagalog,Akan",True
4,5,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,I 2022,16,60,A tale of outsized ambition and outrageous exc...,189,...,703,275,"January 19, 2023","$78,000,000","$63,372,177","$15,351,455","$3,603,368",United States,"English,Spanish,Italian,Cantonese,French,Hunga...",True
5,6,A Man Called Otto,https://www.imdb.com/title/tt7405458/?ref_=adv...,tt7405458,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,51,Otto is a grump who's given up on life followi...,126,...,316,156,"February 9, 2023","$50,000,000","$109,028,819","$64,228,819","$56,257",None,"English,Spanish",True
6,7,Puss in Boots: The Last Wish,https://www.imdb.com/title/tt3915174/?ref_=adv...,tt3915174,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,6,73,When Puss in Boots discovers that his passion ...,102,...,558,153,"December 21, 2022","$90,000,000","$476,094,321","$184,448,235","$12,429,515",None,"English,Spanish",True
7,8,Im Westen nichts Neues,https://www.imdb.com/title/tt1016150/?ref_=adv...,tt1016150,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,76,A young German soldier's terrifying experience...,148,...,731,191,"October 28, 2022",None,None,None,None,None,"German,French",True
8,9,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,67,Jake Sully lives with his newfound family form...,192,...,2.7K,353,"December 14, 2022","$350,000,000","$2,310,214,014","$680,952,437","$134,100,226",United States,English,True
9,10,The Unbearable Weight of Massive Talent,https://www.imdb.com/title/tt11291274/?ref_=ad...,tt11291274,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,68,Moviestar Nick Cage is channeling his iconic c...,107,...,678,275,"April 21, 2022","$30,000,000","$29,116,320","$20,300,157","$7,131,703",United States,"English,Spanish",True
10,11,Fall,https://www.imdb.com/title/tt15325794/?ref_=ad...,tt15325794,https://m.media-amazon.com/images/S/sash/4Fyxw...,I 2022,16,62,Best friends Becky and Hunter find themselves ...,107,...,764,186,"August 11, 2022","$3,000,000","$17,363,261","$7,240,521","$2,512,145",None,English,True
11,12,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,71,A young couple travels to a remote island to e...,107,...,1K,302,"November 24, 2022","$35,000,000","$79,628,200","$38,501,125","$9,004,957",United States,"English,Spanish",True
12,13,X,https://www.imdb.com/title/tt13560574/?ref_=ad...,tt13560574,https://m.media-amazon.com/images/S/sash/4Fyxw...,II 2022,16,79,"In 1979, a group of young filmmakers set out t...",105,...,827,282,"March 17, 2022","$1,000,000","$14,740,889","$11,765,309","$4,275,126",None,English,True
13,14,Scream,https://www.imdb.com/title/tt11245972/?ref_=ad...,tt11245972,https://m.media-amazon.com/images/S/sash/4Fyxw...,I 2022,16,60,25 years after a streak of brutal murders shoc...,114,...,1.6K,333,"February 3, 2022","$24,000,000","$137,743,924","$81,641,405","$30,018,805",United States,English,True
14,15,Top Gun: Maverick,https://www.imdb.com/title/tt1745960/?ref_=adv...,tt1745960,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,78,"After thirty years, Maverick is still pushing ...",130,...,4.1K,423,"May 26, 2022","$170,000,000","$1,493,491,858","$718,732,821","$126,707,459",United States,English,True
15,16,Bullet Train,https://www.imdb.com/title/tt12593682/?ref_=ad...,tt12593682,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,49,Five assassins aboard a swiftly-moving bullet ...,127,...,1.6K,307,"August 3, 2022","$85,900,000","$239,268,602","$103,368,602","$30,030,156",None,"English,Japanese,Spanish,Russian",True
16,17,Tr,https://www.imdb.com/title/tt14444726/?ref_=ad...,tt14444726,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,92,Set in the international world of Western clas...,158,...,405,274,"March 2, 2023","$25,000,000","$25,463,120","$6,773,650","$158,620",United States,"English,German,Filipino,French",True
17,18,The Fabelmans,https://www.imdb.com/title/tt14208870/?ref_=ad...,tt14208870,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,84,"Growing up in post-World War II era Arizona, y...",151,...,414,304,"February 2, 2023","$40,000,000","$43,977,543","$17,348,945","$161,579",None,English,True
18,19,Elvis,https://www.imdb.com/title/tt3704428/?ref_=adv...,tt3704428,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,64,"The life of American music icon Elvis Presley,...",159,...,1.8K,325,"June 23, 2022","$85,000,000","$288,270,284","$151,040,048","$31,211,579",None,English,True
19,20,M3gan,https://www.imdb.com/title/tt8760708/?ref_=adv...,tt8760708,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,72,A robotics engineer at a toy company builds a ...,102,...,725,289,"January 5, 2023","$12,000,000","$176,110,350","$95,043,350","$30,429,860",None,English,True
20,21,Nope,https://www.imdb.com/title/tt10954984/?ref_=ad...,tt10954984,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,77,The residents of a lonely gulch in inland Cali...,130,...,2.1K,379,"August 18, 2022","$68,000,000","$171,235,592","$123,277,080","$44,366,910",None,"English,Spanish",True
21,22,RRR,https://www.imdb.com/title/tt8178634/?ref_=adv...,tt8178634,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,83,A fictitious story about two legendary revolut...,187,...,1.6K,116,"March 25, 2022","3,500,000,000","$161,597,279","$15,156,051","$9,500,000",India,"Telugu,English",True
22,23,Aftersun,https://www.imdb.com/title/tt19770238/?ref_=ad...,tt19770238,https://m.media-amazon.com/images/S/sash/4Fyxw...,II 2022,AL,95,Sophie reflects on the shared joy and private ...,102,...,259,216,"February 23, 2023",None,"$7,798,497","$1,658,790","$60,752",None,English,True
23,24,Glass Onion: A Knives Out Mystery,https://www.imdb.com/title/tt11564570/?ref_=ad...,tt11564570,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,81,Famed Southern detective Benoit Blanc travels ...,139,...,1.2K,308,"December 23, 2022","$40,000,000","$13,280,000","$13,280,000","$9,400,000",United States,English,True
24,25,Black Panther: Wakanda Forever,https://www.imdb.com/title/tt9114286/?ref_=adv...,tt9114286,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,67,The people of Wakanda fight to protect their h...,161,...,1.4K,349,"November 9, 2022","$250,000,000","$859,068,155","$453,829,060","$181,339,761",United States,"English,Xhosa,Maya,Spanish,Haitian,French",True
25,26,The Batman,https://www.imdb.com/title/tt1877830/?ref_=adv...,tt1877830,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,72,When a sadistic serial killer begins murdering...,176,...,7.8K,533,"March 3, 2022","$200,000,000","$770,945,583","$369,345,583","$134,008,624",United States,"English,Spanish,Latin,Italian",True
26,27,Women Talking,https://www.imdb.com/title/tt13669038/?ref_=ad...,tt13669038,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,79,"Do nothing, stay and fight, or leave. In 2010,...",104,...,140,200,"February 16, 2023",None,"$8,786,704","$5,456,531","$40,530",United States,English,True
27,28,Pearl,https://www.imdb.com/title/tt18925334/?ref_=ad...,tt18925334,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,R,76,"In 1918, a young woman on the brink of madness...",103,...,295,192,"September 16, 2022",None,"$9,744,096","$9,423,445","$3,128,427",None,"English,German",True
28,29,Don't Worry Darling,https://www.imdb.com/title/tt10731256/?ref_=ad...,tt10731256,https://m.media-amazon.com/images/S/sash/4Fyxw...,I 2022,16,48,A 1950s housewife living with her husband in a...,123,...,897,271,"September 22, 2022","$20,000,000","$87,409,403","$45,309,403","$19,353,213",United States,English,True
29,30,Smile,https://www.imdb.com/title/tt15474916/?ref_=ad...,tt15474916,https://m.media-amazon.com/images/S/sash/4Fyxw...,V 2022,16,68,"After witnessing a bizarre, traumatic incident...",115,...,1K,239,"September 29, 2022","$17,000,000","$217,408,513","$105,935,048","$22,609,925",United States,"English,Spanish",True
30,31,Pinocchio,https://www.imdb.com/title/tt1488589/?ref_=adv...,tt1488589,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,9,79,A father's wish magically brings a wooden boy ...,117,...,361,230,"November 24, 2022","$35,000,000","$109,846",None,None,None,English,True
31,32,Where the Crawdads Sing,https://www.imdb.com/title/tt9411972/?ref_=adv...,tt9411972,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,43,A woman who raised herself in the marshes of t...,125,...,620,181,"July 28, 2022","$24,000,000","$140,230,760","$90,230,760","$17,253,227",United States,English,True
32,33,Black Adam,https://www.imdb.com/title/tt6443346/?ref_=adv...,tt6443346,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,41,"Nearly 5,000 years after he was bestowed with ...",125,...,1.6K,267,"October 19, 2022","$195,000,000","$392,952,111","$168,152,111","$67,004,323",None,English,True
33,34,Living,https://www.imdb.com/title/tt9051908/?ref_=adv...,tt9051908,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,9,81,"In 1950s London, a humorless bureaucrat decide...",102,...,117,149,"December 29, 2022",None,"$11,646,687","$3,018,427","$22,784",None,English,True
34,35,Marlowe,https://www.imdb.com/title/tt6722802/?ref_=adv...,tt6722802,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,41,"In late 1930s Bay City, a brooding, down on hi...",109,...,72,60,"March 16, 2023",None,"$5,414,946","$4,350,243","$1,814,094",None,English,True
35,36,Barbarian,https://www.imdb.com/title/tt15791034/?ref_=ad...,tt15791034,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,78,A woman staying at an Airbnb discovers that th...,102,...,1K,233,"November 3, 2022","$4,500,000","$45,352,337","$40,842,944","$10,543,948",United States,English,True
36,37,The Pale Blue Eye,https://www.imdb.com/title/tt14138650/?ref_=ad...,tt14138650,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,56,A world-weary detective is hired to investigat...,128,...,356,167,"January 6, 2023","$72,000,000",None,None,None,United States,"English,French,Latin",True
37,38,Era ora,https://www.imdb.com/title/tt15654800/?ref_=ad...,tt15654800,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,None,"In this time-jumping dramedy, a workaholic who...",109,...,18,17,"March 16, 2023",None,None,None,None,Italy,Italian,True
38,39,Amsterdam,https://www.imdb.com/title/tt10304142/?ref_=ad...,tt10304142,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,48,"In the 1930s, three friends witness a murder, ...",134,...,452,189,"October 27, 2022","$80,000,000","$31,245,810","$14,947,969","$6,444,896",None,"English,French",True
39,40,Close,https://www.imdb.com/title/tt9660502/?ref_=adv...,tt9660502,https://m.media-amazon.com/images/S/sash/4Fyxw...,I 2022,12,81,The intense friendship between two thirteen-ye...,104,...,73,134,"November 3, 2022",None,"$5,054,797","$1,100,113","$61,376",None,"French,Flemish,Dutch,English",True
40,41,The Northman,https://www.imdb.com/title/tt11138512/?ref_=ad...,tt11138512,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,82,A young Viking prince is on a quest to avenge ...,137,...,2.2K,365,"April 14, 2022","$60,000,000","$69,633,110","$34,233,110","$12,290,800",None,"Ukrainian,English,Norse, Old",True
41,42,An Cailn Ciin,https://www.imdb.com/title/tt15109082/?ref_=ad...,tt15109082,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,AL,89,"Rural Ireland 1981. A quiet, neglected girl is...",95,...,88,92,"April 13, 2023",None,"$3,519,643","$1,277,680","$59,149",Ireland,"Irish Gaelic,English",True
42,43,The Woman King,https://www.imdb.com/title/tt8093700/?ref_=adv...,tt8093700,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,77,A historical epic inspired by true events that...,135,...,465,216,"October 13, 2022","$50,000,000","$97,250,903","$67,328,130","$19,051,442",United States,"English,Portuguese",True
43,44,Thor: Love and Thunder,https://www.imdb.com/title/tt10648342/?ref_=ad...,tt10648342,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,57,"Thor enlists the help of Valkyrie, Korg and ex...",118,...,4.1K,352,"July 6, 2022","$250,000,000","$760,928,081","$343,256,830","$144,165,107",None,English,True
44,45,Empire of Light,https://www.imdb.com/title/tt14402146/?ref_=ad...,tt14402146,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,54,A drama about the power of human connection du...,115,...,140,163,"April 6, 2023",None,"$9,754,076","$1,177,577","$163,405",None,English,True
45,46,Jurassic World Dominion,https://www.imdb.com/title/tt8041270/?ref_=adv...,tt8041270,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,38,Four years after the destruction of Isla Nubla...,147,...,2.6K,353,"June 9, 2022","$165,000,000","$1,001,978,080","$376,851,080","$145,075,625",None,English,True
46,47,Pinball: The Man Who Saved the Game,https://www.imdb.com/title/tt13365876/?ref_=ad...,tt13365876,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,None,64,"The story of Roger Sharpe, the young midwester...",91,...,13,17,"March 17, 2023",None,None,None,None,United States,,True
47,48,Sisu,https://www.imdb.com/title/tt14846026/?ref_=ad...,tt14846026,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,None,None,When an ex-soldier who discovers gold in the L...,91,...,9,17,"January 27, 2023",None,None,None,None,Finland,"Finnish,English",True
48,49,Leila's Brothers,https://www.imdb.com/title/tt19653180/?ref_=ad...,tt19653180,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,12,87,"At the age of 40, Leila has spent her entire l...",165,...,18,19,"August 24, 2022","$5,000,000","$813,292",None,None,Iran,Persian,True
49,50,The Gray Man,https://www.imdb.com/title/tt1649418/?ref_=adv...,tt1649418,https://m.media-amazon.com/images/S/sash/4Fyxw...,2022,16,49,"When the CIA's most skilled operative, whose t...",122,...,2.2K,213,"July 22, 2022","$200,000,000","$454,023",None,None,None,English,True

In [15]:
languages = movie_main_page_soup.find('span',string="Language") if movie_main_page_soup.find('span',string="Languages") is None else movie_main_page_soup.find('span',string="Languages")
languages = [] if not languages else languages.find_next_sibling().find_all('a')
",".join([language.text for language in languages])

'English'

In [16]:
# movie_main_page_soup
# writers_box = movie_main_page_soup.find('span',string="Writer") if movie_main_page_soup.find('a',string="Writers") is None else movie_main_page_soup.find('a',string="Writers")
# writers_box = writers_box.find_next_sibling()
# writers_box