<a href="https://colab.research.google.com/github/OmerRosen/Kaggle/blob/main/IMDB_2022_Hit_or_Flop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB 2022 - Hit or Flop

## Mission Statement

### Data To Collect

#### Search box page:
* Movie Id
* Movie Title
* Movie year
* Rating
* MetaScore - Outcome
* Description
* Poster
* Directore name + Link
* Stars
* Votes - Output
* Genre

#### Main Movie Page data
* Movie Length
* Rank
* Writer
* Star #1
* Star #2
* Star #3
* User eviews
* Critic reviews
* Number of photos posted
* Storyline - Text
* Tag line
* Release Date - Month
* Country of origin
* Additional Lanaguages
* Country of filming
* Production companies
* Budget
* Opening Weekend Date
* Gross US & Canada - Output
* Opening weekend US & Canada - Output
* Gross worldwide - Output
* Color - Color
* Color - Black&White
* Sound mix - Dolby Digital
* Sound mix - Dolby Atmos
* Aspect ratio

#### Director Page:
* Director Age
* Is Top 500?
* Director Gender (Based on bio)
* Previous film count - As Director
* Previous film count - As Writer
* Previous film count - As As Producer
* Director Publicity listing count

#### Information Abount Cast:
* Full list of cast and their profile links
* Number of cast members
* Produced by - Is top 500?
* Music by - Is top 500?
* Cinematography by  - Is top 500
* Film Editing by   - Is top 500
* Art Direction by  - Is top 500
* Number of Production Management
* Number of Art Department
* Number of Sound Department
* Number of Camera and Electrical Department
* Number of Editorial Department
* Number of Music Department
* Number of Additional Crew

#### Actor Page
* Is Top 5000?
* Is Top 500?
* Is Top 100 (aka - Has numberical rank)
* Is Top 10 (aka - Has numberical rank)
* Numerical Rank (Could be none)
* Gender
* Age
* Oscar nominations 
* Birth country

#### Aggragated data:
* How many male stars
* How many female stars
* Avrage cast memeber age
* Max/Min age of cast member
* Number of unique birth countries of actors
* Total number of Oscar numinatior for cast
* Num cast members in top 5000
* Num cast memebers in top 500
* Num cast members in top 100
* Num cast members in top 10

# IMDB Scraper

## Import Libraries

In [1]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time
import traceback

## Set main variables

In [2]:
base_url = "https://www.imdb.com"
base_folder_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project"

start_date = "2022-01-01"
end_date = "2022-12-31"
minimum_votes = 10 # Minimum vote amount to coolect movie
start_point = 1 # Start from movie #1-50

movie_search_url = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&{start_point}anguages=en&start=1&ref_=adv_nxt"
movie_search_url

'https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=10,&1anguages=en&start=1&ref_=adv_nxt'

In [3]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

list_of_50_movies = requests.get(f'{movie_search_url}', headers=headers, timeout=10)
list_of_50_movies

In [4]:
list_of_50_movies_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser').find_all('div',{'class':'lister-item mode-advanced'})

In [5]:
movie_search_page = list_of_50_movies_soup[0]

## Movie Data - Helper Functions:

### Get Movie Box details

In [6]:
def get_basic_details(movie_search_page):
  search_box_info = {}
  search_box_info['movie_name'] = movie_search_page.find('a')
  search_box_info['movie_page_url'] = f"{base_url}{movie_search_page.find('a')['href']}"

  try:
    search_box_info['movie_place'] = None if not movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}) else movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}).text.replace('.','')
    search_box_info['movie_id'] = None if not search_box_info['movie_page_url'] else search_box_info['movie_page_url'].split('/')[-2]
    search_box_info['movie_name'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['alt'].strip()
    search_box_info['movie_thubmnail'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['src']
    #search_box_info['movie_year'] = None if not movie_search_page.find('span',{'class':'lister-item-year text-muted unbold'}) else movie_search_page.find('span',{'class':'lister-item-year text-muted unbold'}).text.replace('(','').replace(')','')
    #search_box_info['movie_rating'] = None if not movie_search_page.find('strong') else movie_search_page.find('strong').text
    search_box_info['movie_metascore'] = None if not movie_search_page.find('span', {'class': 'metascore'}) else movie_search_page.find('span', {'class': 'metascore'}).text.strip()
    search_box_info['movie_description'] = None if not movie_search_page.find_all('p',{'class':'text-muted'}) else movie_search_page.find_all('p',{'class':'text-muted'})[1].text.strip()
    search_box_info['runtime_min'] = None if not movie_search_page.find('span',{'class':'runtime'}) else movie_search_page.find('span',{'class':'runtime'}).text.split(' ')[0]

    bottom_box_info = movie_search_page.find('p',{'class':'sort-num_votes-visible'}).find_all('span')
    search_box_info['movie_vote_num'] = bottom_box_info[1]['data-value']
    search_box_info['movie_gross'] = bottom_box_info[4]['data-value'] if len(bottom_box_info)>2 else None;

    search_box_info['movie_rating'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}).text.strip()
    search_box_info['movie_genere'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}).text.strip()

    search_box_info['__SuccsefullyCollectBasicDetails'] = True;

  except Exception as e:
    print(f"Failed extracting data for movie: {search_box_info['movie_name']}. \nUrl: {search_box_info['movie_page_url']}.\n Error:\n{e}")
    traceback.print_exc()
    search_box_info['__SuccsefullyCollectBasicDetails'] = False;


  return search_box_info

In [7]:
movie_search_page = list_of_50_movies_soup[1]
search_box_info = get_basic_details(movie_search_page)
search_box_info

{'movie_name': 'Everything Everywhere All at Once',
 'movie_page_url': 'https://www.imdb.com/title/tt6710474/?ref_=adv_li_i',
 'movie_place': '2',
 'movie_id': 'tt6710474',
 'movie_thubmnail': 'https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png',
 'movie_metascore': '81',
 'movie_description': 'A middle-aged Chinese immigrant is swept up into an insane adventure in which she alone can save existence by exploring other universes and connecting with the lives she could have led.',
 'runtime_min': '139',
 'movie_vote_num': '417474',
 'movie_gross': '72,861,480',
 'movie_rating': 'R',
 'movie_genere': 'Action, Adventure, Comedy',
 '__SuccsefullyCollectBasicDetails': True}

In [8]:
movie_main_page = requests.get(search_box_info['movie_page_url'], headers=headers)
movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')

### Extract Movie Artists

In [9]:
def extract_artist(artist_type, movie_main_page_soup):

  item_dict = {}

  search_result = movie_main_page_soup.find(string=f"{artist_type}s") if movie_main_page_soup.find(string=artist_type) is None else movie_main_page_soup.find(string=artist_type)
  search_item_list = []
  if search_result!=None:
    search_item_list = search_result.find_parent().find_next_sibling().find_all('a')
  
  item_dict[f"{artist_type}_count"] = len(search_item_list)

  for i,item in enumerate(search_item_list):
    artisc_name = item.text.strip()
    artisc_url = item['href']
    artist_id = artisc_url.split('/')[2]
    item_dict[f"{artist_type}_{i+1}_name"] = artisc_name
    #item_dict[f"{artist_type}_{i+1}_url"] = artisc_url
    item_dict[f"{artist_type}_{i+1}_imdb_id"] = artist_id

  return item_dict

print(extract_artist("Director", movie_main_page_soup))
print(extract_artist("Writer", movie_main_page_soup))
print(extract_artist("Star", movie_main_page_soup))

{'Director_count': 2, 'Director_1_name': 'Daniel Kwan', 'Director_1_imdb_id': 'nm3453283', 'Director_2_name': 'Daniel Scheinert', 'Director_2_imdb_id': 'nm3215397'}
{'Writer_count': 2, 'Writer_1_name': 'Daniel Kwan', 'Writer_1_imdb_id': 'nm3453283', 'Writer_2_name': 'Daniel Scheinert', 'Writer_2_imdb_id': 'nm3215397'}
{'Star_count': 3, 'Star_1_name': 'Michelle Yeoh', 'Star_1_imdb_id': 'nm0000706', 'Star_2_name': 'Stephanie Hsu', 'Star_2_imdb_id': 'nm3513533', 'Star_3_name': 'Jamie Lee Curtis', 'Star_3_imdb_id': 'nm0000130'}

### Perform Currency Conversion

In [10]:
currency_codes = {
    "$":"USD",
    "€":"EUR",
    "£":"GBP",
    "₹":"INR",
    "â‚¬": "EUR",
    "â‚¹": "INR",
    "CA$": "CAD",
    "NOKÂ": "NOK",
    "Â£": "GBP",
    "CHF": "CHF",
    "Â¥": "JPY",
    "PKR": "PKR",
    "A$": "AUD",
    "CZK": "CZK",
    "RUR": "RUB",
    "NZ$": "NZD",
    "MYR": "MYR",
    "NGN": "NGN",
    "NOK":"NOK"
}


currency_conversion_values = {}

In [11]:
def extract_currency_symbol(s):
    match = re.search(r"[^\d]+", s)
    if match:
        return match.group(0).strip()
    else:
        return ""

In [12]:
def get_currency_code(amount_string):
  currency_symbol = extract_currency_symbol(amount_string)
  if currency_symbol in currency_codes:
      return currency_codes[currency_symbol]
  else:
    print(f"Could not find a value for: {currency_symbol} in {amount_string}")
    return None

In [13]:
def extract_numerical_value(string):
    # Remove all non-numeric characters from the string
    numerical_string = re.sub(r"[^\d.]+", "", string)
    # Convert the string to a float and return it
    return float(numerical_string)

In [14]:

with open(f'{base_folder_path}/openexchangerates.txt', 'r') as f:
    api_key = f.read().strip()

api_key

def convert_string_amount_to_usd(amount):

  # get the currency code and amount value
  currency_code = get_currency_code(amount)
  original_amount = extract_numerical_value(amount)
  usd_amount = None

  if currency_code==None:
    usd_amount=None
  elif currency_code!="USD":
  
    if currency_code in currency_conversion_values:
      exchange_rate = currency_conversion_values[currency_code]
    else:
      # make API request to get exchange rate for the currency code
      url = f"https://openexchangerates.org/api/latest.json?app_id={api_key}&symbols={currency_code}"
      print(amount,currency_code,original_amount,url)
      response = requests.get(url)
      print(response)
      # parse the exchange rate from the API response
      exchange_rate = response.json()["rates"][currency_code]
      
      currency_conversion_values[currency_code] = exchange_rate
      
      # calculate the USD equivalent amount
      usd_amount = round(original_amount / exchange_rate)
      
      print(f"{amount} {currency_code} = {usd_amount} USD")
  else:
    usd_amount = original_amount

  return usd_amount,original_amount,currency_code



convert_string_amount_to_usd("CA$15,000")
convert_string_amount_to_usd("NOKÂ 80,200,000")
convert_string_amount_to_usd("NOKÂ 20,000,000")
convert_string_amount_to_usd("â‚¹3,500,000,000")
currency_conversion_values

CA$15,000 CAD 15000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=CAD
<Response [200]>
CA$15,000 CAD = 11103 USD
NOKÂ 80,200,000 NOK 80200000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=NOK
<Response [200]>
NOKÂ 80,200,000 NOK = 7641443 USD
â‚¹3,500,000,000 INR 3500000000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=INR
<Response [200]>
â‚¹3,500,000,000 INR = 42755583 USD

{'CAD': 1.351033, 'NOK': 10.4954, 'INR': 81.860655}

### Get Movie Page Details

In [15]:
def get_extended_details(movie_page_url, movie_name):
  movie_page_dict = {}

  try:

    movie_main_page = requests.get(movie_page_url, headers=headers)
    movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')   

    year_rating = movie_main_page_soup.find('ul',{"class":"ipc-inline-list ipc-inline-list--show-dividers sc-afe43def-4 kdXikI baseAlt"}).find_all('a')

    movie_page_dict['movie_year'] = year_rating[0].text if len(year_rating)>0 else None
    movie_page_dict['movie_rating'] = year_rating[1].text if len(year_rating)>1 else None

    director_dict = extract_artist("Director", movie_main_page_soup)
    if director_dict[f"Director_count"] == 0:
      print(f"No Director found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(director_dict)

    writer_dict = extract_artist("Writer", movie_main_page_soup)
    if writer_dict[f"Writer_count"] == 0:
      print(f"No Writer found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(writer_dict)

    star_dict = extract_artist("Star", movie_main_page_soup)
    if star_dict[f"Star_count"] == 0:
      print(f"No Star found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(star_dict)

    review_scores = movie_main_page_soup.find_all('span',{'class':'score'})
    movie_page_dict['user_reviews_count'] = review_scores[0].text if len(review_scores)>0 else None
    movie_page_dict['critic_reviews_count'] = review_scores[1].text if len(review_scores)>1 else None

    movie_page_dict['release_date'] = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'}, string="Release date").find_parent().find('a',{'class':'ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link'}).text.split('(')[0].strip()
    movie_page_dict['release_date']

    movie_page_dict['budget'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Budget")
    if (movie_page_dict['budget']!=None):
      movie_page_dict['budget'] = movie_page_dict['budget'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

      usd_amount,original_amount,currency_code = convert_string_amount_to_usd(movie_page_dict['budget'])
      movie_page_dict['budget_usd'] = usd_amount
      movie_page_dict['budget_currency'] = currency_code

    movie_page_dict['gross_worldwide'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross worldwide")
    if (movie_page_dict['gross_worldwide']!=None):
      movie_page_dict['gross_worldwide'] = movie_page_dict['gross_worldwide'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

    movie_page_dict['gross_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross US & Canada")
    if (movie_page_dict['gross_us_canada']!=None):
      movie_page_dict['gross_us_canada'] = movie_page_dict['gross_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

    movie_page_dict['opening_weekend_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Opening weekend US & Canada")
    if (movie_page_dict['opening_weekend_us_canada']!=None):
      movie_page_dict['opening_weekend_us_canada'] = movie_page_dict['opening_weekend_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

    movie_page_dict['origin_country'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Country of origin")
    if (movie_page_dict['origin_country']!=None):
      movie_page_dict['origin_country'] = movie_page_dict['origin_country'].find_next_sibling().find('a').text.split('(')[0].strip()

    languages = movie_main_page_soup.find('span',string="Language") if movie_main_page_soup.find('span',string="Languages") is None else movie_main_page_soup.find('span',string="Languages")
    languages = [] if not languages else languages.find_next_sibling().find_all('a')
    movie_page_dict['languages'] = ",".join([language.text for language in languages])

    movie_page_dict['__SuccsefullyCollectExtandedDetails'] = True;

    

  except Exception as e:
    print(f"Failed extracting data for movie: {movie_name}. \nUrl: {movie_page_url}.\n Error:\n{e}")
    traceback.print_exc()
    movie_page_dict['__SuccsefullyCollectExtandedDetails'] = False;

  return movie_page_dict


get_extended_details(search_box_info['movie_page_url'],search_box_info['movie_name'])

{'movie_year': '2022',
 'movie_rating': 'R',
 'Director_count': 2,
 'Director_1_name': 'Daniel Kwan',
 'Director_1_imdb_id': 'nm3453283',
 'Director_2_name': 'Daniel Scheinert',
 'Director_2_imdb_id': 'nm3215397',
 'Writer_count': 2,
 'Writer_1_name': 'Daniel Kwan',
 'Writer_1_imdb_id': 'nm3453283',
 'Writer_2_name': 'Daniel Scheinert',
 'Writer_2_imdb_id': 'nm3215397',
 'Star_count': 3,
 'Star_1_name': 'Michelle Yeoh',
 'Star_1_imdb_id': 'nm0000706',
 'Star_2_name': 'Stephanie Hsu',
 'Star_2_imdb_id': 'nm3513533',
 'Star_3_name': 'Jamie Lee Curtis',
 'Star_3_imdb_id': 'nm0000130',
 'user_reviews_count': '3.3K',
 'critic_reviews_count': '397',
 'release_date': 'April 8, 2022',
 'budget': '$14,300,000',
 'budget_usd': 14300000.0,
 'budget_currency': 'USD',
 'gross_worldwide': '$136,562,186',
 'gross_us_canada': '$77,020,896',
 'opening_weekend_us_canada': '$501,305',
 'origin_country': 'United States',
 'languages': 'English,Mandarin,Cantonese',
 '__SuccsefullyCollectExtandedDetails': True}

In [16]:
# print(search_box_info['movie_page_url'],search_box_info['movie_name'])
# cast_url = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'})['href']
# cast_url = f"{base_url}{cast_url}"
# cast_url

## Movie Data - Main Cursor

In [17]:
# Fixed parameters:
base_url = "https://www.imdb.com"

start_date = "2022-01-01"
end_date = "2022-12-31"
minimum_votes = 20 # Minimum vote amount to coolect movie

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"}

In [18]:
# Dynamic parameters:

start_point = 1 # Start from movie #1-50

movie_search_url_50_batch = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&user_rating=1.0,10.0&countries=us&languages=en&start={start_point}&ref_=adv_nxt"
print(f"movie_search_url_50_batch: {movie_search_url_50_batch}")
search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
search_page_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser')
list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

max_num_of_results = search_page_soup.find('div',{'class':'desc'}).find('span').text.split(' ')[2].replace(",", "")
max_num_of_results = int(max_num_of_results)

print(f"max_num_of_results: {max_num_of_results}")

movie_search_url_50_batch: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=20,&user_rating=1.0,10.0&countries=us&languages=en&start=1&ref_=adv_nxt
max_num_of_results: 6324

In [43]:
search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
search_page_soup = BeautifulSoup(search_page.text, 'html.parser')
list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

max_num_of_results = search_page_soup.find('div',{'class':'desc'}).find('span').text.split(' ')[2].replace(",", "")
max_num_of_results = int(max_num_of_results)
max_num_of_results

2169

In [44]:
movie_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv"

if os.path.isfile(movie_dataset_path):
    df = pd.read_csv(movie_dataset_path)
    total_movie_dataset = df.set_index('movie_id').to_dict(orient='index')
else:
  total_movie_dataset = {}

total_movie_dataset

{}

In [49]:
start_point = 1 # Start from movie #1-50
max_num_of_results=55

movie_count = 1
while start_point < max_num_of_results-50:

  movie_search_url_50_batch = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&languages=en&start={start_point}&ref_=adv_nxt"
  print(f"movie_search_url_50_batch start point {start_point}: {movie_search_url_50_batch}")
  search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
  search_page_soup = BeautifulSoup(search_page.text, 'html.parser')
  list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

  for i,movie in enumerate(list_of_50_movies_soup):
    movie_data = {'__SuccsefullyCollectBasicDetails':False,'__SuccsefullyCollectExtandedDetails':False}

    movie_name = None if not movie.find('a').find('img') else movie.find('a').find('img')['alt'].strip()
    movie_page_url = f"{base_url}{movie.find('a')['href']}"
    movie_id = None if not movie_page_url else movie_page_url.split('/')[-2]

    # If movie was already handled, check that it was handled correctly and skip it:
    if(movie_id in total_movie_dataset.keys()):
      movie_data = total_movie_dataset[movie_id]

    if movie_data['__SuccsefullyCollectBasicDetails']!=True:
      basic_data = get_basic_details(movie)
      movie_data.update(basic_data)
      print(f"{movie_count}.'{movie_name}'({movie_id}) - {movie_page_url} - Basic movie data - done")
    else:
        print(f"{movie_count}.'{movie_name}'({movie_id}) - {movie_page_url} - Already Collected basic movie data")
        movie_data['__SuccsefullyCollectBasicDetails']=True


    if movie_data['__SuccsefullyCollectBasicDetails']==True:
      if movie_data['__SuccsefullyCollectExtandedDetails']!=True:
        movie_main_page = requests.get(movie_page_url, headers=headers)
        movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')  
        extended_deta = get_extended_details(movie_page_url,movie_name)
        movie_data.update(extended_deta)

        print(f"{movie_count}.'{movie_name}'({movie_id}) - {movie_page_url} - Extanded movie data - done")
        sleep(0.05) 
      else:
        print(f"{movie_count}.'{movie_name}'({movie_id}) - {movie_page_url} - Already collected Extanded movie data")

    else:
      movie_data['__SuccsefullyCollectExtandedDetails'] = False;
      print(f"{movie_count}.Skipping extanded data for: {movie_name} - {movie_page_url}")

    #if i%50==0:
    #  print(movie_name,movie_page_url)

    total_movie_dataset[movie_id] = movie_data
    movie_count += 1
    

  movie_dataset = pd.DataFrame(total_movie_dataset).T
  movie_dataset.to_csv(movie_dataset_path, index=False)

  start_point += 50

movie_search_url_50_batch start point 1: https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=20,&languages=en&start=1&ref_=adv_nxt
1.'Avatar: The Way of Water'(tt1630029) - https://www.imdb.com/title/tt1630029/?ref_=adv_li_i - Already Collected basic movie data
1.'Avatar: The Way of Water'(tt1630029) - https://www.imdb.com/title/tt1630029/?ref_=adv_li_i - Already collected Extanded movie data
2.'Everything Everywhere All at Once'(tt6710474) - https://www.imdb.com/title/tt6710474/?ref_=adv_li_i - Already Collected basic movie data
2.'Everything Everywhere All at Once'(tt6710474) - https://www.imdb.com/title/tt6710474/?ref_=adv_li_i - Already collected Extanded movie data
3.'The Whale'(tt13833688) - https://www.imdb.com/title/tt13833688/?ref_=adv_li_i - Already Collected basic movie data
3.'The Whale'(tt13833688) - https://www.imdb.com/title/tt13833688/?ref_=adv_li_i - Already collected Extanded movie data
4.'Triangle of Sadness'(tt7322224) - https://www.imdb.com/title/tt7322224/?ref_=adv_li_i - Already Collected basic movie data
4.'Triangle of Sadness'(tt7322224) - https://www.imdb.com/title/tt7322224/?ref_=adv_li_i - Already collected Extanded movie data
5.'Top Gun: Maverick'(tt1745960) - https://www.imdb.com/title/tt1745960/?ref_=adv_li_i - Already Collected basic movie data
5.'Top Gun: Maverick'(tt1745960) - https://www.imdb.com/title/tt1745960/?ref_=adv_li_i - Already collected Extanded movie data
6.'The Banshees of Inisherin'(tt11813216) - https://www.imdb.com/title/tt11813216/?ref_=adv_li_i - Already Collected basic movie data
6.'The Banshees of Inisherin'(tt11813216) - https://www.imdb.com/title/tt11813216/?ref_=adv_li_i - Already collected Extanded movie data
7.'Babylon'(tt10640346) - https://www.imdb.com/title/tt10640346/?ref_=adv_li_i - Already Collected basic movie data
7.'Babylon'(tt10640346) - https://www.imdb.com/title/tt10640346/?ref_=adv_li_i - Already collected Extanded movie data
8.'The Menu'(tt9764362) - https://www.imdb.com/title/tt9764362/?ref_=adv_li_i - Already Collected basic movie data
8.'The Menu'(tt9764362) - https://www.imdb.com/title/tt9764362/?ref_=adv_li_i - Already collected Extanded movie data
9.'A Man Called Otto'(tt7405458) - https://www.imdb.com/title/tt7405458/?ref_=adv_li_i - Already Collected basic movie data
9.'A Man Called Otto'(tt7405458) - https://www.imdb.com/title/tt7405458/?ref_=adv_li_i - Already collected Extanded movie data
10.'Puss in Boots: The Last Wish'(tt3915174) - https://www.imdb.com/title/tt3915174/?ref_=adv_li_i - Already Collected basic movie data
10.'Puss in Boots: The Last Wish'(tt3915174) - https://www.imdb.com/title/tt3915174/?ref_=adv_li_i - Already collected Extanded movie data
11.'The Unbearable Weight of Massive Talent'(tt11291274) - https://www.imdb.com/title/tt11291274/?ref_=adv_li_i - Already Collected basic movie data
11.'The Unbearable Weight of Massive Talent'(tt11291274) - https://www.imdb.com/title/tt11291274/?ref_=adv_li_i - Already collected Extanded movie data
12.'X'(tt13560574) - https://www.imdb.com/title/tt13560574/?ref_=adv_li_i - Already Collected basic movie data
12.'X'(tt13560574) - https://www.imdb.com/title/tt13560574/?ref_=adv_li_i - Already collected Extanded movie data
13.'Bullet Train'(tt12593682) - https://www.imdb.com/title/tt12593682/?ref_=adv_li_i - Already Collected basic movie data
13.'Bullet Train'(tt12593682) - https://www.imdb.com/title/tt12593682/?ref_=adv_li_i - Already collected Extanded movie data
14.'Nope'(tt10954984) - https://www.imdb.com/title/tt10954984/?ref_=adv_li_i - Already Collected basic movie data
14.'Nope'(tt10954984) - https://www.imdb.com/title/tt10954984/?ref_=adv_li_i - Already collected Extanded movie data
15.'Fall'(tt15325794) - https://www.imdb.com/title/tt15325794/?ref_=adv_li_i - Already Collected basic movie data
15.'Fall'(tt15325794) - https://www.imdb.com/title/tt15325794/?ref_=adv_li_i - Already collected Extanded movie data
16.'M3GAN'(tt8760708) - https://www.imdb.com/title/tt8760708/?ref_=adv_li_i - Already Collected basic movie data
16.'M3GAN'(tt8760708) - https://www.imdb.com/title/tt8760708/?ref_=adv_li_i - Already collected Extanded movie data
17.'Scream'(tt11245972) - https://www.imdb.com/title/tt11245972/?ref_=adv_li_i - Already Collected basic movie data
17.'Scream'(tt11245972) - https://www.imdb.com/title/tt11245972/?ref_=adv_li_i - Already collected Extanded movie data
18.'Glass Onion'(tt11564570) - https://www.imdb.com/title/tt11564570/?ref_=adv_li_i - Already Collected basic movie data
18.'Glass Onion'(tt11564570) - https://www.imdb.com/title/tt11564570/?ref_=adv_li_i - Already collected Extanded movie data
19.'The Fabelmans'(tt14208870) - https://www.imdb.com/title/tt14208870/?ref_=adv_li_i - Already Collected basic movie data
19.'The Fabelmans'(tt14208870) - https://www.imdb.com/title/tt14208870/?ref_=adv_li_i - Already collected Extanded movie data
20.'Elvis'(tt3704428) - https://www.imdb.com/title/tt3704428/?ref_=adv_li_i - Already Collected basic movie data
20.'Elvis'(tt3704428) - https://www.imdb.com/title/tt3704428/?ref_=adv_li_i - Already collected Extanded movie data
21.'The Batman'(tt1877830) - https://www.imdb.com/title/tt1877830/?ref_=adv_li_i - Already Collected basic movie data
21.'The Batman'(tt1877830) - https://www.imdb.com/title/tt1877830/?ref_=adv_li_i - Already collected Extanded movie data
22.'Tár'(tt14444726) - https://www.imdb.com/title/tt14444726/?ref_=adv_li_i - Already Collected basic movie data
22.'Tár'(tt14444726) - https://www.imdb.com/title/tt14444726/?ref_=adv_li_i - Already collected Extanded movie data
23.'Black Panther: Wakanda Forever'(tt9114286) - https://www.imdb.com/title/tt9114286/?ref_=adv_li_i - Already Collected basic movie data
23.'Black Panther: Wakanda Forever'(tt9114286) - https://www.imdb.com/title/tt9114286/?ref_=adv_li_i - Already collected Extanded movie data
24.'Aftersun'(tt19770238) - https://www.imdb.com/title/tt19770238/?ref_=adv_li_i - Already Collected basic movie data
24.'Aftersun'(tt19770238) - https://www.imdb.com/title/tt19770238/?ref_=adv_li_i - Already collected Extanded movie data
25.'RRR'(tt8178634) - https://www.imdb.com/title/tt8178634/?ref_=adv_li_i - Already Collected basic movie data
25.'RRR'(tt8178634) - https://www.imdb.com/title/tt8178634/?ref_=adv_li_i - Already collected Extanded movie data
26.'Master Gardener'(tt15342244) - https://www.imdb.com/title/tt15342244/?ref_=adv_li_i - Already Collected basic movie data
26.'Master Gardener'(tt15342244) - https://www.imdb.com/title/tt15342244/?ref_=adv_li_i - Already collected Extanded movie data
27.'Smile'(tt15474916) - https://www.imdb.com/title/tt15474916/?ref_=adv_li_i - Already Collected basic movie data
27.'Smile'(tt15474916) - https://www.imdb.com/title/tt15474916/?ref_=adv_li_i - Already collected Extanded movie data
28.'Where the Crawdads Sing'(tt9411972) - https://www.imdb.com/title/tt9411972/?ref_=adv_li_i - Already Collected basic movie data
28.'Where the Crawdads Sing'(tt9411972) - https://www.imdb.com/title/tt9411972/?ref_=adv_li_i - Already collected Extanded movie data
29.'Don't Worry Darling'(tt10731256) - https://www.imdb.com/title/tt10731256/?ref_=adv_li_i - Already Collected basic movie data
29.'Don't Worry Darling'(tt10731256) - https://www.imdb.com/title/tt10731256/?ref_=adv_li_i - Already collected Extanded movie data
30.'Guillermo del Toro's Pinocchio'(tt1488589) - https://www.imdb.com/title/tt1488589/?ref_=adv_li_i - Already Collected basic movie data
30.'Guillermo del Toro's Pinocchio'(tt1488589) - https://www.imdb.com/title/tt1488589/?ref_=adv_li_i - Already collected Extanded movie data
31.'Women Talking'(tt13669038) - https://www.imdb.com/title/tt13669038/?ref_=adv_li_i - Already Collected basic movie data
31.'Women Talking'(tt13669038) - https://www.imdb.com/title/tt13669038/?ref_=adv_li_i - Already collected Extanded movie data
32.'Pearl'(tt18925334) - https://www.imdb.com/title/tt18925334/?ref_=adv_li_i - Already Collected basic movie data
32.'Pearl'(tt18925334) - https://www.imdb.com/title/tt18925334/?ref_=adv_li_i - Already collected Extanded movie data
33.'Barbarian'(tt15791034) - https://www.imdb.com/title/tt15791034/?ref_=adv_li_i - Already Collected basic movie data
33.'Barbarian'(tt15791034) - https://www.imdb.com/title/tt15791034/?ref_=adv_li_i - Already collected Extanded movie data
34.'Mrs. Harris Goes to Paris'(tt5151570) - https://www.imdb.com/title/tt5151570/?ref_=adv_li_i - Already Collected basic movie data
34.'Mrs. Harris Goes to Paris'(tt5151570) - https://www.imdb.com/title/tt5151570/?ref_=adv_li_i - Already collected Extanded movie data
35.'Black Adam'(tt6443346) - https://www.imdb.com/title/tt6443346/?ref_=adv_li_i - Already Collected basic movie data
35.'Black Adam'(tt6443346) - https://www.imdb.com/title/tt6443346/?ref_=adv_li_i - Already collected Extanded movie data
36.'Sisu'(tt14846026) - https://www.imdb.com/title/tt14846026/?ref_=adv_li_i - Already Collected basic movie data
36.'Sisu'(tt14846026) - https://www.imdb.com/title/tt14846026/?ref_=adv_li_i - Already collected Extanded movie data
37.'Amsterdam'(tt10304142) - https://www.imdb.com/title/tt10304142/?ref_=adv_li_i - Already Collected basic movie data
37.'Amsterdam'(tt10304142) - https://www.imdb.com/title/tt10304142/?ref_=adv_li_i - Already collected Extanded movie data
38.'The Pale Blue Eye'(tt14138650) - https://www.imdb.com/title/tt14138650/?ref_=adv_li_i - Already Collected basic movie data
38.'The Pale Blue Eye'(tt14138650) - https://www.imdb.com/title/tt14138650/?ref_=adv_li_i - Already collected Extanded movie data
39.'Three Thousand Years of Longing'(tt9198364) - https://www.imdb.com/title/tt9198364/?ref_=adv_li_i - Already Collected basic movie data
39.'Three Thousand Years of Longing'(tt9198364) - https://www.imdb.com/title/tt9198364/?ref_=adv_li_i - Already collected Extanded movie data
40.'Jurassic World: Dominion'(tt8041270) - https://www.imdb.com/title/tt8041270/?ref_=adv_li_i - Already Collected basic movie data
40.'Jurassic World: Dominion'(tt8041270) - https://www.imdb.com/title/tt8041270/?ref_=adv_li_i - Already collected Extanded movie data
41.'Thor: Love and Thunder'(tt10648342) - https://www.imdb.com/title/tt10648342/?ref_=adv_li_i - Already Collected basic movie data
41.'Thor: Love and Thunder'(tt10648342) - https://www.imdb.com/title/tt10648342/?ref_=adv_li_i - Already collected Extanded movie data
42.'Living'(tt9051908) - https://www.imdb.com/title/tt9051908/?ref_=adv_li_i - Already Collected basic movie data
42.'Living'(tt9051908) - https://www.imdb.com/title/tt9051908/?ref_=adv_li_i - Already collected Extanded movie data
43.'The Northman'(tt11138512) - https://www.imdb.com/title/tt11138512/?ref_=adv_li_i - Already Collected basic movie data
43.'The Northman'(tt11138512) - https://www.imdb.com/title/tt11138512/?ref_=adv_li_i - Already collected Extanded movie data
44.'Close'(tt9660502) - https://www.imdb.com/title/tt9660502/?ref_=adv_li_i - Already Collected basic movie data
44.'Close'(tt9660502) - https://www.imdb.com/title/tt9660502/?ref_=adv_li_i - Already collected Extanded movie data
45.'The Gray Man'(tt1649418) - https://www.imdb.com/title/tt1649418/?ref_=adv_li_i - Already Collected basic movie data
45.'The Gray Man'(tt1649418) - https://www.imdb.com/title/tt1649418/?ref_=adv_li_i - Already collected Extanded movie data
46.'Chevalier'(tt12758486) - https://www.imdb.com/title/tt12758486/?ref_=adv_li_i - Already Collected basic movie data
46.'Chevalier'(tt12758486) - https://www.imdb.com/title/tt12758486/?ref_=adv_li_i - Already collected Extanded movie data
47.'The Lost King'(tt13421498) - https://www.imdb.com/title/tt13421498/?ref_=adv_li_i - Already Collected basic movie data
47.'The Lost King'(tt13421498) - https://www.imdb.com/title/tt13421498/?ref_=adv_li_i - Already collected Extanded movie data
48.'The Woman King'(tt8093700) - https://www.imdb.com/title/tt8093700/?ref_=adv_li_i - Already Collected basic movie data
48.'The Woman King'(tt8093700) - https://www.imdb.com/title/tt8093700/?ref_=adv_li_i - Already collected Extanded movie data
49.'The Estate'(tt16302202) - https://www.imdb.com/title/tt16302202/?ref_=adv_li_i - Already Collected basic movie data
49.'The Estate'(tt16302202) - https://www.imdb.com/title/tt16302202/?ref_=adv_li_i - Already collected Extanded movie data
50.'Empire of Light'(tt14402146) - https://www.imdb.com/title/tt14402146/?ref_=adv_li_i - Already Collected basic movie data
50.'Empire of Light'(tt14402146) - https://www.imdb.com/title/tt14402146/?ref_=adv_li_i - Already collected Extanded movie data

In [46]:
len(total_movie_dataset.keys())

50

In [48]:
movie_dataset = pd.DataFrame(total_movie_dataset).T
movie_dataset.to_csv("/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv", index=False)

movie_dataset

,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id,movie_thubmnail,movie_metascore,movie_description,runtime_min,...,budget,budget_usd,budget_currency,gross_worldwide,gross_us_canada,opening_weekend_us_canada,origin_country,languages,Director_2_name,Director_2_imdb_id
tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67,Jake Sully lives with his newfound family form...,192,...,"$350,000,000",350000000.0,USD,"$2,312,511,122","$682,094,913","$134,100,226",United States,English,NaN,NaN
tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81,A middle-aged Chinese immigrant is swept up in...,139,...,"$14,300,000",14300000.0,USD,"$136,562,186","$77,020,896","$501,305",United States,"English,Mandarin,Cantonese",Daniel Scheinert,nm3215397
tt13833688,True,True,The Whale,https://www.imdb.com/title/tt13833688/?ref_=ad...,3,tt13833688,https://m.media-amazon.com/images/S/sash/4Fyxw...,60,"A reclusive, morbidly obese English teacher at...",117,...,"$10,000,000",10000000.0,USD,"$54,239,517","$17,443,137","$332,152",United States,English,NaN,NaN
tt7322224,True,True,Triangle of Sadness,https://www.imdb.com/title/tt7322224/?ref_=adv...,4,tt7322224,https://m.media-amazon.com/images/S/sash/4Fyxw...,63,A fashion model celebrity couple join an event...,147,...,"€10,000,000",None,EUR,"$25,394,333","$4,608,096","$214,602",None,"English,Swedish,German,French,Greek,Tagalog,Akan",NaN,NaN
tt1745960,True,True,Top Gun: Maverick,https://www.imdb.com/title/tt1745960/?ref_=adv...,5,tt1745960,https://m.media-amazon.com/images/S/sash/4Fyxw...,78,"After thirty years, Maverick is still pushing ...",130,...,"$170,000,000",170000000.0,USD,"$1,493,491,858","$718,732,821","$126,707,459",United States,English,NaN,NaN
tt11813216,True,True,The Banshees of Inisherin,https://www.imdb.com/title/tt11813216/?ref_=ad...,6,tt11813216,https://m.media-amazon.com/images/S/sash/4Fyxw...,87,Two lifelong friends find themselves at an imp...,114,...,None,NaN,NaN,"$48,884,190","$10,582,266","$184,454",None,English,NaN,NaN
tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,7,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60,A tale of outsized ambition and outrageous exc...,189,...,"$78,000,000",78000000.0,USD,"$63,376,532","$15,351,455","$3,603,368",United States,"English,Spanish,Italian,Cantonese,French,Hunga...",NaN,NaN
tt9764362,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,8,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71,A young couple travels to a remote island to e...,107,...,"$35,000,000",35000000.0,USD,"$79,628,200","$38,501,125","$9,004,957",United States,"English,Spanish",NaN,NaN
tt7405458,True,True,A Man Called Otto,https://www.imdb.com/title/tt7405458/?ref_=adv...,9,tt7405458,https://m.media-amazon.com/images/S/sash/4Fyxw...,51,Otto is a grump who's given up on life followi...,126,...,"$50,000,000",50000000.0,USD,"$109,046,909","$64,246,909","$56,257",None,"English,Spanish",NaN,NaN
tt3915174,True,True,Puss in Boots: The Last Wish,https://www.imdb.com/title/tt3915174/?ref_=adv...,10,tt3915174,https://m.media-amazon.com/images/S/sash/4Fyxw...,73,When Puss in Boots discovers that his passion ...,102,...,"$90,000,000",90000000.0,USD,"$479,402,714","$185,007,575","$12,429,515",None,"English,Spanish",Januel Mercado,nm2591093
tt11291274,True,True,The Unbearable Weight of Massive Talent,https://www.imdb.com/title/tt11291274/?ref_=ad...,11,tt11291274,https://m.media-amazon.com/images/S/sash/4Fyxw...,68,Moviestar Nick Cage is channeling his iconic c...,107,...,"$30,000,000",30000000.0,USD,"$29,116,320","$20,300,157","$7,131,703",United States,"English,Spanish",NaN,NaN
tt13560574,True,True,X,https://www.imdb.com/title/tt13560574/?ref_=ad...,12,tt13560574,https://m.media-amazon.com/images/S/sash/4Fyxw...,79,"In 1979, a group of young filmmakers set out t...",105,...,"$1,000,000",1000000.0,USD,"$14,740,889","$11,765,309","$4,275,126",None,English,NaN,NaN
tt12593682,True,True,Bullet Train,https://www.imdb.com/title/tt12593682/?ref_=ad...,13,tt12593682,https://m.media-amazon.com/images/S/sash/4Fyxw...,49,Five assassins aboard a swiftly-moving bullet ...,127,...,"$85,900,000",85900000.0,USD,"$239,268,602","$103,368,602","$30,030,156",None,"English,Japanese,Spanish,Russian",NaN,NaN
tt10954984,True,True,Nope,https://www.imdb.com/title/tt10954984/?ref_=ad...,14,tt10954984,https://m.media-amazon.com/images/S/sash/4Fyxw...,77,The residents of a lonely gulch in inland Cali...,130,...,"$68,000,000",68000000.0,USD,"$171,235,592","$123,277,080","$44,366,910",None,"English,Spanish",NaN,NaN
tt15325794,True,True,Fall,https://www.imdb.com/title/tt15325794/?ref_=ad...,15,tt15325794,https://m.media-amazon.com/images/S/sash/4Fyxw...,62,Best friends Becky and Hunter find themselves ...,107,...,"$3,000,000",3000000.0,USD,"$17,363,261","$7,240,521","$2,512,145",None,English,NaN,NaN
tt8760708,True,True,M3GAN,https://www.imdb.com/title/tt8760708/?ref_=adv...,16,tt8760708,https://m.media-amazon.com/images/S/sash/4Fyxw...,72,A robotics engineer at a toy company builds a ...,102,...,"$12,000,000",12000000.0,USD,"$176,110,350","$95,043,350","$30,429,860",None,English,NaN,NaN
tt11245972,True,True,Scream,https://www.imdb.com/title/tt11245972/?ref_=ad...,17,tt11245972,https://m.media-amazon.com/images/S/sash/4Fyxw...,60,25 years after a streak of brutal murders shoc...,114,...,"$24,000,000",24000000.0,USD,"$137,743,924","$81,641,405","$30,018,805",United States,English,Tyler Gillett,nm2419470
tt11564570,True,True,Glass Onion,https://www.imdb.com/title/tt11564570/?ref_=ad...,18,tt11564570,https://m.media-amazon.com/images/S/sash/4Fyxw...,81,Famed Southern detective Benoit Blanc travels ...,139,...,"$40,000,000",40000000.0,USD,"$13,280,000","$13,280,000","$9,400,000",United States,English,NaN,NaN
tt14208870,True,True,The Fabelmans,https://www.imdb.com/title/tt14208870/?ref_=ad...,19,tt14208870,https://m.media-amazon.com/images/S/sash/4Fyxw...,84,"Growing up in post-World War II era Arizona, y...",151,...,"$40,000,000",40000000.0,USD,"$44,441,155","$17,348,945","$161,579",None,English,NaN,NaN
tt3704428,True,True,Elvis,https://www.imdb.com/title/tt3704428/?ref_=adv...,20,tt3704428,https://m.media-amazon.com/images/S/sash/4Fyxw...,64,"The life of American music icon Elvis Presley,...",159,...,"$85,000,000",85000000.0,USD,"$288,670,284","$151,040,048","$31,211,579",None,English,NaN,NaN
tt1877830,True,True,The Batman,https://www.imdb.com/title/tt1877830/?ref_=adv...,21,tt1877830,https://m.media-amazon.com/images/S/sash/4Fyxw...,72,When a sadistic serial killer begins murdering...,176,...,"$200,000,000",200000000.0,USD,"$770,945,583","$369,345,583","$134,008,624",United States,"English,Spanish,Latin,Italian",NaN,NaN
tt14444726,True,True,Tár,https://www.imdb.com/title/tt14444726/?ref_=ad...,22,tt14444726,https://m.media-amazon.com/images/S/sash/4Fyxw...,92,Set in the international world of Western clas...,158,...,"$25,000,000",25000000.0,USD,"$26,094,016","$6,773,650","$158,620",United States,"English,German,Filipino,French",NaN,NaN
tt9114286,True,True,Black Panther: Wakanda Forever,https://www.imdb.com/title/tt9114286/?ref_=adv...,23,tt9114286,https://m.media-amazon.com/images/S/sash/4Fyxw...,67,The people of Wakanda fight to protect their h...,161,...,"$250,000,000",250000000.0,USD,"$859,102,154","$453,829,060","$181,339,761",United States,"English,Xhosa,Maya,Spanish,Haitian,French",NaN,NaN
tt19770238,True,True,Aftersun,https://www.imdb.com/title/tt19770238/?ref_=ad...,24,tt19770238,https://m.media-amazon.com/images/S/sash/4Fyxw...,95,Sophie reflects on the shared joy and private ...,102,...,None,NaN,NaN,"$7,865,669","$1,658,790","$60,752",None,English,NaN,NaN
tt8178634,True,True,RRR,https://www.imdb.com/title/tt8178634/?ref_=adv...,25,tt8178634,https://m.media-amazon.com/images/S/sash/4Fyxw...,83,A fictitious story about two legendary revolut...,187,...,"₹3,500,000,000",None,INR,"$161,597,279","$15,156,051","$9,500,000",India,"Telugu,English",NaN,NaN
tt15342244,True,True,Master Gardener,https://www.imdb.com/title/tt15342244/?ref_=ad...,26,tt15342244,https://m.media-amazon.com/images/S/sash/4Fyxw...,59,A meticulous horticulturist who is devoted to ...,107,...,None,NaN,NaN,None,None,None,United States,English,NaN,NaN
tt15474916,True,True,Smile,https://www.imdb.com/title/tt15474916/?ref_=ad...,27,tt15474916,https://m.media-amazon.com/images/S/sash/4Fyxw...,68,"After witnessing a bizarre, traumatic incident...",115,...,"$17,000,000",17000000.0,USD,"$217,408,513","$105,935,048","$22,609,925",United States,"English,Spanish",NaN,NaN
tt9411972,True,True,Where the Crawdads Sing,https://www.imdb.com/title/tt9411972/?ref_=adv...,28,tt9411972,https://m.media-amazon.com/images/S/sash/4Fyxw...,43,A woman who raised herself in the marshes of t...,125,...,"$24,000,000",24000000.0,USD,"$140,230,760","$90,230,760","$17,253,227",United States,English,NaN,NaN
tt10731256,True,True,Don't Worry Darling,https://www.imdb.com/title/tt10731256/?ref_=ad...,29,tt10731256,https://m.media-amazon.com/images/S/sash/4Fyxw...,48,A 1950s housewife living with her husband in a...,123,...,"$20,000,000",20000000.0,USD,"$87,609,403","$45,309,403","$19,353,213",United States,English,NaN,NaN
tt1488589,True,True,Guillermo del Toro's Pinocchio,https://www.imdb.com/title/tt1488589/?ref_=adv...,30,tt1488589,https://m.media-amazon.com/images/S/sash/4Fyxw...,79,A father's wish magically brings a wooden boy ...,117,...,"$35,000,000",35000000.0,USD,"$109,846",None,None,None,English,Mark Gustafson,nm0348993
tt13669038,True,True,Women Talking,https://www.imdb.com/title/tt13669038/?ref_=ad...,31,tt13669038,https://m.media-amazon.com/images/S/sash/4Fyxw...,79,"Do nothing, stay and fight, or leave. In 2010,...",104,...,None,NaN,NaN,"$8,855,231","$5,456,531","$40,530",United States,English,NaN,NaN
tt18925334,True,True,Pearl,https://www.imdb.com/title/tt18925334/?ref_=ad...,32,tt18925334,https://m.media-amazon.com/images/S/sash/4Fyxw...,76,"In 1918, a young woman on the brink of madness...",103,...,None,NaN,NaN,"$9,744,096","$9,423,445","$3,128,427",None,"English,German",NaN,NaN
tt15791034,True,True,Barbarian,https://www.imdb.com/title/tt15791034/?ref_=ad...,33,tt15791034,https://m.media-amazon.com/images/S/sash/4Fyxw...,78,A woman staying at an Airbnb discovers that th...,102,...,"$4,500,000",4500000.0,USD,"$45,352,337","$40,842,944","$10,543,948",United States,English,NaN,NaN
tt5151570,True,True,Mrs. Harris Goes to Paris,https://www.imdb.com/title/tt5151570/?ref_=adv...,34,tt5151570,https://m.media-amazon.com/images/S/sash/4Fyxw...,70,A widowed cleaning lady in 1950s London falls ...,115,...,"$13,000,000",13000000.0,USD,"$30,784,335","$10,433,915","$1,953,070",None,"English,French",NaN,NaN
tt6443346,True,True,Black Adam,https://www.imdb.com/title/tt6443346/?ref_=adv...,35,tt6443346,https://m.media-amazon.com/images/S/sash/4Fyxw...,41,"Nearly 5,000 years after he was bestowed with ...",125,...,"$195,000,000",195000000.0,USD,"$393,252,111","$168,152,111","$67,004,323",None,English,NaN,NaN
tt14846026,True,True,Sisu,https://www.imdb.com/title/tt14846026/?ref_=ad...,36,tt14846026,https://m.media-amazon.com/images/S/sash/4Fyxw...,None,When an ex-soldier who discovers gold in the L...,91,...,None,NaN,NaN,None,None,None,Finland,"Finnish,English",NaN,NaN
tt10304142,True,True,Amsterdam,https://www.imdb.com/title/tt10304142/?ref_=ad...,37,tt10304142,https://m.media-amazon.com/images/S/sash/4Fyxw...,48,"In the 1930s, three friends witness a murder, ...",134,...,"$80,000,000",80000000.0,USD,"$31,245,810","$14,947,969","$6,444,896",None,"English,French",NaN,NaN
tt14138650,True,True,The Pale Blue Eye,https://www.imdb.com/title/tt14138650/?ref_=ad...,38,tt14138650,https://m.media-amazon.com/images/S/sash/4Fyxw...,56,A world-weary detective is hired to investigat...,128,...,"$72,000,000",72000000.0,USD,None,None,None,United States,"English,French,Latin",NaN,NaN
tt9198364,True,True,Three Thousand Years of Longing,https://www.imdb.com/title/tt9198364/?ref_=adv...,39,tt9198364,https://m.media-amazon.com/images/S/sash/4Fyxw...,60,"A lonely scholar, on a trip to Istanbul, disco...",108,...,"$60,000,000",60000000.0,USD,"$20,264,010","$8,286,741","$2,919,717",None,"English,Greek, Ancient (to 1453),Turkish,Germa...",NaN,NaN
tt8041270,True,True,Jurassic World: Dominion,https://www.imdb.com/title/tt8041270/?ref_=adv...,40,tt8041270,https://m.media-amazon.com/images/S/sash/4Fyxw...,38,Four years after the destruction of Isla Nubla...,147,...,"$165,000,000",165000000.0,USD,"$1,001,978,080","$376,851,080","$145,075,625",None,English,NaN,NaN
tt10648342,True,True,Thor: Love and Thunder,https://www.imdb.com/title/tt10648342/?ref_=ad...,41,tt10648342,https://m.media-amazon.com/images/S/sash/4Fyxw...,57,"Thor enlists the help of Valkyrie, Korg and ex...",118,...,"$250,000,000",250000000.0,USD,"$760,928,081","$343,256,830","$144,165,107",None,English,NaN,NaN
tt9051908,True,True,Living,https://www.imdb.com/title/tt9051908/?ref_=adv...,42,tt9051908,https://m.media-amazon.com/images/S/sash/4Fyxw...,81,"In 1950s London, a humorless bureaucrat decide...",102,...,None,NaN,NaN,"$11,757,371","$3,025,227","$22,784",None,English,NaN,NaN
tt11138512,True,True,The Northman,https://www.imdb.com/title/tt11138512/?ref_=ad...,43,tt11138512,https://m.media-amazon.com/images/S/sash/4Fyxw...,82,A young Viking prince is on a quest to avenge ...,137,...,"$60,000,000",60000000.0,USD,"$69,633,110","$34,233,110","$12,290,800",None,"Ukrainian,English,Norse, Old",NaN,NaN
tt9660502,True,True,Close,https://www.imdb.com/title/tt9660502/?ref_=adv...,44,tt9660502,https://m.media-amazon.com/images/S/sash/4Fyxw...,81,The intense friendship between two thirteen-ye...,104,...,None,NaN,NaN,"$5,058,208","$1,100,113","$61,376",None,"French,Flemish,Dutch,English",NaN,NaN
tt1649418,True,True,The Gray Man,https://www.imdb.com/title/tt1649418/?ref_=adv...,45,tt1649418,https://m.media-amazon.com/images/S/sash/4Fyxw...,49,"When the CIA's most skilled operative, whose t...",122,...,"$200,000,000",200000000.0,USD,"$454,023",None,None,None,English,Joe Russo,nm0751648
tt12758486,True,True,Chevalier,https://www.imdb.com/title/tt12758486/?ref_=ad...,46,tt12758486,https://m.media-amazon.com/images/S/sash/4Fyxw...,66,Based on the true story of composer Joseph Bol...,107,...,None,NaN,NaN,None,None,None,United States,English,NaN,NaN
tt13421498,True,True,The Lost King,https://www.imdb.com/title/tt13421498/?ref_=ad...,47,tt13421498,https://m.media-amazon.com/images/S/sash/4Fyxw...,64,An amateur historian defies the stodgy academi...,108,...,None,NaN,NaN,"$4,169,435","$931,881","$516,462",United Kingdom,English,NaN,NaN
tt8093700,True,True,The Woman King,https://www.imdb.com/title/tt8093700/?ref_=adv...,48,tt8093700,https://m.media-amazon.com/images/S/sash/4Fyxw...,77,A historical epic inspired by true events that...,135,...,"$50,000,000",50000000.0,USD,"$97,250,903","$67,328,130","$19,051,442",United States,"English,Portuguese",NaN,NaN
tt16302202,True,True,The Estate,https://www.imdb.com/title/tt16302202/?ref_=ad...,49,tt16302202,https://m.media-amazon.com/images/S/sash/4Fyxw...,37,Two sisters attempt to win over their terminal...,96,...,None,NaN,NaN,"$572,062",None,None,United Kingdom,English,NaN,NaN
tt14402146,True,True,Empire of Light,https://www.imdb.com/title/tt14402146/?ref_=ad...,50,tt14402146,https://m.media-amazon.com/images/S/sash/4Fyxw...,54,A drama about the power of human connection du...,115,...,None,NaN,NaN,"$10,092,025","$1,177,577","$163,405",None,English,NaN,NaN

In [55]:
languages = movie_main_page_soup.find('span',string="Language") if movie_main_page_soup.find('span',string="Languages") is None else movie_main_page_soup.find('span',string="Languages")
languages = [] if not languages else languages.find_next_sibling().find_all('a')
",".join([language.text for language in languages])

'English'

In [56]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time
import traceback
import math

In [57]:
movie_dataset = pd.read_csv('/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv')
movie_dataset

,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id,movie_thubmnail,movie_metascore,movie_description,runtime_min,...,budget,budget_usd,budget_currency,gross_worldwide,gross_us_canada,opening_weekend_us_canada,origin_country,languages,Director_2_name,Director_2_imdb_id
0,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,192,...,"$350,000,000",350000000.0,USD,"$2,312,511,122","$682,094,913","$134,100,226",United States,English,NaN,NaN
1,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,139,...,"$14,300,000",14300000.0,USD,"$136,562,186","$77,020,896","$501,305",United States,"English,Mandarin,Cantonese",Daniel Scheinert,nm3215397
2,True,True,The Whale,https://www.imdb.com/title/tt13833688/?ref_=ad...,3,tt13833688,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,"A reclusive, morbidly obese English teacher at...",117,...,"$10,000,000",10000000.0,USD,"$54,239,517","$17,443,137","$332,152",United States,English,NaN,NaN
3,True,True,Triangle of Sadness,https://www.imdb.com/title/tt7322224/?ref_=adv...,4,tt7322224,https://m.media-amazon.com/images/S/sash/4Fyxw...,63.0,A fashion model celebrity couple join an event...,147,...,"€10,000,000",NaN,EUR,"$25,394,333","$4,608,096","$214,602",NaN,"English,Swedish,German,French,Greek,Tagalog,Akan",NaN,NaN
4,True,True,Top Gun: Maverick,https://www.imdb.com/title/tt1745960/?ref_=adv...,5,tt1745960,https://m.media-amazon.com/images/S/sash/4Fyxw...,78.0,"After thirty years, Maverick is still pushing ...",130,...,"$170,000,000",170000000.0,USD,"$1,493,491,858","$718,732,821","$126,707,459",United States,English,NaN,NaN
5,True,True,The Banshees of Inisherin,https://www.imdb.com/title/tt11813216/?ref_=ad...,6,tt11813216,https://m.media-amazon.com/images/S/sash/4Fyxw...,87.0,Two lifelong friends find themselves at an imp...,114,...,NaN,NaN,NaN,"$48,884,190","$10,582,266","$184,454",NaN,English,NaN,NaN
6,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,7,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,189,...,"$78,000,000",78000000.0,USD,"$63,376,532","$15,351,455","$3,603,368",United States,"English,Spanish,Italian,Cantonese,French,Hunga...",NaN,NaN
7,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,8,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71.0,A young couple travels to a remote island to e...,107,...,"$35,000,000",35000000.0,USD,"$79,628,200","$38,501,125","$9,004,957",United States,"English,Spanish",NaN,NaN
8,True,True,A Man Called Otto,https://www.imdb.com/title/tt7405458/?ref_=adv...,9,tt7405458,https://m.media-amazon.com/images/S/sash/4Fyxw...,51.0,Otto is a grump who's given up on life followi...,126,...,"$50,000,000",50000000.0,USD,"$109,046,909","$64,246,909","$56,257",NaN,"English,Spanish",NaN,NaN
9,True,True,Puss in Boots: The Last Wish,https://www.imdb.com/title/tt3915174/?ref_=adv...,10,tt3915174,https://m.media-amazon.com/images/S/sash/4Fyxw...,73.0,When Puss in Boots discovers that his passion ...,102,...,"$90,000,000",90000000.0,USD,"$479,402,714","$185,007,575","$12,429,515",NaN,"English,Spanish",Januel Mercado,nm2591093
10,True,True,The Unbearable Weight of Massive Talent,https://www.imdb.com/title/tt11291274/?ref_=ad...,11,tt11291274,https://m.media-amazon.com/images/S/sash/4Fyxw...,68.0,Moviestar Nick Cage is channeling his iconic c...,107,...,"$30,000,000",30000000.0,USD,"$29,116,320","$20,300,157","$7,131,703",United States,"English,Spanish",NaN,NaN
11,True,True,X,https://www.imdb.com/title/tt13560574/?ref_=ad...,12,tt13560574,https://m.media-amazon.com/images/S/sash/4Fyxw...,79.0,"In 1979, a group of young filmmakers set out t...",105,...,"$1,000,000",1000000.0,USD,"$14,740,889","$11,765,309","$4,275,126",NaN,English,NaN,NaN
12,True,True,Bullet Train,https://www.imdb.com/title/tt12593682/?ref_=ad...,13,tt12593682,https://m.media-amazon.com/images/S/sash/4Fyxw...,49.0,Five assassins aboard a swiftly-moving bullet ...,127,...,"$85,900,000",85900000.0,USD,"$239,268,602","$103,368,602","$30,030,156",NaN,"English,Japanese,Spanish,Russian",NaN,NaN
13,True,True,Nope,https://www.imdb.com/title/tt10954984/?ref_=ad...,14,tt10954984,https://m.media-amazon.com/images/S/sash/4Fyxw...,77.0,The residents of a lonely gulch in inland Cali...,130,...,"$68,000,000",68000000.0,USD,"$171,235,592","$123,277,080","$44,366,910",NaN,"English,Spanish",NaN,NaN
14,True,True,Fall,https://www.imdb.com/title/tt15325794/?ref_=ad...,15,tt15325794,https://m.media-amazon.com/images/S/sash/4Fyxw...,62.0,Best friends Becky and Hunter find themselves ...,107,...,"$3,000,000",3000000.0,USD,"$17,363,261","$7,240,521","$2,512,145",NaN,English,NaN,NaN
15,True,True,M3GAN,https://www.imdb.com/title/tt8760708/?ref_=adv...,16,tt8760708,https://m.media-amazon.com/images/S/sash/4Fyxw...,72.0,A robotics engineer at a toy company builds a ...,102,...,"$12,000,000",12000000.0,USD,"$176,110,350","$95,043,350","$30,429,860",NaN,English,NaN,NaN
16,True,True,Scream,https://www.imdb.com/title/tt11245972/?ref_=ad...,17,tt11245972,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,25 years after a streak of brutal murders shoc...,114,...,"$24,000,000",24000000.0,USD,"$137,743,924","$81,641,405","$30,018,805",United States,English,Tyler Gillett,nm2419470
17,True,True,Glass Onion,https://www.imdb.com/title/tt11564570/?ref_=ad...,18,tt11564570,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,Famed Southern detective Benoit Blanc travels ...,139,...,"$40,000,000",40000000.0,USD,"$13,280,000","$13,280,000","$9,400,000",United States,English,NaN,NaN
18,True,True,The Fabelmans,https://www.imdb.com/title/tt14208870/?ref_=ad...,19,tt14208870,https://m.media-amazon.com/images/S/sash/4Fyxw...,84.0,"Growing up in post-World War II era Arizona, y...",151,...,"$40,000,000",40000000.0,USD,"$44,441,155","$17,348,945","$161,579",NaN,English,NaN,NaN
19,True,True,Elvis,https://www.imdb.com/title/tt3704428/?ref_=adv...,20,tt3704428,https://m.media-amazon.com/images/S/sash/4Fyxw...,64.0,"The life of American music icon Elvis Presley,...",159,...,"$85,000,000",85000000.0,USD,"$288,670,284","$151,040,048","$31,211,579",NaN,English,NaN,NaN
20,True,True,The Batman,https://www.imdb.com/title/tt1877830/?ref_=adv...,21,tt1877830,https://m.media-amazon.com/images/S/sash/4Fyxw...,72.0,When a sadistic serial killer begins murdering...,176,...,"$200,000,000",200000000.0,USD,"$770,945,583","$369,345,583","$134,008,624",United States,"English,Spanish,Latin,Italian",NaN,NaN
21,True,True,Tár,https://www.imdb.com/title/tt14444726/?ref_=ad...,22,tt14444726,https://m.media-amazon.com/images/S/sash/4Fyxw...,92.0,Set in the international world of Western clas...,158,...,"$25,000,000",25000000.0,USD,"$26,094,016","$6,773,650","$158,620",United States,"English,German,Filipino,French",NaN,NaN
22,True,True,Black Panther: Wakanda Forever,https://www.imdb.com/title/tt9114286/?ref_=adv...,23,tt9114286,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,The people of Wakanda fight to protect their h...,161,...,"$250,000,000",250000000.0,USD,"$859,102,154","$453,829,060","$181,339,761",United States,"English,Xhosa,Maya,Spanish,Haitian,French",NaN,NaN
23,True,True,Aftersun,https://www.imdb.com/title/tt19770238/?ref_=ad...,24,tt19770238,https://m.media-amazon.com/images/S/sash/4Fyxw...,95.0,Sophie reflects on the shared joy and private ...,102,...,NaN,NaN,NaN,"$7,865,669","$1,658,790","$60,752",NaN,English,NaN,NaN
24,True,True,RRR,https://www.imdb.com/title/tt8178634/?ref_=adv...,25,tt8178634,https://m.media-amazon.com/images/S/sash/4Fyxw...,83.0,A fictitious story about two legendary revolut...,187,...,"₹3,500,000,000",NaN,INR,"$161,597,279","$15,156,051","$9,500,000",India,"Telugu,English",NaN,NaN
25,True,True,Master Gardener,https://www.imdb.com/title/tt15342244/?ref_=ad...,26,tt15342244,https://m.media-amazon.com/images/S/sash/4Fyxw...,59.0,A meticulous horticulturist who is devoted to ...,107,...,NaN,NaN,NaN,NaN,NaN,NaN,United States,English,NaN,NaN
26,True,True,Smile,https://www.imdb.com/title/tt15474916/?ref_=ad...,27,tt15474916,https://m.media-amazon.com/images/S/sash/4Fyxw...,68.0,"After witnessing a bizarre, traumatic incident...",115,...,"$17,000,000",17000000.0,USD,"$217,408,513","$105,935,048","$22,609,925",United States,"English,Spanish",NaN,NaN
27,True,True,Where the Crawdads Sing,https://www.imdb.com/title/tt9411972/?ref_=adv...,28,tt9411972,https://m.media-amazon.com/images/S/sash/4Fyxw...,43.0,A woman who raised herself in the marshes of t...,125,...,"$24,000,000",24000000.0,USD,"$140,230,760","$90,230,760","$17,253,227",United States,English,NaN,NaN
28,True,True,Don't Worry Darling,https://www.imdb.com/title/tt10731256/?ref_=ad...,29,tt10731256,https://m.media-amazon.com/images/S/sash/4Fyxw...,48.0,A 1950s housewife living with her husband in a...,123,...,"$20,000,000",20000000.0,USD,"$87,609,403","$45,309,403","$19,353,213",United States,English,NaN,NaN
29,True,True,Guillermo del Toro's Pinocchio,https://www.imdb.com/title/tt1488589/?ref_=adv...,30,tt1488589,https://m.media-amazon.com/images/S/sash/4Fyxw...,79.0,A father's wish magically brings a wooden boy ...,117,...,"$35,000,000",35000000.0,USD,"$109,846",NaN,NaN,NaN,English,Mark Gustafson,nm0348993
30,True,True,Women Talking,https://www.imdb.com/title/tt13669038/?ref_=ad...,31,tt13669038,https://m.media-amazon.com/images/S/sash/4Fyxw...,79.0,"Do nothing, stay and fight, or leave. In 2010,...",104,...,NaN,NaN,NaN,"$8,855,231","$5,456,531","$40,530",United States,English,NaN,NaN
31,True,True,Pearl,https://www.imdb.com/title/tt18925334/?ref_=ad...,32,tt18925334,https://m.media-amazon.com/images/S/sash/4Fyxw...,76.0,"In 1918, a young woman on the brink of madness...",103,...,NaN,NaN,NaN,"$9,744,096","$9,423,445","$3,128,427",NaN,"English,German",NaN,NaN
32,True,True,Barbarian,https://www.imdb.com/title/tt15791034/?ref_=ad...,33,tt15791034,https://m.media-amazon.com/images/S/sash/4Fyxw...,78.0,A woman staying at an Airbnb discovers that th...,102,...,"$4,500,000",4500000.0,USD,"$45,352,337","$40,842,944","$10,543,948",United States,English,NaN,NaN
33,True,True,Mrs. Harris Goes to Paris,https://www.imdb.com/title/tt5151570/?ref_=adv...,34,tt5151570,https://m.media-amazon.com/images/S/sash/4Fyxw...,70.0,A widowed cleaning lady in 1950s London falls ...,115,...,"$13,000,000",13000000.0,USD,"$30,784,335","$10,433,915","$1,953,070",NaN,"English,French",NaN,NaN
34,True,True,Black Adam,https://www.imdb.com/title/tt6443346/?ref_=adv...,35,tt6443346,https://m.media-amazon.com/images/S/sash/4Fyxw...,41.0,"Nearly 5,000 years after he was bestowed with ...",125,...,"$195,000,000",195000000.0,USD,"$393,252,111","$168,152,111","$67,004,323",NaN,English,NaN,NaN
35,True,True,Sisu,https://www.imdb.com/title/tt14846026/?ref_=ad...,36,tt14846026,https://m.media-amazon.com/images/S/sash/4Fyxw...,NaN,When an ex-soldier who discovers gold in the L...,91,...,NaN,NaN,NaN,NaN,NaN,NaN,Finland,"Finnish,English",NaN,NaN
36,True,True,Amsterdam,https://www.imdb.com/title/tt10304142/?ref_=ad...,37,tt10304142,https://m.media-amazon.com/images/S/sash/4Fyxw...,48.0,"In the 1930s, three friends witness a murder, ...",134,...,"$80,000,000",80000000.0,USD,"$31,245,810","$14,947,969","$6,444,896",NaN,"English,French",NaN,NaN
37,True,True,The Pale Blue Eye,https://www.imdb.com/title/tt14138650/?ref_=ad...,38,tt14138650,https://m.media-amazon.com/images/S/sash/4Fyxw...,56.0,A world-weary detective is hired to investigat...,128,...,"$72,000,000",72000000.0,USD,NaN,NaN,NaN,United States,"English,French,Latin",NaN,NaN
38,True,True,Three Thousand Years of Longing,https://www.imdb.com/title/tt9198364/?ref_=adv...,39,tt9198364,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,"A lonely scholar, on a trip to Istanbul, disco...",108,...,"$60,000,000",60000000.0,USD,"$20,264,010","$8,286,741","$2,919,717",NaN,"English,Greek, Ancient (to 1453),Turkish,Germa...",NaN,NaN
39,True,True,Jurassic World: Dominion,https://www.imdb.com/title/tt8041270/?ref_=adv...,40,tt8041270,https://m.media-amazon.com/images/S/sash/4Fyxw...,38.0,Four years after the destruction of Isla Nubla...,147,...,"$165,000,000",165000000.0,USD,"$1,001,978,080","$376,851,080","$145,075,625",NaN,English,NaN,NaN
40,True,True,Thor: Love and Thunder,https://www.imdb.com/title/tt10648342/?ref_=ad...,41,tt10648342,https://m.media-amazon.com/images/S/sash/4Fyxw...,57.0,"Thor enlists the help of Valkyrie, Korg and ex...",118,...,"$250,000,000",250000000.0,USD,"$760,928,081","$343,256,830","$144,165,107",NaN,English,NaN,NaN
41,True,True,Living,https://www.imdb.com/title/tt9051908/?ref_=adv...,42,tt9051908,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,"In 1950s London, a humorless bureaucrat decide...",102,...,NaN,NaN,NaN,"$11,757,371","$3,025,227","$22,784",NaN,English,NaN,NaN
42,True,True,The Northman,https://www.imdb.com/title/tt11138512/?ref_=ad...,43,tt11138512,https://m.media-amazon.com/images/S/sash/4Fyxw...,82.0,A young Viking prince is on a quest to avenge ...,137,...,"$60,000,000",60000000.0,USD,"$69,633,110","$34,233,110","$12,290,800",NaN,"Ukrainian,English,Norse, Old",NaN,NaN
43,True,True,Close,https://www.imdb.com/title/tt9660502/?ref_=adv...,44,tt9660502,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,The intense friendship between two thirteen-ye...,104,...,NaN,NaN,NaN,"$5,058,208","$1,100,113","$61,376",NaN,"French,Flemish,Dutch,English",NaN,NaN
44,True,True,The Gray Man,https://www.imdb.com/title/tt1649418/?ref_=adv...,45,tt1649418,https://m.media-amazon.com/images/S/sash/4Fyxw...,49.0,"When the CIA's most skilled operative, whose t...",122,...,"$200,000,000",200000000.0,USD,"$454,023",NaN,NaN,NaN,English,Joe Russo,nm0751648
45,True,True,Chevalier,https://www.imdb.com/title/tt12758486/?ref_=ad...,46,tt12758486,https://m.media-amazon.com/images/S/sash/4Fyxw...,66.0,Based on the true story of composer Joseph Bol...,107,...,NaN,NaN,NaN,NaN,NaN,NaN,United States,English,NaN,NaN
46,True,True,The Lost King,https://www.imdb.com/title/tt13421498/?ref_=ad...,47,tt13421498,https://m.media-amazon.com/images/S/sash/4Fyxw...,64.0,An amateur historian defies the stodgy academi...,108,...,NaN,NaN,NaN,"$4,169,435","$931,881","$516,462",United Kingdom,English,NaN,NaN
47,True,True,The Woman King,https://www.imdb.com/title/tt8093700/?ref_=adv...,48,tt8093700,https://m.media-amazon.com/images/S/sash/4Fyxw...,77.0,A historical epic inspired by true events that...,135,...,"$50,000,000",50000000.0,USD,"$97,250,903","$67,328,130","$19,051,442",United States,"English,Portuguese",NaN,NaN
48,True,True,The Estate,https://www.imdb.com/title/tt16302202/?ref_=ad...,49,tt16302202,https://m.media-amazon.com/images/S/sash/4Fyxw...,37.0,Two sisters attempt to win over their terminal...,96,...,NaN,NaN,NaN,"$572,062",NaN,NaN,United Kingdom,English,NaN,NaN
49,True,True,Empire of Light,https://www.imdb.com/title/tt14402146/?ref_=ad...,50,tt14402146,https://m.media-amazon.com/images/S/sash/4Fyxw...,54.0,A drama about the power of human connection du...,115,...,NaN,NaN,NaN,"$10,092,025","$1,177,577","$163,405",NaN,English,NaN,NaN

## Artist Data - Helper Functions

In [58]:
artist_imdb_id = 'nm3215397'
artist_url_page = f"{base_url}/name/{artist_imdb_id}"

artist_page = requests.get(artist_url_page, headers=headers)
artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser')

In [59]:
def collect_artist_rank(artist_page_soup,artist_name,artist_url_page):
  artist_dict = {}
  artist_rank = artist_page_soup.find('article',{'class':'sc-99c6a4c3-3 gdlLCR'}).find_all('span')[-2].text.strip()

  artist_dict['artist_rank'] = artist_rank
  artist_dict['Is_5000'] = False
  artist_dict['Is_500'] = False
  artist_dict['Is_100'] = False
  artist_dict['Is_10'] = False

  if artist_rank.lower()!="see rank":
    if artist_rank=="Top 5,000":
      artist_dict['Is_5000'] = True
    elif artist_rank=="Top 500":
      artist_dict['Is_500'] = True
      artist_dict['Is_5000'] = True
    else:
      try:
        rank = int(artist_rank)   # Convert the string to an integer
        if rank <= 100:           # Check if the rank is within the top 100
          artist_dict['Is_100'] = True
          artist_dict['Is_500'] = True
          artist_dict['Is_5000'] = True
        if rank <= 10: 
          artist_dict['Is_10'] = True
      except ValueError:
        print(f"Could not interpret value {artist_rank} for artist: {artist_name}. Url: {artist_url_page}")

  return artist_dict

collect_artist_rank(artist_page_soup,artist_imdb_id,artist_url_page)

{'artist_rank': 'Top 5,000',
 'Is_5000': True,
 'Is_500': False,
 'Is_100': False,
 'Is_10': False}

In [60]:
def assume_gender(artist_bio):
  # Define the pronouns associated with each gender
  male_pronouns = ["he", "him", "his", "himself"]
  female_pronouns = ["she", "her", "hers", "herself"]
  nonbinary_pronouns = ["they", "them", "their", "themselves"]

  # Count the number of male and female pronouns in the bio
  prnoun_count = {'Male':0, "Female":0, "NonBinary":0}

  for word in artist_bio.lower().split():
      if word in male_pronouns:
          prnoun_count["Male"] += 1
      elif word in female_pronouns:
          prnoun_count["Female"] += 1
      elif word in nonbinary_pronouns:
          prnoun_count["NonBinary"] += 1

  # Determine the actor's gender based on the pronoun count
  sorted_d = {k: v for k, v in sorted(prnoun_count.items(), key=lambda item: item[1], reverse=True)}
  Gender = next(iter(sorted_d))

  if prnoun_count[Gender] == 0: # If no prnoune was found
    Gender = "Unknown"

  return Gender

# Extract the bio text
bio_text = "Joseph Vincent Russo is an American filmmaker and producer who works alongside his brother Anthony Russo. They have directed You, Me and Dupree, Cherry and the Marvel films Captain America: The Winter Soldier, Captain America: Civil War, Avengers: Infinity War and Avengers: Endgame. Endgame is one of the highest grossing films of all time."
assume_gender(bio_text)

'Male'

In [88]:
def extract_artist_info(artist_imdb_id,col_name):
  artist_dict = {}

  artist_url_page = f"{base_url}/name/{artist_imdb_id}"
  artist_dict['artist_imdb_id'] = artist_imdb_id
  artist_dict['artist_type'] = col_name.split('_')[0]
  artist_dict['artist_url'] = artist_url_page

  try:
    artist_page = requests.get(artist_url_page, headers=headers)
    artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 

    artist_name = artist_page_soup.find('h1',{'data-testid':'hero__pageTitle'}).find('span').text.strip()
    artist_dict['artist_name'] = artist_name

    artist_dict.update(collect_artist_rank(artist_page_soup,artist_imdb_id,artist_url_page))
      
    artist_bio = artist_page_soup.find('div',{'class':'ipc-html-content-inner-div'}).text
    artist_gender = assume_gender(artist_bio)
    artist_dict['artist_gender'] = artist_gender

    artist_birthday = None if artist_page_soup.find('span',string="Born")==None else artist_page_soup.find('span',string="Born").find_next_sibling().text
    artist_dict['artist_birthday'] = artist_birthday

    artist_title = artist_dict['artist_type']
    if artist_title == "Star":
      artist_title = "Actress" if artist_gender=="Female" else "Actor"

    artist_dict['award_desc'] = ""
    awards = artist_page_soup.find('div',{'data-testid':'awards'})
    if awards!=None:
      artist_dict['award_desc'] = awards.text
    else:
      print(f"Unable to get award desc for {artist_title}: {artist_name}. Url: {artist_url_page}")
      
    try:
      previous_work = artist_page_soup.find('h3',string=artist_title).find_next().find('li', string="Previous").find_next_sibling().text
    except Exception as ex:
      previous_work = 0
      print(f"Unable to get previous work for {artist_title}: {artist_name}. Url: {artist_url_page}")
    artist_dict['previous_work'] = previous_work
    artist_dict['__SuccsefullyCollectArtistDetails'] = True;

    
  except Exception as e:
    print(f"Failed extracting data for artist: {artist_imdb_id}. Url: {artist_url_page}.\n Error:\n{e}")
    traceback.print_exc()
    artist_dict['__SuccsefullyCollectArtistDetails'] = False;

  return artist_dict
extract_artist_info("nm7312850","Writer_3_imdb_id")

Unable to get award desc for Writer: Thobias Thorwid. Url: https://www.imdb.com/name/nm7312850
Unable to get previous work for Writer: Thobias Thorwid. Url: https://www.imdb.com/name/nm7312850

{'artist_imdb_id': 'nm7312850',
 'artist_type': 'Writer',
 'artist_url': 'https://www.imdb.com/name/nm7312850',
 'artist_name': 'Thobias Thorwid',
 'artist_rank': 'See rank',
 'Is_5000': False,
 'Is_500': False,
 'Is_100': False,
 'Is_10': False,
 'artist_gender': 'Male',
 'artist_birthday': 'July 27, 1991',
 'award_desc': '',
 'previous_work': 0,
 '__SuccsefullyCollectArtistDetails': True}

In [81]:
movie_dataset[artist_cols]

,Director_1_imdb_id,Writer_1_imdb_id,Writer_2_imdb_id,Writer_3_imdb_id,Star_1_imdb_id,Star_2_imdb_id,Star_3_imdb_id,Director_2_imdb_id
0,nm0000116,nm0000116,nm0415425,nm0798646,nm0941777,nm0757855,nm0000244,NaN
1,nm3453283,nm3453283,nm3215397,NaN,nm0000706,nm3513533,nm0000130,nm3215397
2,nm0004716,nm5926708,NaN,NaN,nm0000409,nm5584750,nm1339223,NaN
3,nm1128037,nm1128037,NaN,NaN,nm7312850,nm6170168,nm4528025,NaN
4,nm2676052,nm0143596,nm0258390,nm0185976,nm0000129,nm0000124,nm1886602,NaN
5,nm1732981,nm1732981,NaN,NaN,nm0268199,nm0322407,nm0174403,NaN
6,nm3227090,nm3227090,NaN,NaN,nm0000093,nm3053338,nm0005443,NaN
7,nm0617042,nm2219721,nm4301557,NaN,nm0000146,nm5896355,nm0396558,NaN
8,nm0286975,nm7554519,nm0391502,nm1341735,nm0000158,nm3901455,nm5043859,NaN
9,nm3150455,nm0279729,nm0842476,nm1117226,nm0000104,nm0000161,nm2957490,nm2591093
10,nm3230448,nm3230448,nm1072410,NaN,nm0000115,nm0050959,nm1840504,NaN
11,nm1488800,nm1488800,NaN,NaN,nm5301405,nm4911194,nm0811242,NaN
12,nm0500610,nm5599654,nm2157655,NaN,nm0000093,nm1428821,nm1093951,NaN
13,nm1443502,nm1443502,NaN,NaN,nm2257207,nm1551130,nm5155952,NaN
14,nm1470993,nm1491927,nm1470993,NaN,nm1534201,nm4722966,nm2864252,NaN
15,nm2067421,nm4868455,nm1490123,NaN,nm4129745,nm8627157,nm5307044,NaN
16,nm2366012,nm0888743,nm2361509,nm0932078,nm0000117,nm0001073,nm0000274,nm2419470
17,nm0426059,nm0426059,NaN,NaN,nm0185819,nm0001570,nm0005028,NaN
18,nm0000229,nm0000229,nm1065785,NaN,nm0931329,nm5450413,nm0200452,NaN
19,nm0525303,nm0525303,nm5150018,nm0668902,nm0000158,nm2581521,nm4609822,NaN
20,nm0716257,nm0716257,nm0185976,nm0004170,nm1500155,nm2368789,nm0942482,NaN
21,nm0276062,nm0276062,NaN,NaN,nm0000949,nm4374524,nm0396125,NaN
22,nm3363032,nm3363032,nm1963288,nm0498278,nm4004793,nm2143282,nm1775091,NaN
23,nm3834799,nm3834799,NaN,NaN,nm8958770,nm13592008,nm3278700,NaN
24,nm1442514,nm2353436,nm1442514,nm7339980,nm1694524,nm2776304,nm0222426,NaN
25,nm0001707,nm0001707,NaN,NaN,nm0249291,nm0000244,nm9165599,NaN
26,nm6475689,nm6475689,NaN,NaN,nm1788739,nm1900772,nm0973177,NaN
27,nm3229507,nm3380457,nm3599054,NaN,nm8402992,nm4973896,nm6170168,NaN
28,nm1312575,nm4199289,nm1139317,nm0886749,nm6073955,nm4089170,nm1517976,NaN
29,nm0868219,nm0868219,nm3239034,nm0172830,nm0000191,nm0103195,nm9640481,nm0348993
30,nm0001631,nm0001631,nm2700470,NaN,nm1913734,nm2946516,nm2976580,NaN
31,nm1488800,nm1488800,nm5301405,NaN,nm5301405,nm4825178,nm0942858,NaN
32,nm1199107,nm1199107,NaN,NaN,nm3569284,nm0803889,nm0519043,NaN
33,nm0003745,nm0302904,nm0142154,nm0003745,nm0544334,nm0001376,nm0933727,NaN
34,nm1429471,nm1186373,nm3239033,nm2126954,nm0425005,nm0388038,nm0000112,NaN
35,nm1118351,nm1118351,NaN,NaN,nm0866918,nm0377336,nm1660027,NaN
36,nm0751102,nm0751102,NaN,NaN,nm0000288,nm3053338,nm0913475,NaN
37,nm0178376,nm0178376,nm3880787,NaN,nm0000288,nm0577982,nm0564402,NaN
38,nm0004306,nm0004306,nm13676107,nm0125706,nm0842770,nm0252961,nm7301486,NaN
39,nm1119880,nm3045440,nm1119880,nm2081046,nm0695435,nm0397171,nm0000368,NaN
40,nm0169806,nm0169806,nm3066492,nm0498278,nm1165110,nm0000204,nm0000288,NaN
41,nm3564996,nm0410958,nm0000041,nm0368074,nm0631490,nm10228854,nm5189784,NaN
42,nm3211470,nm0797604,nm3211470,NaN,nm0002907,nm0000173,nm0051903,NaN
43,nm4080113,nm4080113,nm3899543,NaN,nm13465094,nm13575723,nm0220183,NaN
44,nm0751577,nm0751648,nm1321655,nm1321656,nm0331516,nm0262635,nm1869101,nm0751648
45,nm0931724,nm8440166,NaN,NaN,nm3034977,nm2377903,nm5427486,NaN
46,nm0001241,nm0176869,nm14727093,nm5507172,nm1020089,nm0697154,nm9844932,NaN
47,nm0697656,nm0828342,nm0004742,NaN,nm0205626,nm9096847,nm2736476,NaN
48,nm1918877,nm1918877,NaN,NaN,nm0001057,nm0267506,nm0000141,NaN
49,nm0005222,nm0005222,NaN,NaN,nm1469236,nm7906702,nm0000147,NaN

## Artist Data - Main Cursor

In [82]:
artist_file_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/artists_dataset.csv"
if os.path.isfile(artist_file_path):
    df = pd.read_csv(artist_file_path)
    artists_list = df.set_index('artist_imdb_id').to_dict(orient='index')
else:
  artists_list = {}

print(f"Current Items in artists_list: {len(artists_list)}")

Current Items in artists_list: 0

In [85]:
artist_cols = [col for col in movie_dataset.columns if "imdb_id" in col]

artist_count = 1
for i, row in movie_dataset.iterrows():
    for col_name in artist_cols:
      artist_imdb_id = row[col_name]

      if type(artist_imdb_id)!=float:
        artist_dict = {'_SucceffulyCoolectedArtistDetails': False}
        
        if artist_imdb_id in artists_list.keys():
          artist_dict = artists_list[artist_imdb_id]

        if artist_dict['_SucceffulyCoolectedArtistDetails']==True:
          print(f"{artist_count}.Already collected - {artist_dict['artist_type']}: {artist_dict['artist_name']}({artist_imdb_id}). Url: {artist_dict['artist_url']}")
        else:
          print(f"{artist_count}.Collecting - {artist_imdb_id}")
          artist_dict = extract_artist_info(artist_imdb_id,col_name)
          artist_dict['_SucceffulyCoolectedArtistDetails']=True
          artists_list[artist_imdb_id] = artist_dict
          sleep(0.1)
      artist_count+=1
    if i%100 == 0:
      artist_dataset = pd.DataFrame(artists_list)
      artist_dataset.T.to_csv(artist_file_path, index=False)
      print(f"Reach artist number {i} - imdbId {artist_imdb_id}. Saving file for backup.")

1.Already collected - Director: James Cameron(nm0000116). Url: https://www.imdb.com/name/nm0000116
2.Already collected - Director: James Cameron(nm0000116). Url: https://www.imdb.com/name/nm0000116
3.Collecting - nm0415425
4.Collecting - nm0798646
5.Collecting - nm0941777
6.Collecting - nm0757855
7.Collecting - nm0000244
Reach artist number 0 - imdbId nan. Saving file for backup.
9.Collecting - nm3453283
10.Already collected - Director: Daniel Kwan(nm3453283). Url: https://www.imdb.com/name/nm3453283
11.Collecting - nm3215397
Unable to get previous work for Writer: Daniel Scheinert. Url: https://www.imdb.com/name/nm3215397
13.Collecting - nm0000706
14.Collecting - nm3513533
15.Collecting - nm0000130
16.Already collected - Writer: Daniel Scheinert(nm3215397). Url: https://www.imdb.com/name/nm3215397
17.Collecting - nm0004716
18.Collecting - nm5926708
21.Collecting - nm0000409
22.Collecting - nm5584750
23.Collecting - nm1339223
25.Collecting - nm1128037
26.Already collected - Director: Ruben Östlund(nm1128037). Url: https://www.imdb.com/name/nm1128037
29.Collecting - nm7312850
Failed extracting data for artist: nm7312850. Url: https://www.imdb.com/name/nm7312850.
 Error:
local variable 'artist_title' referenced before assignment

Traceback (most recent call last):
  File "<ipython-input-80-b73eb1004575>", line 30, in extract_artist_info
    print(f"Unable to get award desc for {artist_title}: {artist_name}. Url: {artist_url_page}")
UnboundLocalError: local variable 'artist_title' referenced before assignment

TypeError: ignored