<a href="https://colab.research.google.com/github/OmerRosen/Kaggle/blob/main/IMDB_2022_Hit_or_Flop_Data_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB 2022 - Hit or Flop

## Mission Statement

### Data To Collect

#### Search box page:
* Movie Id
* Movie Title
* Movie year
* Rating
* MetaScore - Outcome
* Description
* Poster
* Directore name + Link
* Stars
* Votes - Output
* Genre

#### Main Movie Page data
* Movie Length
* Rank
* Writer
* Star #1
* Star #2
* Star #3
* User eviews
* Critic reviews
* Number of photos posted
* Storyline - Text
* Tag line
* Release Date - Month
* Country of origin
* Additional Lanaguages
* Country of filming
* Production companies
* Budget
* Opening Weekend Date
* Gross US & Canada - Output
* Opening weekend US & Canada - Output
* Gross worldwide - Output
* Color - Color
* Color - Black&White
* Sound mix - Dolby Digital
* Sound mix - Dolby Atmos
* Aspect ratio

#### Director Page:
* Director Age
* Is Top 500?
* Director Gender (Based on bio)
* Previous film count - As Director
* Previous film count - As Writer
* Previous film count - As As Producer
* Director Publicity listing count

#### Information Abount Cast:
* Full list of cast and their profile links
* Number of cast members
* Produced by - Is top 500?
* Music by - Is top 500?
* Cinematography by  - Is top 500
* Film Editing by   - Is top 500
* Art Direction by  - Is top 500
* Number of Production Management
* Number of Art Department
* Number of Sound Department
* Number of Camera and Electrical Department
* Number of Editorial Department
* Number of Music Department
* Number of Additional Crew

#### Actor Page
* Is Top 5000?
* Is Top 500?
* Is Top 100 (aka - Has numberical rank)
* Is Top 10 (aka - Has numberical rank)
* Numerical Rank (Could be none)
* Gender
* Age
* Oscar nominations 
* Birth country

#### Aggragated data:
* How many male stars
* How many female stars
* Avrage cast memeber age
* Max/Min age of cast member
* Number of unique birth countries of actors
* Total number of Oscar numinatior for cast
* Num cast members in top 5000
* Num cast memebers in top 500
* Num cast members in top 100
* Num cast members in top 10

# IMDB Scraper

## Import Libraries

In [1]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time
import traceback

## Set main variables

In [2]:
base_url = "https://www.imdb.com"
base_folder_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project"

start_date = "2022-01-01"
end_date = "2022-12-31"
minimum_votes = 200   # Minimum vote amount to collect movie
start_point = 1       # Start from movie #1-50

movie_search_url = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&languages=en&start={start_point}&user_rating=1.0,10.0&ref_=adv_nxt"
movie_search_url

'https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=200,&languages=en&start=1&user_rating=1.0,10.0&ref_=adv_nxt'

In [3]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

list_of_50_movies = requests.get(f'{movie_search_url}', headers=headers, timeout=10)
list_of_50_movies

In [4]:
list_of_50_movies_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser').find_all('div',{'class':'lister-item mode-advanced'})

In [5]:
movie_search_page = list_of_50_movies_soup[0]

## Function: Get Movie Box details

In [6]:
def get_basic_details(movie_search_page):
  search_box_info = {}
  search_box_info['movie_name'] = movie_search_page.find('a')
  search_box_info['movie_page_url'] = f"{base_url}{movie_search_page.find('a')['href']}"

  try:
    search_box_info['movie_place'] = None if not movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}) else movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}).text.replace('.','')
    search_box_info['movie_id'] = None if not search_box_info['movie_page_url'] else search_box_info['movie_page_url'].split('/')[-2]
    search_box_info['movie_name'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['alt'].strip()
    search_box_info['movie_thubmnail'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['src']
    search_box_info['movie_metascore'] = None if not movie_search_page.find('span', {'class': 'metascore'}) else movie_search_page.find('span', {'class': 'metascore'}).text.strip()
    search_box_info['movie_description'] = None if not movie_search_page.find_all('p',{'class':'text-muted'}) else movie_search_page.find_all('p',{'class':'text-muted'})[1].text.strip()
    search_box_info['runtime_min'] = None if not movie_search_page.find('span',{'class':'runtime'}) else movie_search_page.find('span',{'class':'runtime'}).text.split(' ')[0]

    bottom_box_info = movie_search_page.find('p',{'class':'sort-num_votes-visible'})
    if bottom_box_info is not None:
      search_box_info['movie_vote_num'] = bottom_box_info.find_all('span')[1]['data-value']

    search_box_info['movie_rating'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}).text.strip()
    search_box_info['movie_genere'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}).text.strip()

    search_box_info['__SuccsefullyCollectBasicDetails'] = True;

  except Exception as e:
    print(f"Failed extracting data for movie: {search_box_info['movie_name']}. \nUrl: {search_box_info['movie_page_url']}.\n Error:\n{e}")
    traceback.print_exc()
    search_box_info['__SuccsefullyCollectBasicDetails'] = False;


  return search_box_info

In [7]:
movie_search_page = list_of_50_movies_soup[1]
search_box_info = get_basic_details(movie_search_page)
search_box_info

{'movie_name': 'Everything Everywhere All at Once',
 'movie_page_url': 'https://www.imdb.com/title/tt6710474/?ref_=adv_li_i',
 'movie_place': '2',
 'movie_id': 'tt6710474',
 'movie_thubmnail': 'https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png',
 'movie_metascore': '81',
 'movie_description': 'A middle-aged Chinese immigrant is swept up into an insane adventure in which she alone can save existence by exploring other universes and connecting with the lives she could have led.',
 'runtime_min': '139',
 'movie_vote_num': '433267',
 'movie_rating': 'R',
 'movie_genere': 'Action, Adventure, Comedy',
 '__SuccsefullyCollectBasicDetails': True}

In [8]:
example_movie_url = "https://www.imdb.com/title/tt14174168/?ref_=adv_li_i"#search_box_info['movie_page_url']
movie_main_page = requests.get(search_box_info['movie_page_url'], headers=headers)
movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')

## Function: Get Year, Month and country

In [9]:


def extract_date_and_country(input_string):
  if input_string!=None:
    # Regular expression to match and extract the date and country
    pattern = r'(\w+)\s(\d+),\s(\d+)\s\((.*?)\)'
    match = re.search(pattern, input_string)
    
    if match:
        month, day, year, country = match.groups()
        return year, month, country
    else:
        return None,None,None
  else:
        return None,None,None

# Test the function
strings = [
    "October 28, 2022 (Netherlands)",
    "March 18, 2022 (Netherlands)",
    "November 11, 2022 (United States)",
    "December 12, 2022 (Netherlands)",
    "April 24, 2023 (Netherlands)",
    "November 29, 2022 (Netherlands)",
    "January 16, 2023 (Netherlands)",
    "March 18, 2022 (Finland)",
    "January 10, 2023 (United States)",
    "November 18, 2022 (United States)",
    "March 3, 2023 (United States)",
    "March 2, 2023 (United States)",
    "January 25, 2023 (Netherlands)",
    "January 27, 2023 (Netherlands)",
    "July 22, 2022 (United Kingdom)",
    "November 22, 2022 (United States)",
    'September 7, 2022 (United States)'
]

for s in strings:
    print(extract_date_and_country(s))

('2022', 'October', 'Netherlands')
('2022', 'March', 'Netherlands')
('2022', 'November', 'United States')
('2022', 'December', 'Netherlands')
('2023', 'April', 'Netherlands')
('2022', 'November', 'Netherlands')
('2023', 'January', 'Netherlands')
('2022', 'March', 'Finland')
('2023', 'January', 'United States')
('2022', 'November', 'United States')
('2023', 'March', 'United States')
('2023', 'March', 'United States')
('2023', 'January', 'Netherlands')
('2023', 'January', 'Netherlands')
('2022', 'July', 'United Kingdom')
('2022', 'November', 'United States')
('2022', 'September', 'United States')

## Function: Extract Movie Artists

In [10]:
def extract_artist(artist_type, movie_main_page_soup):

  item_dict = {}

  search_result = movie_main_page_soup.find(string=f"{artist_type}s") 
  if search_result==None:
    search_result = movie_main_page_soup.find(string=artist_type) 
  
  search_item_list = []
  try:
    if search_result!=None:
      search_item_list = search_result.find_parent().find_next_sibling().find_all('a')
    
    item_dict[f"{artist_type}_count"] = len(search_item_list)

    for i,item in enumerate(search_item_list):
      artisc_name = item.text.strip()
      artisc_url = item['href']
      artist_id = artisc_url.split('/')[2]
      item_dict[f"{artist_type}_{i+1}_name"] = artisc_name
      #item_dict[f"{artist_type}_{i+1}_url"] = artisc_url
      item_dict[f"{artist_type}_{i+1}_imdb_id"] = artist_id

  except Exception as e:
      print(f"Failed extracting data for artist_type: {artist_type}. \.\n Error:\n{e}")
      traceback.print_exc()

  return item_dict

print(extract_artist("Director", movie_main_page_soup))
print(extract_artist("Writer", movie_main_page_soup))
print(extract_artist("Star", movie_main_page_soup))

{'Director_count': 2, 'Director_1_name': 'Daniel Kwan', 'Director_1_imdb_id': 'nm3453283', 'Director_2_name': 'Daniel Scheinert', 'Director_2_imdb_id': 'nm3215397'}
{'Writer_count': 2, 'Writer_1_name': 'Daniel Kwan', 'Writer_1_imdb_id': 'nm3453283', 'Writer_2_name': 'Daniel Scheinert', 'Writer_2_imdb_id': 'nm3215397'}
{'Star_count': 3, 'Star_1_name': 'Michelle Yeoh', 'Star_1_imdb_id': 'nm0000706', 'Star_2_name': 'Stephanie Hsu', 'Star_2_imdb_id': 'nm3513533', 'Star_3_name': 'Jamie Lee Curtis', 'Star_3_imdb_id': 'nm0000130'}

## Function: Perform Currency Conversion

In [11]:
currency_codes = {
    "$":"USD",
    "€":"EUR",
    "£":"GBP",
    "₹":"INR",
    "â‚¬": "EUR",
    "â‚¹": "INR",
    "CA$": "CAD",
    "NOKÂ": "NOK",
    "Â£": "GBP",
    "CHF": "CHF",
    "Â¥": "JPY",
    "PKR": "PKR",
    "A$": "AUD",
    "CZK": "CZK",
    "RUR": "RUB",
    "NZ$": "NZD",
    "MYR": "MYR",
    "NGN": "NGN",
    "NOK":"NOK",
    "A$":"AUD",
    "â‚¬":"EUR",
    "â‚¹":"INR",
    "Â£":"GBP",
    "CA$":"CAD",
    "CHFÂ ":"CHF",
    "MYRÂ ":"MYR",
    "NGNÂ ":"NGN",
    "NOKÂ ":"NOK",
    "NZ$":"NZD",
    "PKRÂ ":"PKR",
    "RURÂ ":"RUB",
    "IRR ":"IRR"
}


currency_conversion_values = {}

In [12]:
def extract_currency_symbol(s):
    match = re.search(r"[^\d]+", s)
    if match:
        return match.group(0).strip()
    else:
        return ""

In [13]:
def get_currency_code(amount_string):
  currency_symbol = extract_currency_symbol(amount_string)
  if currency_symbol in currency_codes:
      return currency_codes[currency_symbol]
  else:
    print(f"Could not find a value for: {currency_symbol} in {amount_string}")
    return None

In [14]:
def extract_numerical_value(string):
    # Remove all non-numeric characters from the string
    numerical_string = re.sub(r"[^\d.]+", "", string)
    # Convert the string to a float and return it
    return float(numerical_string)

In [15]:

with open(f'{base_folder_path}/openexchangerates.txt', 'r') as f:
    api_key = f.read().strip()

api_key

def convert_string_amount_to_usd(amount):

  # get the currency code and amount value
  currency_code = get_currency_code(amount)
  original_amount = extract_numerical_value(amount)
  usd_amount = None

  if currency_code==None:
    usd_amount=None
  elif currency_code!="USD":
  
    if currency_code in currency_conversion_values:
      exchange_rate = currency_conversion_values[currency_code]
    else:
      # make API request to get exchange rate for the currency code
      url = f"https://openexchangerates.org/api/latest.json?app_id={api_key}&symbols={currency_code}"
      print(amount,currency_code,original_amount,url)
      response = requests.get(url)
      print(response)
      # parse the exchange rate from the API response
      exchange_rate = response.json()["rates"][currency_code]
      
      currency_conversion_values[currency_code] = exchange_rate
      
      # calculate the USD equivalent amount
      usd_amount = round(original_amount / exchange_rate)
      
      print(f"{amount} {currency_code} = {usd_amount} USD")
  else:
    usd_amount = original_amount

  return usd_amount,original_amount,currency_code



convert_string_amount_to_usd("CA$15,000")
convert_string_amount_to_usd("NOKÂ 80,200,000")
convert_string_amount_to_usd("NOKÂ 20,000,000")
convert_string_amount_to_usd("â‚¹3,500,000,000")
currency_conversion_values

CA$15,000 CAD 15000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=CAD
<Response [200]>
CA$15,000 CAD = 11002 USD
NOKÂ 80,200,000 NOK 80200000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=NOK
<Response [200]>
NOKÂ 80,200,000 NOK = 7543476 USD
â‚¹3,500,000,000 INR 3500000000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=INR
<Response [200]>
â‚¹3,500,000,000 INR = 42800576 USD

{'CAD': 1.363408, 'NOK': 10.631703, 'INR': 81.7746}

## Function: Get Movie Cast List and count

In [16]:
def get_cast_list(cast_page_url):

  cast_counts = {'cast_count_total':0}

  cast_page = requests.get(cast_page_url, headers=headers)
  cast_page_soup = BeautifulSoup(cast_page.text, 'html.parser')   

  cast_groups = cast_page_soup.find_all('h4')

  for cast_group in cast_groups:
    try:
      group_name = cast_group['id']
      #print(group_name)
      group_list = cast_group.find_next_sibling()
      group_count = 0
      if group_list is not None:
        group_list = group_list.findAll('tr')
        group_count = len(group_list)
      cast_counts[f"cast_count_{group_name}"] = group_count
      cast_counts['cast_count_total'] += group_count
    except Exception as ex:
      pass
  return cast_counts

get_cast_list("https://www.imdb.com/title/tt14174168/fullcredits")

{'cast_count_total': 156,
 'cast_count_director': 1,
 'cast_count_writer': 2,
 'cast_count_cast': 26,
 'cast_count_producer': 28,
 'cast_count_composer': 1,
 'cast_count_cinematographer': 1,
 'cast_count_editor': 1,
 'cast_count_casting_director': 1,
 'cast_count_production_designer': 2,
 'cast_count_art_director': 1,
 'cast_count_costume_designer': 1,
 'cast_count_make_up_department': 4,
 'cast_count_production_manager': 1,
 'cast_count_assistant_director': 4,
 'cast_count_art_department': 6,
 'cast_count_sound_department': 7,
 'cast_count_visual_effects': 12,
 'cast_count_stunts': 2,
 'cast_count_camera_department': 16,
 'cast_count_costume_department': 2,
 'cast_count_editorial_department': 5,
 'cast_count_music_department': 1,
 'cast_count_script_department': 1,
 'cast_count_transportation_department': 1,
 'cast_count_miscellaneous': 19,
 'cast_count_thanks': 10}

## Main Function: Get Movie Page Extanded Details

In [17]:
def get_extended_datails(movie_page_url, movie_name):
  movie_page_dict = {}

  try:

    movie_main_page = requests.get(movie_page_url, headers=headers)
    movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')   

    year_rating = movie_main_page_soup.find('ul',{"class":"ipc-inline-list ipc-inline-list--show-dividers sc-afe43def-4 kdXikI baseAlt"}).find_all('a')

    movie_page_dict['movie_year'] = year_rating[0].text if len(year_rating)>0 else None
    movie_page_dict['movie_rating'] = year_rating[1].text if len(year_rating)>1 else None

    director_dict = extract_artist("Director", movie_main_page_soup)
    if director_dict[f"Director_count"] == 0:
      print(f"No Director found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(director_dict)

    writer_dict = extract_artist("Writer", movie_main_page_soup)
    if writer_dict[f"Writer_count"] == 0:
      print(f"No Writer found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(writer_dict)

    star_dict = extract_artist("Star", movie_main_page_soup)
    if star_dict[f"Star_count"] == 0:
      print(f"No Star found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(star_dict)

    user_rating = movie_main_page_soup.find('span',{'class':'sc-bde20123-1 iZlgcd'})
    if user_rating is not None:
      user_rating = user_rating.text
    movie_page_dict['user_rating'] = user_rating

    review_scores = movie_main_page_soup.find_all('span',{'class':'score'})
    movie_page_dict['user_reviews_count'] = review_scores[0].text if len(review_scores)>0 else None
    movie_page_dict['critic_reviews_count'] = review_scores[1].text if len(review_scores)>1 else None

    #movie_page_dict['release_date'] = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'}, string="Release date").find_parent().find('a',{'class':'ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link'}).text.split('(')[0].strip()
    #movie_page_dict['release_date']
    

    movie_page_dict['budget'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Budget")
    if (movie_page_dict['budget']!=None):
      movie_page_dict['budget'] = movie_page_dict['budget'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

      usd_amount,original_amount,currency_code = convert_string_amount_to_usd(movie_page_dict['budget'])
      movie_page_dict['budget_usd'] = usd_amount
      movie_page_dict['budget_currency'] = currency_code

    movie_page_dict['gross_worldwide'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross worldwide")
    if (movie_page_dict['gross_worldwide']!=None):
      movie_page_dict['gross_worldwide'] = movie_page_dict['gross_worldwide'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['gross_worldwide'], _, _ = convert_string_amount_to_usd(movie_page_dict['gross_worldwide'])

    movie_page_dict['gross_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross US & Canada")
    if (movie_page_dict['gross_us_canada']!=None):
      movie_page_dict['gross_us_canada'] = movie_page_dict['gross_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['gross_us_canada'], _, _ = convert_string_amount_to_usd(movie_page_dict['gross_us_canada'])

    movie_page_dict['opening_weekend_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Opening weekend US & Canada")
    if (movie_page_dict['opening_weekend_us_canada']!=None):
      movie_page_dict['opening_weekend_us_canada'] = movie_page_dict['opening_weekend_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['opening_weekend_us_canada'], _, _ = convert_string_amount_to_usd(movie_page_dict['opening_weekend_us_canada'])

    movie_page_dict['origin_country'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Country of origin")
    if (movie_page_dict['origin_country']!=None):
      movie_page_dict['origin_country'] = movie_page_dict['origin_country'].find_next_sibling().find('a').text.split('(')[0].strip()

    movie_page_dict['release_date'] = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label'}, string="Release date")
    if (movie_page_dict['release_date']!=None):
      movie_page_dict['release_date'] = movie_page_dict['release_date'].find_next_sibling().find('a').text

    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
    movie_page_dict['release_year'] = year
    movie_page_dict['release_month'] = month
    movie_page_dict['release_country'] = country

    languages = movie_main_page_soup.find('span',string="Language") if movie_main_page_soup.find('span',string="Languages") is None else movie_main_page_soup.find('span',string="Languages")
    languages = [] if not languages else languages.find_next_sibling().find_all('a')
    movie_page_dict['languages'] = ",".join([language.text for language in languages])

    movie_page_dict['__SuccsefullyCollectExtandedDetails'] = True;

    ## Collect cast count for movie:
    movie_id = movie_page_url.split('/')[-2]
    cast_page_url = f"https://www.imdb.com/title/{movie_id}/fullcredits"
    cast_list = get_cast_list(cast_page_url)
    movie_page_dict.update(cast_list)

  except Exception as e:
    print(f"Failed extracting data for movie: {movie_name}. \nUrl: {movie_page_url}.\n Error:\n{e}")
    traceback.print_exc()
    movie_page_dict['__SuccsefullyCollectExtandedDetails'] = False;

  return movie_page_dict


get_extended_datails("https://www.imdb.com/title/tt13070038/?ref_=adv_li_i","After Ever Happy")

{'movie_year': '2022',
 'movie_rating': 'R',
 'Director_count': 1,
 'Director_1_name': 'Castille Landon',
 'Director_1_imdb_id': 'nm2500541',
 'Writer_count': 2,
 'Writer_1_name': 'Anna Todd',
 'Writer_1_imdb_id': 'nm6849771',
 'Writer_2_name': 'Sharon Soboil',
 'Writer_2_imdb_id': 'nm0757267',
 'Star_count': 3,
 'Star_1_name': 'Josephine Langford',
 'Star_1_imdb_id': 'nm6466214',
 'Star_2_name': 'Hero Fiennes Tiffin',
 'Star_2_imdb_id': 'nm2842005',
 'Star_3_name': 'Louise Lombard',
 'Star_3_imdb_id': 'nm0518321',
 'user_rating': '4.5',
 'user_reviews_count': '63',
 'critic_reviews_count': '36',
 'budget': None,
 'gross_worldwide': 19155062.0,
 'gross_us_canada': 1072750.0,
 'opening_weekend_us_canada': 114993.0,
 'origin_country': 'United States',
 'release_date': 'September 7, 2022 (United States)',
 'release_year': '2022',
 'release_month': 'September',
 'release_country': 'United States',
 'languages': 'English',
 '__SuccsefullyCollectExtandedDetails': True,
 'cast_count_total': 160,
 'cast_count_director': 1,
 'cast_count_writer': 3,
 'cast_count_cast': 25,
 'cast_count_producer': 14,
 'cast_count_composer': 1,
 'cast_count_cinematographer': 2,
 'cast_count_editor': 1,
 'cast_count_casting_director': 3,
 'cast_count_production_designer': 1,
 'cast_count_art_director': 1,
 'cast_count_set_decorator': 1,
 'cast_count_costume_designer': 1,
 'cast_count_make_up_department': 7,
 'cast_count_production_manager': 5,
 'cast_count_assistant_director': 9,
 'cast_count_art_department': 6,
 'cast_count_sound_department': 9,
 'cast_count_visual_effects': 4,
 'cast_count_stunts': 1,
 'cast_count_camera_department': 9,
 'cast_count_casting_department': 3,
 'cast_count_costume_department': 4,
 'cast_count_editorial_department': 2,
 'cast_count_location_management': 4,
 'cast_count_music_department': 9,
 'cast_count_script_department': 1,
 'cast_count_miscellaneous': 32,
 'cast_count_thanks': 1}

In [18]:
# print(search_box_info['movie_page_url'],search_box_info['movie_name'])
# cast_url = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'})['href']
# cast_url = f"{base_url}{cast_url}"
# cast_url

In [19]:
# Fixed parameters:
base_url = "https://www.imdb.com"

start_date = "2018-01-01"
end_date = "2022-12-31"
minimum_votes = 250 # Minimum vote amount to coolect movie

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"}

## Function: Get next movie batch

In [20]:
# Dynamic parameters:

def get_50_movie_batch(start_point, minimum_votes = 20, start_date = "2022-01-01", end_date = "2022-12-31", print_results = False):
  movie_search_url_50_batch = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&user_rating=1.0,10.0&countries=us&languages=en&start={start_point}&user_rating=1.0,10.0&ref_=adv_nxt"
  
  search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
  search_page_soup = BeautifulSoup(search_page.text, 'html.parser')
  list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

  max_num_of_results = search_page_soup.find('div',{'class':'desc'}).find('span').text.split(' ')[2].replace(",", "")
  max_num_of_results = int(max_num_of_results)
  if print_results: print(f"Start point: {start_point}. start_date: {start_date}. end_date: {end_date}. \nTotal Movies: {max_num_of_results} \nsearch url: {movie_search_url_50_batch}")

  #print(f"max_num_of_results: {max_num_of_results}")
  return(list_of_50_movies_soup,max_num_of_results)

list_of_50_movies_soup,max_num_of_results = get_50_movie_batch(start_point = 1, minimum_votes = minimum_votes, start_date = start_date, end_date = end_date, print_results = True)

Start point: 1. start_date: 2018-01-01. end_date: 2022-12-31.
Total Movies: 3927
search url: https://www.imdb.com/search/title/?title_type=feature&release_date=2018-01-01,2022-12-31&num_votes=250,&user_rating=1.0,10.0&countries=us&languages=en&start=1&user_rating=1.0,10.0&ref_=adv_nxt

In [21]:
movie_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv"
if os.path.exists(movie_dataset_path):
  movie_df = pd.read_csv(movie_dataset_path)
  total_movie_dataset = movie_df.set_index('movie_id').T.to_dict()
  
else:
  total_movie_dataset = {}
  movie_df = pd.DataFrame(total_movie_dataset)

print(f"total_movie_dataset contains {len(total_movie_dataset)} records")
movie_df.head(3)

total_movie_dataset contains 3900 records

,movie_id,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,...,cast_count_music_department,cast_count_script_department,cast_count_transportation_department,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,cast_count_production_department,Director_3_name,Director_3_imdb_id
0,tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,...,74.0,7.0,10.0,139.0,6.0,NaN,NaN,NaN,NaN,NaN
1,tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,...,45.0,4.0,27.0,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN,NaN
2,tt9764362,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,3,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71.0,A young couple travels to a remote island to e...,...,11.0,NaN,10.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN

## Cursor: Collecting movies from IMDB

In [22]:
start_point = 1 # Start from movie #1-50

basic_data_collected = 0
basic_data_skipped = 0
extended_data_collected = 0
extended_data_skipped = 0

count = 1
while start_point < max_num_of_results-50:

  list_of_50_movies_soup,num_of_results = get_50_movie_batch(start_point = start_point, minimum_votes = minimum_votes, start_date = start_date, end_date = end_date)
  if count==1: print(f"Starting run collecting movies. Total of {num_of_results} movies to be collected.")

  for i,movie in enumerate(list_of_50_movies_soup):
    movie_data = {'__SuccsefullyCollectBasicDetails':False, '__SuccsefullyCollectExtandedDetails':False}

    basic_data = get_basic_details(movie)
    movie_id = basic_data['movie_id']

    try:
      if movie_id in total_movie_dataset.keys():
        movie_data = total_movie_dataset[movie_id]

      if movie_data['__SuccsefullyCollectBasicDetails']==True:
        basic_data_skipped += 1
      else:
        basic_data_collected += 1
        movie_data.update(basic_data)

      if movie_data['__SuccsefullyCollectExtandedDetails']==True:
        extended_data_skipped += 1
      else:
        extended_data_collected += 1
        extended_data = get_extended_datails(basic_data['movie_page_url'],basic_data['movie_name'])
        movie_data.update(extended_data)

        sleep(0.1)
    except Exception as e:
      print(f"Failed running cursor for movie: {movie_id}. \nUrl: {basic_data['movie_page_url']}.\n Error:\n{e}")
      traceback.print_exc()

    total_movie_dataset[movie_id] = movie_data
    count+= 1

    if (count%200 == 0):
      print(f"\nRun number: {count}. basic_data_collected: {basic_data_collected}. extended_data_collected: {extended_data_collected}. basic_data_skipped: {basic_data_skipped}. extended_data_skipped: {extended_data_skipped}")


  movie_dataset = pd.DataFrame(total_movie_dataset).T
  movie_dataset.to_csv(movie_dataset_path, index=True, index_label="movie_id")

  start_point += 50

print(f"\nRun number: {count}. \nbasic_data_collected: {basic_data_collected}. \nextended_data_collected: {extended_data_collected}. \nbasic_data_skipped: {basic_data_skipped}. \nextended_data_skipped: {extended_data_skipped}\n")

Starting run collecting movies. Total of 3927 movies to be collected.

Run number: 200. basic_data_collected: 0. extended_data_collected: 0. basic_data_skipped: 199. extended_data_skipped: 199

Run number: 400. basic_data_collected: 0. extended_data_collected: 0. basic_data_skipped: 399. extended_data_skipped: 399

Run number: 600. basic_data_collected: 0. extended_data_collected: 0. basic_data_skipped: 599. extended_data_skipped: 599

Run number: 800. basic_data_collected: 1. extended_data_collected: 1. basic_data_skipped: 798. extended_data_skipped: 798

Run number: 1000. basic_data_collected: 1. extended_data_collected: 2. basic_data_skipped: 998. extended_data_skipped: 997

Run number: 1200. basic_data_collected: 1. extended_data_collected: 2. basic_data_skipped: 1198. extended_data_skipped: 1197

Run number: 1400. basic_data_collected: 1. extended_data_collected: 4. basic_data_skipped: 1398. extended_data_skipped: 1395

Run number: 1600. basic_data_collected: 1. extended_data_collected: 5. basic_data_skipped: 1598. extended_data_skipped: 1594

Run number: 1800. basic_data_collected: 1. extended_data_collected: 7. basic_data_skipped: 1798. extended_data_skipped: 1792

Run number: 2000. basic_data_collected: 1. extended_data_collected: 10. basic_data_skipped: 1998. extended_data_skipped: 1989

Run number: 2200. basic_data_collected: 1. extended_data_collected: 11. basic_data_skipped: 2198. extended_data_skipped: 2188

Run number: 2400. basic_data_collected: 1. extended_data_collected: 11. basic_data_skipped: 2398. extended_data_skipped: 2388

Run number: 2600. basic_data_collected: 1. extended_data_collected: 13. basic_data_skipped: 2598. extended_data_skipped: 2586

Run number: 2800. basic_data_collected: 1. extended_data_collected: 16. basic_data_skipped: 2798. extended_data_skipped: 2783

Run number: 3000. basic_data_collected: 1. extended_data_collected: 21. basic_data_skipped: 2998. extended_data_skipped: 2978

Run number: 3200. basic_data_collected: 1. extended_data_collected: 25. basic_data_skipped: 3198. extended_data_skipped: 3174

Run number: 3400. basic_data_collected: 1. extended_data_collected: 31. basic_data_skipped: 3398. extended_data_skipped: 3368

Run number: 3600. basic_data_collected: 1. extended_data_collected: 34. basic_data_skipped: 3598. extended_data_skipped: 3565

Run number: 3800. basic_data_collected: 1. extended_data_collected: 43. basic_data_skipped: 3798. extended_data_skipped: 3756
No Writer found for movie Bad Ben 7: The Haunted Highway. Url: https://www.imdb.com/title/tt11374034/?ref_=adv_li_i

Run number: 3901.
basic_data_collected: 1.
extended_data_collected: 47.
basic_data_skipped: 3899.
extended_data_skipped: 3853

In [23]:
movie_dataset = pd.DataFrame(total_movie_dataset).T
movie_dataset.to_csv(movie_dataset_path, index=True, index_label="movie_id")

movie_dataset.head(5)

,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,runtime_min,...,cast_count_script_department,cast_count_transportation_department,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,cast_count_production_department,Director_3_name,Director_3_imdb_id,movie_id
tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,192.0,...,7.0,10.0,139.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,139.0,...,4.0,27.0,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN,NaN,NaN
tt9764362,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,3,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71.0,A young couple travels to a remote island to e...,107.0,...,NaN,10.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt7888964,True,True,Nobody,https://www.imdb.com/title/tt7888964/?ref_=adv...,4,tt7888964,https://m.media-amazon.com/images/S/sash/4Fyxw...,64.0,A docile family man slowly reveals his true ch...,92.0,...,2.0,9.0,58.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,5,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,189.0,...,2.0,13.0,89.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

## Set actor variables

In [24]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time
import traceback

In [25]:
movie_dataset = pd.read_csv('/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv')
movie_dataset.head(5)

,movie_id,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,...,cast_count_script_department,cast_count_transportation_department,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,cast_count_production_department,Director_3_name,Director_3_imdb_id,movie_id.2
0,tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,...,7.0,10.0,139.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,...,4.0,27.0,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN,NaN,NaN
2,tt9764362,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,3,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71.0,A young couple travels to a remote island to e...,...,NaN,10.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt7888964,True,True,Nobody,https://www.imdb.com/title/tt7888964/?ref_=adv...,4,tt7888964,https://m.media-amazon.com/images/S/sash/4Fyxw...,64.0,A docile family man slowly reveals his true ch...,...,2.0,9.0,58.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
4,tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,5,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,...,2.0,13.0,89.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

## Function: Assume Gender

In [26]:
def assume_gender(artist_bio):
  # Define the pronouns associated with each gender
  male_pronouns = ["he", "him", "his", "himself","guy","man"]
  female_pronouns = ["she", "her", "hers", "herself","girl","woman"]
  nonbinary_pronouns = ["themselves","queer","binary","nonbinary","non-binary"]

  is_openly_lgbt = False
  lgbt_words = ["gay","lesbian","gays","lesbians","lgbt","lgbtq","queer","binary","nonbinary","non-binary","genderfluid"]

  # Count the number of male and female pronouns in the bio
  prnoun_count = {'Male':0, "Female":0, "NonBinary":0}

  for word in artist_bio.lower().split():
      if word in male_pronouns:
          prnoun_count["Male"] += 1
      elif word in female_pronouns:
          prnoun_count["Female"] += 1
      elif word in nonbinary_pronouns:
          prnoun_count["NonBinary"] += 1

      if word in lgbt_words:
        is_openly_lgbt = True

  # Determine the actor's gender based on the pronoun count
  sorted_d = {k: v for k, v in sorted(prnoun_count.items(), key=lambda item: item[1], reverse=True)}
  Gender = next(iter(sorted_d))

  if prnoun_count[Gender] == 0: # If no prnoune was found
    Gender = "Unknown"

  return Gender,is_openly_lgbt

# Extract the bio text
bio_text = """Andy Samberg was born in Berkeley, California, to Marjorie (Marrow), a teacher, and Joe Samberg, a photographer. With Jorma Taccone and Akiva Schaffer, Samberg is one of three Los Angeles, California-based writer-performer-filmmakers--all childhood friends--dubbed The Lonely Island, whose short films were showcased on the popular untelevised television network show and website. Some of their popular shorts included The O.C. (2003) parody "The 'Bu" and their full-length pilot, "Awesometown." They met Jimmy Fallon while writing for 2004 MTV Video Music Awards (2004), who then suggested that they audition for Saturday Night Live (1975). Andy was then cast as a featured performer, and Samberg's Lonely Island cohorts Jorma and Akiva were hired as writers for the show. The group's most notable contributions include The Lonely Island: Lazy Sunday (2005), The Lonely Island feat. Justin Timberlake: Dick in a Box (2006), and The Lonely Island Feat. T-Pain: I'm on a Boat (2009).

Near the end of his first season of SNL, Andy started filming the lead role in the film Hot Rod (2007), the first major motion picture by the Lonely Island team, with the production support of Lorne Michaels.

In 2012, after seven years of working on SNL, Samberg resigned from the show. He was originally not looking to join a television series as a regular cast member, but after seeing the script for Brooklyn Nine-Nine (2013), he couldn't pass it up. Andy plays Jake Peralta, the best detective in Brooklyn's 99th police precinct, who also happens to be the most immature. In 2013 Samberg received the Golden Globe for Best Actor - Television Series Musical or Comedy for his performance.

In 2016, Andy starred in the pop music mockumentary Popstar: Never Stop Never Stopping (2016). Taccone and Schaffer co-starred in and co-directed the film.

Samberg married singer-songwriter Joanna Newsom on 21 September, 2013, in Big Sur, California. In August 2017, they announced the birth of their baby daughter.
"""
assume_gender(bio_text)

('Male', False)

In [27]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
from dateutil import parser

def extract_artist_age(date_string):
  try:
    # Parse the date string into a datetime object
    date_obj = parser.parse(date_string)
    # Check if the date is in the future, if so - Reduce 100 years
    if date_obj.year > datetime.now().year:
      date_obj = date_obj.replace(year=date_obj.year - 100)
    #print(date_obj)
    # Calculate the difference between the current date and the date of birth
    age = relativedelta(datetime.now(), date_obj).years
    # Return the age as an integer
    return age
  except:
    #print(f"Cannot extract age from value: {date_string}")
    return None

print(extract_artist_age("11/25/1990"))
print(extract_artist_age("16-Apr-02"))
print(extract_artist_age(""))

32
21
None

## Function: Collect Rank

In [28]:
def collect_artist_rank(artist_page_soup,artist_dict):
  artist_rank = artist_page_soup.find('span',{'class':'sc-d462a8ef-6 hOuQwM starmeter-current-rank'}).text.strip()

  artist_dict['artist_rank'] = artist_rank
  artist_dict['Is_5000'] = False
  artist_dict['Is_500'] = False
  artist_dict['Is_100'] = False
  artist_dict['Is_10'] = False

  if artist_rank.lower()!="see rank":
    if artist_rank=="Top 5,000":
      artist_dict['Is_5000'] = True
    elif artist_rank=="Top 500":
      artist_dict['Is_500'] = True
      artist_dict['Is_5000'] = True
    else:
      try:
        rank = int(artist_rank)   # Convert the string to an integer
        if rank <= 100:           # Check if the rank is within the top 100
          artist_dict['Is_100'] = True
          artist_dict['Is_500'] = True
          artist_dict['Is_5000'] = True
        if rank <= 10: 
          artist_dict['Is_10'] = True
      except ValueError:
        print(f"Could not interpret value {artist_rank} for artist: {artist_dict['artist_imdb_id']}. Url: {artist_dict['artist_url']}")

artist_imdb_id = "nm14727093"
artist_page = requests.get(f"https://www.imdb.com/name/{artist_imdb_id}/", headers=headers)
artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 
artist_dict = {}
artist_dict['artist_imdb_id'] = artist_imdb_id
artist_dict['artist_type'] = "Director"
artist_dict['artist_url'] = artist_page
collect_artist_rank(artist_page_soup,artist_dict)

## Function: Artist awards

In [29]:
def get_awards_info(awards_str):
    wins = 0
    nominations = 0
    if awards_str:
      parts = awards_str.split()
      if "wins" in parts:
          wins = int(parts[parts.index("wins")-1])
      elif "win" in parts:
          wins = int(parts[parts.index("win")-1])
      if "nominations" in parts:
          nominations = int(parts[parts.index("nominations")-1])
      elif "nomination" in parts:
          nominations = int(parts[parts.index("nomination")-1])
    return (wins, nominations)

print(get_awards_info("6 wins & 16 nominations total"))
print(get_awards_info("1 win & 1 nomination total"))
print(get_awards_info("6 wins total"))
print(get_awards_info("16 nominations total"))
print(get_awards_info('1 win & 3 nominations'))
print(get_awards_info(""))
print(get_awards_info(None))

(6, 16)
(1, 1)
(6, 0)
(0, 16)
(1, 3)
(0, 0)
(0, 0)

In [30]:
def collect_artist_awards(artist_page_soup):
  awards_dict = {}

  awards = artist_page_soup.find('li',{'data-testid':'award_information'})
  awards_prestige_wins = 0
  awards_prestige_nominations = 0
  awards_other_won = 0
  awards_other_nominations = 0
  
  if awards!=None:

    # Find prestige awards (Oscars, BEFTA, ect.)
    prestige_awards = awards.find('a',{'aria-label':'See more awards and nominations'}).text
    if prestige_awards!="Awards":
      awards_dict['awards_prestige_desc']  = prestige_awards
      if "Won" in prestige_awards:
        awards_prestige_wins = int(''.join(filter(str.isdigit, prestige_awards)))
        
      else:
        awards_prestige_nominations = int(''.join(filter(str.isdigit, prestige_awards)))
        
    else:
      awards_dict['awards_prestige']  = 0

    # Find total awards
    award_other = awards.find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text
    award_other_counts = get_awards_info(award_other)
    awards_dict['award_other_desc'] = award_other
    awards_other_won = award_other_counts[0]
    awards_other_nominations = award_other_counts[1]

  awards_dict['awards_prestige_wins']  = awards_prestige_wins
  awards_dict['awards_prestige_nominations']  = awards_prestige_nominations
  awards_dict['awards_other_won'] = awards_other_won
  awards_dict['awards_other_nominations'] = awards_other_nominations

  return awards_dict

artist_imdb_id = "nm0798646"
artist_page = requests.get(f"https://www.imdb.com/name/{artist_imdb_id}/", headers=headers)
artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 
artist_dict = {}
artist_dict['artist_imdb_id'] = artist_imdb_id
artist_dict['artist_type'] = "Director"
artist_dict['artist_url'] = artist_page
collect_artist_awards(artist_page_soup)

{'awards_prestige': 0,
 'award_other_desc': '1 win & 3 nominations',
 'awards_prestige_wins': 0,
 'awards_prestige_nominations': 0,
 'awards_other_won': 1,
 'awards_other_nominations': 3}

## Main Function: Extract artist info

In [31]:
def extract_artist_info(artist_imdb_id,col_name):
  artist_dict = {}

  artist_url_page = f"{base_url}/name/{artist_imdb_id}"
  artist_dict['artist_imdb_id'] = artist_imdb_id
  artist_dict['artist_type'] = col_name.split('_')[0]
  artist_dict['artist_url'] = artist_url_page

  try:
    artist_page = requests.get(artist_url_page, headers=headers)
    artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 

    artist_name = artist_page_soup.find('h1',{'data-testid':'hero__pageTitle'}).find('span').text.strip()
    artist_dict['artist_name'] = artist_name

    if artist_page_soup.find('span', string="Born") is not None:
      artist_birthday = artist_page_soup.find('span',string="Born").findNextSibling().text
      artist_dict['artist_birthday'] = artist_birthday
      artist_dict['artist_age'] = extract_artist_age(artist_birthday)
      if artist_dict['artist_age'] == None:
        print(f"Unable to extract age for {artist_name}. Value: {artist_birthday} Url: {artist_url_page}")
      
    artist_bio = artist_page_soup.find('div',{'class':'ipc-html-content-inner-div'})
    
    if artist_bio!=None:
      artist_dict['artist_bio'] = artist_bio.text
      artist_gender, is_openly_lgbt = assume_gender(artist_bio.text)
    else:
      artist_gender = "Unknown"
      is_openly_lgbt = False

    artist_dict['artist_gender'] = artist_gender
    artist_dict['is_openly_lgbt'] = is_openly_lgbt

    # Collect Rank
    collect_artist_rank(artist_page_soup,artist_dict)
    
    # Collect Awards
    awards_dict = collect_artist_awards(artist_page_soup)
    artist_dict.update(awards_dict)

    artist_title = artist_dict['artist_type']
    if artist_title == "Star":
      artist_title = "Actress" if artist_gender=="Female" else "Actor"

    if artist_page_soup.find('h3',string=artist_title) is not None:
      previous_work = artist_page_soup.find('h3',string=artist_title).find_next().find('li', string="Previous")
      if previous_work is not None:
        previous_work = previous_work.find_next_sibling().text
    elif artist_page_soup.find('li',string="Previous") is not None:
      previous_work = artist_page_soup.find('li',string="Previous").find_next_sibling().text
    else:
      previous_work = 0
      print(f"Unable to get previous work for {artist_title}: {artist_name}. Url: {artist_url_page}")
      
    artist_dict['previous_work'] = previous_work
    artist_dict['__SuccsefullyCollectArtistDetails'] = True;

    return artist_dict
  except Exception as e:
    print(f"Failed extracting data for artist: {artist_imdb_id}. Url: {artist_url_page}.\n Error:\n{e}")
    traceback.print_exc()
    artist_dict['__SuccsefullyCollectArtistDetails'] = False;

artist_imdb_id = "nm0767280"
col_name = "Writer_2_imdb_id"
extract_artist_info(artist_imdb_id,col_name)

{'artist_imdb_id': 'nm0767280',
 'artist_type': 'Writer',
 'artist_url': 'https://www.imdb.com/name/nm0767280',
 'artist_name': 'Dan Savage',
 'artist_birthday': 'October 7, 1964',
 'artist_age': 58,
 'artist_bio': 'Dan Savage is a writer, TV personality, and activist best known for his\npolitical and social commentary, as well as his honest approach to sex,\nlove and relationships.Savage\'s sex advice column, "Savage Love," is syndicated in newspapers\nand websites throughout the United States, Canada, Europe and Asia. He\nis the Editorial Director of The Stranger, Seattle\'s weekly alternative\nnewspaper, and his writing has appeared in publications including The\nNew York Times, The New York Times Magazine, GQ, Rolling Stone, The\nOnion, and on Salon.com.Savage is also the author of several books, including: Savage Love; The\nKid: What Happened When My Boyfriend and I Decided to Get Pregnant (PEN\nWest Award for Creative Nonfiction, Lambda Literary Award for\nNonfiction); Skipping Towards Gomorrah: The Seven Deadly Sins and the\nPursuit of Happiness in America; and The Commitment: Love, Sex,\nMarriage and My Family. In his latest bestselling book American Savage,\nDan shares his insights on topics ranging from marriage, parenting and\nthe gay agenda to the Catholic Church and sex education. It\'s Dan\'s\nfrank and open discussions on such topics that had Publisher\'s Weekly\nrave why he is, "America\'s most in-your-face sex columnist and gay\nrights activist."In addition to his appearances on CNN, MSNBC, and The Colbert Report,\nSavage is a contributor to Ira Glass\'s This American Life, and has\nappeared on NPR\'s Fresh Air with Terry Gross, HBO\'s Real Time with Bill\nMaher, and ABC\'s 20/20. Savage is a frequent and popular speaker on\ncollege campuses across the United States and Canada.In September 2010, Savage created a YouTube video with his husband\nTerry Miller to inspire hope for LGBT young people facing harassment.\nIn response to a number of students taking their own lives, Savage and\nMiller wanted to create a personal message to let LGBT youth know that\n"it gets better". Today, the It Gets Better Project has become a global movement, inspiring more\nthan 50,000 It Gets Better videos viewed over 50 million times. The It\nGets Better book, co-edited by Savage and Miller, was published in\nMarch 2011, and an MTV documentary special, It Gets Better, aired in\nFebruary 2012.Dan Savage grew up in Chicago and now lives in Seattle, Washington with\nhis husband Terry Miller and their son, DJ.',
 'artist_gender': 'Male',
 'is_openly_lgbt': True,
 'artist_rank': 'See rank',
 'Is_5000': False,
 'Is_500': False,
 'Is_100': False,
 'Is_10': False,
 'awards_prestige_desc': 'Nominated for 1 Primetime Emmy',
 'award_other_desc': '1 win & 2 nominations total',
 'awards_prestige_wins': 0,
 'awards_prestige_nominations': 1,
 'awards_other_won': 1,
 'awards_other_nominations': 2,
 'previous_work': '3',
 '__SuccsefullyCollectArtistDetails': True}

## Set Artist variables

In [32]:
artists_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/artists_dataset.csv"
if os.path.exists(artists_dataset_path):
  artists_df = pd.read_csv(artists_dataset_path)
  artists_list = artists_df.set_index('artist_imdb_id').T.to_dict()
  
else:
  artists_list = {}
  artists_df = pd.DataFrame(artists_list)

print(f"artists_list contains {len(artists_list)} records")
artists_df.head(3)

artists_list contains 14374 records

,artist_imdb_id,artist_collected,artist_imdb_id.1,artist_type,artist_url,artist_name,artist_birthday,artist_age,artist_bio,artist_gender,...,awards_prestige_wins,awards_prestige_nominations,awards_other_won,awards_other_nominations,previous_work,__SuccsefullyCollectArtistDetails,awards_prestige,artist_imdb_id.2,artist_imdb_id.3,artist_imdb_id.4
0,nm0000116,True,nm0000116,Director,https://www.imdb.com/name/nm0000116,James Cameron,"August 16, 1954",68.0,"James Francis Cameron was born on August 16, 1...",Male,...,3,0,77,89,22.0,True,NaN,NaN,NaN,NaN
1,nm0415425,True,nm0415425,Writer,https://www.imdb.com/name/nm0415425,Rick Jaffa,"May 8, 1956",66.0,Rick Jaffa was born on 8 May 1956 in Dallas Co...,Male,...,0,0,1,3,11.0,True,0.0,NaN,NaN,NaN
2,nm0798646,True,nm0798646,Writer,https://www.imdb.com/name/nm0798646,Amanda Silver,"May 24, 1963",59.0,Amanda Silver was born on 24 May 1963 in the U...,Female,...,0,0,1,3,13.0,True,0.0,NaN,NaN,NaN

## Cursor: Collect Artists

In [33]:
artist_cols = [col for col in movie_dataset.columns if "imdb_id" in col]

artists_skipped = 0
artists_collected = 0
artist_count = 1
for i, row in movie_dataset.iterrows():
  for col_name in artist_cols:
    artist_dict = {'artist_collected':False}
    artist_imdb_id = row[col_name]
    if type(artist_imdb_id) != float:
      if artist_imdb_id in artists_list.keys() and artists_list[artist_imdb_id]['artist_collected']==True:
        artist_dict = artists_list[artist_imdb_id]
        artist_dict['artist_collected']=True
        artists_skipped += 1
      else:
        artist_output = extract_artist_info(artist_imdb_id,col_name)
        if artist_output!=None:
          artist_dict.update(artist_output)
          artist_dict['artist_collected']=True
        artists_collected += 1 
        sleep(0.1)

      artists_list[artist_imdb_id] = artist_dict
      artist_count += 1
      if artist_count%200 == 0:
        artist_dataset = pd.DataFrame(artists_list).T
        artist_dataset.to_csv(artists_dataset_path, index=True, index_label="artist_imdb_id")
        print(f"\nSaving progress. Run {artist_count} for movie {i}. artists_collected:{artists_collected}. artists_skipped:{artists_skipped}")

artist_dataset = pd.DataFrame(artists_list).T
artist_dataset.to_csv(artists_dataset_path, index=True, index_label="artist_imdb_id")
print(f"\n\nFinished process. Total: {artist_count}. artists_collected:{artists_collected}. artists_skipped:{artists_skipped}")

Saving progress. Run 200 for movie 34. artists_collected:0. artists_skipped:199

Saving progress. Run 400 for movie 65. artists_collected:0. artists_skipped:399

Saving progress. Run 600 for movie 96. artists_collected:0. artists_skipped:599

Saving progress. Run 800 for movie 125. artists_collected:0. artists_skipped:799

Saving progress. Run 1000 for movie 156. artists_collected:0. artists_skipped:999

Saving progress. Run 1200 for movie 189. artists_collected:0. artists_skipped:1199

Saving progress. Run 1400 for movie 222. artists_collected:0. artists_skipped:1399

Saving progress. Run 1600 for movie 254. artists_collected:0. artists_skipped:1599

Saving progress. Run 1800 for movie 286. artists_collected:0. artists_skipped:1799

Saving progress. Run 2000 for movie 317. artists_collected:0. artists_skipped:1999

Saving progress. Run 2200 for movie 349. artists_collected:0. artists_skipped:2199

Saving progress. Run 2400 for movie 383. artists_collected:0. artists_skipped:2399

Saving progress. Run 2600 for movie 414. artists_collected:0. artists_skipped:2599

Saving progress. Run 2800 for movie 447. artists_collected:0. artists_skipped:2799

Saving progress. Run 3000 for movie 479. artists_collected:0. artists_skipped:2999

Saving progress. Run 3200 for movie 510. artists_collected:0. artists_skipped:3199

Saving progress. Run 3400 for movie 543. artists_collected:0. artists_skipped:3399

Saving progress. Run 3600 for movie 577. artists_collected:0. artists_skipped:3599

Saving progress. Run 3800 for movie 609. artists_collected:0. artists_skipped:3799

Saving progress. Run 4000 for movie 642. artists_collected:0. artists_skipped:3999

Saving progress. Run 4200 for movie 676. artists_collected:0. artists_skipped:4199

Saving progress. Run 4400 for movie 709. artists_collected:0. artists_skipped:4399

Saving progress. Run 4600 for movie 741. artists_collected:0. artists_skipped:4599

Saving progress. Run 4800 for movie 774. artists_collected:0. artists_skipped:4799

Saving progress. Run 5000 for movie 808. artists_collected:0. artists_skipped:4999

Saving progress. Run 5200 for movie 841. artists_collected:0. artists_skipped:5199

Saving progress. Run 5400 for movie 874. artists_collected:0. artists_skipped:5399

Saving progress. Run 5600 for movie 909. artists_collected:0. artists_skipped:5599

Saving progress. Run 5800 for movie 943. artists_collected:0. artists_skipped:5799

Saving progress. Run 6000 for movie 977. artists_collected:0. artists_skipped:5999

Saving progress. Run 6200 for movie 1009. artists_collected:0. artists_skipped:6199

Saving progress. Run 6400 for movie 1043. artists_collected:0. artists_skipped:6399

Saving progress. Run 6600 for movie 1076. artists_collected:0. artists_skipped:6599

Saving progress. Run 6800 for movie 1110. artists_collected:0. artists_skipped:6799

Saving progress. Run 7000 for movie 1143. artists_collected:0. artists_skipped:6999

Saving progress. Run 7200 for movie 1179. artists_collected:0. artists_skipped:7199

Saving progress. Run 7400 for movie 1212. artists_collected:0. artists_skipped:7399

Saving progress. Run 7600 for movie 1246. artists_collected:0. artists_skipped:7599

Saving progress. Run 7800 for movie 1280. artists_collected:0. artists_skipped:7799

Saving progress. Run 8000 for movie 1315. artists_collected:0. artists_skipped:7999

Saving progress. Run 8200 for movie 1347. artists_collected:0. artists_skipped:8199

Saving progress. Run 8400 for movie 1381. artists_collected:0. artists_skipped:8399

Saving progress. Run 8600 for movie 1414. artists_collected:0. artists_skipped:8599

Saving progress. Run 8800 for movie 1448. artists_collected:0. artists_skipped:8799

Saving progress. Run 9000 for movie 1481. artists_collected:0. artists_skipped:8999

Saving progress. Run 9200 for movie 1514. artists_collected:0. artists_skipped:9199

Saving progress. Run 9400 for movie 1549. artists_collected:0. artists_skipped:9399

Saving progress. Run 9600 for movie 1582. artists_collected:0. artists_skipped:9599

Saving progress. Run 9800 for movie 1616. artists_collected:0. artists_skipped:9799

Saving progress. Run 10000 for movie 1650. artists_collected:0. artists_skipped:9999

Saving progress. Run 10200 for movie 1684. artists_collected:0. artists_skipped:10199

Saving progress. Run 10400 for movie 1718. artists_collected:0. artists_skipped:10399

Saving progress. Run 10600 for movie 1752. artists_collected:0. artists_skipped:10599

Saving progress. Run 10800 for movie 1785. artists_collected:0. artists_skipped:10799

Saving progress. Run 11000 for movie 1818. artists_collected:0. artists_skipped:10999

Saving progress. Run 11200 for movie 1854. artists_collected:0. artists_skipped:11199

Saving progress. Run 11400 for movie 1889. artists_collected:0. artists_skipped:11399

Saving progress. Run 11600 for movie 1922. artists_collected:0. artists_skipped:11599

Saving progress. Run 11800 for movie 1955. artists_collected:0. artists_skipped:11799

Saving progress. Run 12000 for movie 1991. artists_collected:0. artists_skipped:11999

Saving progress. Run 12200 for movie 2025. artists_collected:0. artists_skipped:12199

Saving progress. Run 12400 for movie 2059. artists_collected:0. artists_skipped:12399

Saving progress. Run 12600 for movie 2094. artists_collected:0. artists_skipped:12599

Saving progress. Run 12800 for movie 2128. artists_collected:0. artists_skipped:12799

Saving progress. Run 13000 for movie 2164. artists_collected:0. artists_skipped:12999

Saving progress. Run 13200 for movie 2200. artists_collected:0. artists_skipped:13199

Saving progress. Run 13400 for movie 2234. artists_collected:0. artists_skipped:13399

Saving progress. Run 13600 for movie 2269. artists_collected:0. artists_skipped:13599

Saving progress. Run 13800 for movie 2304. artists_collected:0. artists_skipped:13799

Saving progress. Run 14000 for movie 2340. artists_collected:0. artists_skipped:13999

Saving progress. Run 14200 for movie 2373. artists_collected:0. artists_skipped:14199

Saving progress. Run 14400 for movie 2409. artists_collected:0. artists_skipped:14399

Saving progress. Run 14600 for movie 2444. artists_collected:0. artists_skipped:14599

Saving progress. Run 14800 for movie 2478. artists_collected:0. artists_skipped:14799

Saving progress. Run 15000 for movie 2513. artists_collected:0. artists_skipped:14999

Saving progress. Run 15200 for movie 2548. artists_collected:0. artists_skipped:15199

Saving progress. Run 15400 for movie 2584. artists_collected:0. artists_skipped:15399

Saving progress. Run 15600 for movie 2620. artists_collected:0. artists_skipped:15599

Saving progress. Run 15800 for movie 2655. artists_collected:0. artists_skipped:15799

Saving progress. Run 16000 for movie 2690. artists_collected:0. artists_skipped:15999

Saving progress. Run 16200 for movie 2724. artists_collected:0. artists_skipped:16199

Saving progress. Run 16400 for movie 2759. artists_collected:0. artists_skipped:16399

Saving progress. Run 16600 for movie 2794. artists_collected:0. artists_skipped:16599

Saving progress. Run 16800 for movie 2828. artists_collected:0. artists_skipped:16799

Saving progress. Run 17000 for movie 2864. artists_collected:0. artists_skipped:16999

Saving progress. Run 17200 for movie 2900. artists_collected:0. artists_skipped:17199

Saving progress. Run 17400 for movie 2936. artists_collected:0. artists_skipped:17399

Saving progress. Run 17600 for movie 2971. artists_collected:0. artists_skipped:17599

Saving progress. Run 17800 for movie 3005. artists_collected:0. artists_skipped:17799

Saving progress. Run 18000 for movie 3039. artists_collected:0. artists_skipped:17999

Saving progress. Run 18200 for movie 3075. artists_collected:0. artists_skipped:18199

Saving progress. Run 18400 for movie 3110. artists_collected:0. artists_skipped:18399

Saving progress. Run 18600 for movie 3144. artists_collected:0. artists_skipped:18599

Saving progress. Run 18800 for movie 3177. artists_collected:0. artists_skipped:18799

Saving progress. Run 19000 for movie 3213. artists_collected:0. artists_skipped:18999

Saving progress. Run 19200 for movie 3247. artists_collected:0. artists_skipped:19199

Saving progress. Run 19400 for movie 3284. artists_collected:0. artists_skipped:19399

Saving progress. Run 19600 for movie 3317. artists_collected:0. artists_skipped:19599

Saving progress. Run 19800 for movie 3355. artists_collected:0. artists_skipped:19799

Saving progress. Run 20000 for movie 3390. artists_collected:0. artists_skipped:19999

Saving progress. Run 20200 for movie 3425. artists_collected:0. artists_skipped:20199

Saving progress. Run 20400 for movie 3460. artists_collected:0. artists_skipped:20399

Saving progress. Run 20600 for movie 3495. artists_collected:0. artists_skipped:20599

Saving progress. Run 20800 for movie 3529. artists_collected:0. artists_skipped:20799

Saving progress. Run 21000 for movie 3562. artists_collected:0. artists_skipped:20999

Saving progress. Run 21200 for movie 3599. artists_collected:0. artists_skipped:21199

Saving progress. Run 21400 for movie 3633. artists_collected:0. artists_skipped:21399

Saving progress. Run 21600 for movie 3668. artists_collected:0. artists_skipped:21599

Saving progress. Run 21800 for movie 3704. artists_collected:0. artists_skipped:21799

Saving progress. Run 22000 for movie 3739. artists_collected:0. artists_skipped:21999

Saving progress. Run 22200 for movie 3773. artists_collected:0. artists_skipped:22199

Saving progress. Run 22400 for movie 3808. artists_collected:0. artists_skipped:22399

Saving progress. Run 22600 for movie 3845. artists_collected:0. artists_skipped:22599

Saving progress. Run 22800 for movie 3880. artists_collected:0. artists_skipped:22799


Finished process. Total: 22905. artists_collected:2. artists_skipped:22902

In [34]:
artist_dataset.head(5)

,artist_collected,artist_imdb_id.1,artist_type,artist_url,artist_name,artist_birthday,artist_age,artist_bio,artist_gender,is_openly_lgbt,...,awards_prestige_nominations,awards_other_won,awards_other_nominations,previous_work,__SuccsefullyCollectArtistDetails,awards_prestige,artist_imdb_id.2,artist_imdb_id.3,artist_imdb_id.4,artist_imdb_id
nm0000116,True,nm0000116,Director,https://www.imdb.com/name/nm0000116,James Cameron,"August 16, 1954",68.0,"James Francis Cameron was born on August 16, 1...",Male,False,...,0,77,89,22.0,True,NaN,NaN,NaN,NaN,NaN
nm0415425,True,nm0415425,Writer,https://www.imdb.com/name/nm0415425,Rick Jaffa,"May 8, 1956",66.0,Rick Jaffa was born on 8 May 1956 in Dallas Co...,Male,False,...,0,1,3,11.0,True,0.0,NaN,NaN,NaN,NaN
nm0798646,True,nm0798646,Writer,https://www.imdb.com/name/nm0798646,Amanda Silver,"May 24, 1963",59.0,Amanda Silver was born on 24 May 1963 in the U...,Female,False,...,0,1,3,13.0,True,0.0,NaN,NaN,NaN,NaN
nm0941777,True,nm0941777,Star,https://www.imdb.com/name/nm0941777,Sam Worthington,"August 2, 1976",46.0,Samuel Henry John Worthington was born August ...,Male,False,...,0,6,19,55.0,True,0.0,NaN,NaN,NaN,NaN
nm0757855,True,nm0757855,Star,https://www.imdb.com/name/nm0757855,Zoe Saldana,"June 19, 1978",44.0,"Zoe Saldana was born on June 19, 1978 in Passa...",Female,False,...,0,18,69,68.0,True,0.0,NaN,NaN,NaN,NaN

# Build final dataset

Go over the movie_dataset and convert the data to a manageable format

In [35]:
imdb_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/imdb_dataset.csv"
if os.path.exists(imdb_dataset_path):
  imdb_df = pd.read_csv(imdb_dataset_path)
  imdb_dict = imdb_df.set_index('movie_id').T.to_dict()
  
else:
  imdb_dict = {}
  imdb_df = pd.DataFrame(imdb_dict)

print(f"imdb_dict contains {len(imdb_dict)} records")
imdb_df.head(3)

imdb_dict contains 0 records

Empty DataFrame
Columns: []
Index: []

In [36]:
movie_dataset.head(3).T

,0,1,2
movie_id,tt1630029,tt6710474,tt9764362
__SuccsefullyCollectBasicDetails,True,True,True
__SuccsefullyCollectExtandedDetails,True,True,True
movie_name,Avatar: The Way of Water,Everything Everywhere All at Once,The Menu
movie_page_url,https://www.imdb.com/title/tt1630029/?ref_=adv...,https://www.imdb.com/title/tt6710474/?ref_=adv...,https://www.imdb.com/title/tt9764362/?ref_=adv...
...,...,...,...
Director_2_imdb_id,NaN,nm3215397,NaN
cast_count_production_department,NaN,NaN,NaN
Director_3_name,NaN,NaN,NaN
Director_3_imdb_id,NaN,NaN,NaN
movie_id.2,NaN,NaN,NaN

## Function: Convert string to number

In [97]:
def convert_numbers(num_string):
  try:
    if not num_string:
      return None
    elif 'K' in num_string:
        number = float(num_string.replace('K', '')) * 1000
    elif 'M' in num_string:
        number = float(num_string.replace('M', '')) * 1000000
    else:
        number = float(num_string.replace('$', '').replace(',', ''))
    return number
  except Exception as ex:
    #print(f"Could not interpret value {num_string}")
    return None



print(convert_numbers('$14,300,000'))
print(convert_numbers('3.3K'))
print(convert_numbers('2.6M'))
print(convert_numbers('2.6M'))
print(convert_numbers('350000000.0'))
print(convert_numbers('87'))
print(convert_numbers('87.00'))
print(convert_numbers(None))

14300000.0
3300.0
2600000.0
2600000.0
350000000.0
87.0
87.0
None

In [38]:
def count_words(text):
  if not text:
    return 0
  else:
    words = text.split()
    return len(words)

print(count_words("Puss in Boots: The Last Wish"))
print(count_words("X"))
print(count_words(None))
print(count_words(""))

6
1
0
0

## Function: Rating to Rating Category

In [39]:
def rating_to_category(movie_rating):
    rating_category = {
        "NC-17": "R",
        "16+": "R",
        "18+": "R",
        "Approved": "G",
        "G": "G",
        "M": "PG-13",
        "Not Rated": "Unrated",
        "PG": "PG-13",
        "PG-13": "PG-13",
        "R": "R",
        "TV-14": "PG-13",
        "TV-G": "G",
        "TV-MA": "R",
        "TV-PG": "PG-13",
        "TV-Y": "G",
        "TV-Y7": "G",
        "Unrated": "Unrated"
    }
    return rating_category.get(movie_rating, "Unrated")

print(rating_to_category("M"))
print(rating_to_category("TV-Y"))
print(rating_to_category(""))
print(rating_to_category(None))
print(rating_to_category("BadValue"))

PG-13
G
Unrated
Unrated
Unrated

## Function: Genere to Genere Category

In [40]:
def genre_list_to_catg(genre_list):
  genre_dict = {"genre__count":0}
  if type(genre_list) == str:
    g_list = genre_list.strip().split(',')
    genre_dict["genre__count"] = len(g_list)
  
    for g in g_list:
      genre_dict[f"genere_{g.strip().lower()}"] = True

  return genre_dict

print(genre_list_to_catg("Action, "))
print(genre_list_to_catg("Action, adventure, Fantasy"))
print(genre_list_to_catg("Biography, Comedy, Music"))
print(genre_list_to_catg(None))
print(genre_list_to_catg(""))

{'genre__count': 2, 'genere_action': True, 'genere_': True}
{'genre__count': 3, 'genere_action': True, 'genere_adventure': True, 'genere_fantasy': True}
{'genre__count': 3, 'genere_biography': True, 'genere_comedy': True, 'genere_music': True}
{'genre__count': 0}
{'genre__count': 1, 'genere_': True}

## Function: Language to Language Category

In [41]:
def language_list_to_catg(language_list):
  language_dict = {}
  if type(language_list)==str:
    l_list = language_list.strip().split(',')
    language_dict["language__count"] = len(l_list)

    for l in l_list:
        language_dict[f"language_{l.strip().lower()}"] = True
  else:
    language_dict[f"language_english"] = True
    language_dict["language__count"] = 1

  return language_dict

print(language_list_to_catg("English"))
print(language_list_to_catg("English,Mandarin,Cantonese"))
print(language_list_to_catg(None))
print(language_list_to_catg(""))

{'language__count': 1, 'language_english': True}
{'language__count': 3, 'language_english': True, 'language_mandarin': True, 'language_cantonese': True}
{'language_english': True, 'language__count': 1}
{'language__count': 1, 'language_': True}

## Function: Extract Crew Stats

In [42]:
def extract_artist_stats(row,movie_id):

  artist_stats_dict = {}

  movie_name = row['movie_name']

  artist_cols = ['Star_1_imdb_id','Star_2_imdb_id','Star_3_imdb_id','Director_1_imdb_id','Director_2_imdb_id','Director_3_imdb_id','Writer_1_imdb_id','Writer_2_imdb_id','Writer_3_imdb_id']

  #info to extract:
  main_crew_count = 0
  crew_age_sum = 0
  crew_age_avg = 0
  crew_age_missing = 0
  crew_female_count = 0
  crew_nonbinary_count = 0
  crew_lgbt_count = 0
  crew_prestige_wins = 0
  crew_prestige_nominations = 0
  crew_awards_wins = 0
  crew_awards_nominations = 0

  for artist in artist_cols:
    try:
      artist_imdb_id = row.get(artist)
      if type(artist_imdb_id) == str:
        main_crew_count += 1

        artist_data = artists_list.get(artist_imdb_id)
        artist_name = artist_data.get('artist_name')
        artist_gender = artist_data.get('artist_gender')
        
        if artist_gender=="Female":
          crew_female_count+=1
        elif artist_gender=="NonBinary":
          crew_nonbinary_count+=1

        artist_lgbt = artist_data.get('is_openly_lgbt')
        if artist_lgbt:
          crew_lgbt_count += 1

        age = artist_data.get('artist_age')
        #print(artist_data)
        #print(artist_imdb_id,artist_name,age,artist_data['artist_age'])
        if not age:
          crew_age_missing += 1
        else:
          crew_age_sum += age

        crew_prestige_wins += artist_data.get('awards_prestige_wins')
        crew_prestige_nominations += artist_data.get('awards_prestige_nominations')
        crew_awards_wins += artist_data.get('awards_other_won')
        crew_awards_nominations += artist_data.get('awards_other_nominations')
    except Exception as e:
      print(f"Failed extracting data for artist: {artist} - {artist_data.get('artist_name')}. \nmovie_name: {movie_name}({movie_id}).\n Error:\n{e}")
      traceback.print_exc()

  if crew_age_sum: # Ag age is the sum age divided by the number of collected ages (total minus missing)
    crew_age_avg = crew_age_sum/(main_crew_count-crew_age_missing)
  else:
    print(f'None of the crew for movie {movie_name}({movie_id} had their age listed in their bio page.')
    crew_age_avg = None

  artist_stats_dict['main_crew_count'] = main_crew_count
  artist_stats_dict['crew_age_avg'] = crew_age_avg
  artist_stats_dict['crew_age_missing'] = crew_age_missing
  artist_stats_dict['crew_female_count'] = crew_female_count
  artist_stats_dict['crew_nonbinary_count'] = crew_nonbinary_count
  artist_stats_dict['crew_lgbt_count'] = crew_lgbt_count
  artist_stats_dict['crew_prestige_wins'] = crew_prestige_wins
  artist_stats_dict['crew_prestige_nominations'] = crew_prestige_nominations
  artist_stats_dict['crew_awards_wins'] = crew_awards_wins
  artist_stats_dict['crew_awards_nominations'] = crew_awards_nominations
  return artist_stats_dict

extract_artist_stats(row,"tt22061140")

{'main_crew_count': 6,
 'crew_age_avg': 53.6,
 'crew_age_missing': 1,
 'crew_female_count': 1,
 'crew_nonbinary_count': 0,
 'crew_lgbt_count': 0,
 'crew_prestige_wins': 1,
 'crew_prestige_nominations': 0,
 'crew_awards_wins': 29,
 'crew_awards_nominations': 31}

## Main Function: Build IMDB Dataset

In [43]:


def build_imdb_movie_dataset(movie_id,total_movie_dataset):

  row = total_movie_dataset[movie_id]

  amount_cols = ['budget_usd','runtime_min']

  imdb_movie = {"_finshed_successfully":False}

  for col in amount_cols:
    imdb_movie[col] = convert_numbers(str(row.get(col)))

  imdb_movie['movie_name'] = row.get('movie_name')
  imdb_movie['title_length'] = count_words(row.get('movie_name'))
  imdb_movie['movie_desc_length'] = count_words(row.get('movie_description'))
  imdb_movie['rating_catg'] = rating_to_category(row.get('movie_rating'))
  imdb_movie['movie_year'] = 2022 if row.get('movie_year') is None else row.get('movie_year')
  imdb_movie['release_year'] = 2022 if row.get('release_year') is None else row.get('release_year')
  imdb_movie['release_month'] = row.get('release_month') 
  imdb_movie['release_country'] = "United States" if row.get('release_country') is None else row.get('release_country')
  imdb_movie['budget_currency'] = "USD" if row.get('budget_currency') is None else row.get('budget_currency')

  # cast count:
  for k in row.keys():
    if 'cast_count' in k:
      imdb_movie[k] = 0 if row[k] is None else row[k] 

  # genere:
  movie_genre_dict = genre_list_to_catg(row.get('movie_genere'))
  imdb_movie.update(movie_genre_dict)

  # language:
  languages_dict = language_list_to_catg(row.get('languages'))
  imdb_movie.update(languages_dict)

  # Get dependent columns:
  imdb_movie['pred_metascore'] = row.get('movie_metascore')
  imdb_movie['pred_user_rating'] = row.get('user_rating')
  imdb_movie['pred_user_review_count'] = convert_numbers(str(row.get('user_reviews_count')))
  imdb_movie['pred_critic_review_count'] = convert_numbers(str(row.get('critic_reviews_count')))
  imdb_movie['pred_total_vote_count'] = convert_numbers(str(row.get('movie_vote_num')))
  imdb_movie['pred_gross_worldwide'] = convert_numbers(str(row.get('gross_worldwide')))
  imdb_movie['pred_gross_us_canada'] = convert_numbers(str(row.get('gross_us_canada')))
  imdb_movie['pred_opening_weekend_us_canada'] = convert_numbers(str(row.get('opening_weekend_us_canada')))

  # Get crew stats:
  crew_stats = extract_artist_stats(row,movie_id)
  imdb_movie["_finshed_successfully"] = True
  imdb_movie.update(crew_stats)

  #print(row)
  return imdb_movie

#build_imdb_movie_dataset("tt16379898",total_movie_dataset)

In [44]:
imdb_movie_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/imdb_movie_dataset_raw.csv"
if os.path.exists(imdb_movie_dataset_path):
  imdb_movie_raw_dataset = pd.read_csv(imdb_movie_dataset_path, index_col=['movie_id'])
  imdb_movie_raw_dict = imdb_movie_raw_dataset.T.to_dict()
  
else:
  imdb_movie_raw_dict = {}
  imdb_movie_raw_dataset = pd.DataFrame(imdb_movie_raw_dict)

print(f"imdb_movie_raw_dict contains {len(imdb_movie_raw_dict)} records")
imdb_movie_raw_dataset.head(3)

imdb_movie_raw_list contains 3900 records

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,release_year,release_month,...,language_tamil,language_none,language_aboriginal,language_sinhala,language_nepali,language_telugu,language_malayalam,language_ibo,language_aramaic,language_pashtu
movie_id,,,,,,,,,,,,,,,,,,,,,
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,2022,December,...,False,False,False,False,False,False,False,False,False,False
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,2022,April,...,False,False,False,False,False,False,False,False,False,False
tt9764362,True,35000000.0,107.0,The Menu,2,26,R,2022,2022,November,...,False,False,False,False,False,False,False,False,False,False

## Cursor: Finalize Dataset

In [45]:
movies_processed = 0
movies_skipped = 0
movie_count = 0
for i, row in movie_dataset.iterrows():
  movie_count += 1
  try:
    imdb_movie_record = {}
    movie_id = row['movie_id']
    if movie_id in imdb_movie_raw_dict.keys() and imdb_movie_raw_dict[movie_id]['_finshed_successfully']==True:
      imdb_movie_record = imdb_movie_raw_dict[movie_id]
      movies_skipped += 1
    else:
      imdb_movie_record = build_imdb_movie_dataset(movie_id,total_movie_dataset)


    imdb_movie_raw_dict[movie_id] = imdb_movie_record
  except Exception as e:
    print(f"Failed building finished data for movie: {movie_id}. \nRaw Data: {row}.\n Error:\n{e}")
    traceback.print_exc()
    imdb_movie_record['_finshed_successfully'] = False;

 
imdb_movie_raw_dataset = pd.DataFrame(imdb_movie_raw_dict).T
print(f"\n\nFinished process. Total: {movie_count}. movies_processed:{movies_processed}. movies_skipped:{movies_skipped}")
imdb_movie_raw_dataset.to_csv(imdb_movie_dataset_path, index=True, index_label="movie_id")

Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None


Finished process. Total: 3901. movies_processed:0. movies_skipped:3900

In [46]:
imdb_movie_raw_dataset.head(3)

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,release_year,release_month,...,language_tamil,language_none,language_aboriginal,language_sinhala,language_nepali,language_telugu,language_malayalam,language_ibo,language_aramaic,language_pashtu
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,2022,December,...,False,False,False,False,False,False,False,False,False,False
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,2022,April,...,False,False,False,False,False,False,False,False,False,False
tt9764362,True,35000000.0,107.0,The Menu,2,26,R,2022,2022,November,...,False,False,False,False,False,False,False,False,False,False

In [47]:
# Convert all nan values to 0s:

for col in imdb_movie_raw_dataset.columns:
    # Check if the column name starts with 'cast_count'
    if col.startswith('cast_count_'):
        # Replace NaN values with 0
        imdb_movie_raw_dataset[col] = imdb_movie_raw_dataset[col].fillna(0)
    elif col.startswith('language_') or col.startswith('genere_'):
      # Replace NaN values with False
        imdb_movie_raw_dataset[col] = imdb_movie_raw_dataset[col].fillna(False)



imdb_movie_raw_dataset.to_csv(imdb_movie_dataset_path, index=True, index_label="movie_id")
imdb_movie_raw_dataset.head(3)

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,release_year,release_month,...,language_tamil,language_none,language_aboriginal,language_sinhala,language_nepali,language_telugu,language_malayalam,language_ibo,language_aramaic,language_pashtu
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,2022,December,...,False,False,False,False,False,False,False,False,False,False
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,2022,April,...,False,False,False,False,False,False,False,False,False,False
tt9764362,True,35000000.0,107.0,The Menu,2,26,R,2022,2022,November,...,False,False,False,False,False,False,False,False,False,False

# Collect Future Movies:

In [81]:
start_date = '2023-05-01'
end_date = '2023-06-30'

def get_50_unreleased_movie_batch(start_point, start_date = "2022-01-01", end_date = "2022-12-31", print_results = False):
  movie_search_url_50_batch = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&countries=us&languages=en&start={start_point}&ref_=adv_nxt"
  
  search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
  search_page_soup = BeautifulSoup(search_page.text, 'html.parser')
  list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

  max_num_of_results = search_page_soup.find('div',{'class':'desc'}).find('span').text.split(' ')[2].replace(",", "")
  max_num_of_results = int(max_num_of_results)
  if print_results: print(f"Start point: {start_point}. start_date: {start_date}. end_date: {end_date}. \nTotal Movies: {max_num_of_results} \nsearch url: {movie_search_url_50_batch}")

  #print(f"max_num_of_results: {max_num_of_results}")
  return(list_of_50_movies_soup,max_num_of_results)

list_of_50_future_movies_soup,max_num_of_results = get_50_unreleased_movie_batch(start_point = 1, start_date = start_date, end_date = end_date, print_results = True)

Start point: 1. start_date: 2023-05-01. end_date: 2023-06-30.
Total Movies: 221
search url: https://www.imdb.com/search/title/?title_type=feature&release_date=2023-05-01,2023-06-30&countries=us&languages=en&start=1&ref_=adv_nxt

In [82]:
future_movies_dict_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/future_movies_dataset.csv"
if os.path.exists(future_movies_dict_path):
  future_movies_df = pd.read_csv(future_movies_dict_path)
  future_movies_dict = future_movies_df.set_index('movie_id').T.to_dict()
  
else:
  future_movies_dict = {}
  future_movies_df = pd.DataFrame(future_movies_dict)

print(f"future_movies_dict contains {len(future_movies_dict)} records")
future_movies_df.head(3)

future_movies_dict contains 0 records

Empty DataFrame
Columns: []
Index: []

## Future Movies - Collect raw movie data

In [87]:
start_point = 1 # Start from movie #1-50

basic_data_collected = 0
basic_data_skipped = 0
extended_data_collected = 0
extended_data_skipped = 0

count = 1
while start_point < max_num_of_results-50:

  list_of_50_future_movies_soup,max_num_of_results = get_50_unreleased_movie_batch(start_point = start_point, start_date = start_date, end_date = end_date, print_results = False)
  if count==1: print(f"Starting run collecting movies. Total of {max_num_of_results} movies to be collected.")

  for i,movie in enumerate(list_of_50_future_movies_soup):
    future_movie_data = {'__SuccsefullyCollectBasicDetails':False, '__SuccsefullyCollectExtandedDetails':False}

    basic_data = get_basic_details(movie)
    movie_id = basic_data['movie_id']

    try:
      if movie_id in future_movies_dict.keys():
        future_movie_data = future_movies_dict[movie_id]

      if future_movie_data['__SuccsefullyCollectBasicDetails']==True:
        basic_data_skipped += 1
      else:
        basic_data_collected += 1
        future_movie_data.update(basic_data)

      if future_movie_data['__SuccsefullyCollectExtandedDetails']==True:
        extended_data_skipped += 1
      else:
        extended_data_collected += 1
        extended_data = get_extended_datails(basic_data['movie_page_url'],basic_data['movie_name'])
        future_movie_data.update(extended_data)

        sleep(0.1)
    except Exception as e:
      print(f"Failed running cursor for movie: {movie_id}. \nUrl: {basic_data['movie_page_url']}.\n Error:\n{e}")
      traceback.print_exc()

    future_movies_dict[movie_id] = future_movie_data
    count+= 1

    if (count%30 == 0):
      print(f"\nRun number: {count}. basic_data_collected: {basic_data_collected}. extended_data_collected: {extended_data_collected}. basic_data_skipped: {basic_data_skipped}. extended_data_skipped: {extended_data_skipped}")


  future_movies_df = pd.DataFrame(future_movies_dict).T
  future_movies_df.to_csv(future_movies_dict_path, index=True, index_label="movie_id")

  start_point += 50

future_movies_df = pd.DataFrame(future_movies_dict).T
future_movies_df.to_csv(future_movies_dict_path, index=True, index_label="movie_id")
print(f"\nRun number: {count}. \nbasic_data_collected: {basic_data_collected}. \nextended_data_collected: {extended_data_collected}. \nbasic_data_skipped: {basic_data_skipped}. \nextended_data_skipped: {extended_data_skipped}\n")

Starting run collecting movies. Total of 221 movies to be collected.

Run number: 30. basic_data_collected: 0. extended_data_collected: 0. basic_data_skipped: 29. extended_data_skipped: 29

Run number: 60. basic_data_collected: 9. extended_data_collected: 9. basic_data_skipped: 50. extended_data_skipped: 50
No Writer found for movie Jagged Mind. Url: https://www.imdb.com/title/tt22496012/?ref_=adv_li_i
No Writer found for movie Little Dodo. Url: https://www.imdb.com/title/tt26598173/?ref_=adv_li_i
No Writer found for movie The Good Half. Url: https://www.imdb.com/title/tt27546757/?ref_=adv_li_i
No Writer found for movie It's Lonely at the Top II. Url: https://www.imdb.com/title/tt26902292/?ref_=adv_li_i

Run number: 90. basic_data_collected: 39. extended_data_collected: 39. basic_data_skipped: 50. extended_data_skipped: 50
No Director found for movie The Alien Report. Url: https://www.imdb.com/title/tt17079602/?ref_=adv_li_i
No Writer found for movie The Alien Report. Url: https://www.imdb.com/title/tt17079602/?ref_=adv_li_i
No Writer found for movie Mexican Connection. Url: https://www.imdb.com/title/tt16760028/?ref_=adv_li_i
No Writer found for movie Full Time Pimpin. Url: https://www.imdb.com/title/tt15255036/?ref_=adv_li_i

Run number: 120. basic_data_collected: 69. extended_data_collected: 69. basic_data_skipped: 50. extended_data_skipped: 50
No Director found for movie Master of Dreams. Url: https://www.imdb.com/title/tt14538396/?ref_=adv_li_i
No Writer found for movie Bite the Dust. Url: https://www.imdb.com/title/tt18257242/?ref_=adv_li_i
No Writer found for movie Passionate Betrayals. Url: https://www.imdb.com/title/tt27460415/?ref_=adv_li_i
No Writer found for movie Mermaids' Lament. Url: https://www.imdb.com/title/tt14410024/?ref_=adv_li_i
No Writer found for movie Recipe for Romance. Url: https://www.imdb.com/title/tt27127376/?ref_=adv_li_i

Run number: 150. basic_data_collected: 99. extended_data_collected: 99. basic_data_skipped: 50. extended_data_skipped: 50
No Writer found for movie Throat. Url: https://www.imdb.com/title/tt21997540/?ref_=adv_li_i
No Writer found for movie Fire Moon. Url: https://www.imdb.com/title/tt27033676/?ref_=adv_li_i
No Director found for movie American Roadkill. Url: https://www.imdb.com/title/tt27116785/?ref_=adv_li_i
No Writer found for movie American Roadkill. Url: https://www.imdb.com/title/tt27116785/?ref_=adv_li_i
No Writer found for movie Raw Power. Url: https://www.imdb.com/title/tt10548482/?ref_=adv_li_i
No Director found for movie The Lost Locket. Url: https://www.imdb.com/title/tt12671466/?ref_=adv_li_i
No Star found for movie The Lost Locket. Url: https://www.imdb.com/title/tt12671466/?ref_=adv_li_i

Run number: 180. basic_data_collected: 129. extended_data_collected: 129. basic_data_skipped: 50. extended_data_skipped: 50
No Writer found for movie Sunset Shimmer and the Acidic Universe of Makori. Url: https://www.imdb.com/title/tt15535164/?ref_=adv_li_i
No Director found for movie The Owen Brothers. Url: https://www.imdb.com/title/tt14431112/?ref_=adv_li_i
No Writer found for movie The Owen Brothers. Url: https://www.imdb.com/title/tt14431112/?ref_=adv_li_i
No Star found for movie I Choose You. Url: https://www.imdb.com/title/tt27166509/?ref_=adv_li_i
No Director found for movie Cold Spring. Url: https://www.imdb.com/title/tt27236147/?ref_=adv_li_i
No Writer found for movie Cold Spring. Url: https://www.imdb.com/title/tt27236147/?ref_=adv_li_i
No Star found for movie Cold Spring. Url: https://www.imdb.com/title/tt27236147/?ref_=adv_li_i

Run number: 201.
basic_data_collected: 150.
extended_data_collected: 150.
basic_data_skipped: 50.
extended_data_skipped: 50

## Future Movies - Update unmapped artists

In [88]:
artist_cols = [col for col in future_movies_df.columns if "imdb_id" in col]

artists_skipped = 0
artists_collected = 0
artist_count = 1
for i, row in future_movies_df.iterrows():
  for col_name in artist_cols:
    artist_dict = {'artist_collected':False}
    artist_imdb_id = row[col_name]
    if type(artist_imdb_id) != float:
      if artist_imdb_id in artists_list.keys() and artists_list[artist_imdb_id]['artist_collected']==True:
        artist_dict = artists_list[artist_imdb_id]
        artist_dict['artist_collected']=True
        artists_skipped += 1
      else:
        artist_output = extract_artist_info(artist_imdb_id,col_name)
        if artist_output!=None:
          artist_dict.update(artist_output)
          artist_dict['artist_collected']=True
        artists_collected += 1 
        sleep(0.1)

      artists_list[artist_imdb_id] = artist_dict
      artist_count += 1
      if artist_count%200 == 0:
        artist_dataset = pd.DataFrame(artists_list).T
        artist_dataset.to_csv(artists_dataset_path, index=True, index_label="artist_imdb_id")
        print(f"\nSaving progress. Run {artist_count} for movie {i}. artists_collected:{artists_collected}. artists_skipped:{artists_skipped}")

artist_dataset = pd.DataFrame(artists_list).T
artist_dataset.to_csv(artists_dataset_path, index=True, index_label="artist_imdb_id")
print(f"\n\nFinished process. Total: {artist_count}. artists_collected:{artists_collected}. artists_skipped:{artists_skipped}")

Saving progress. Run 200 for movie tt1609486. artists_collected:0. artists_skipped:199

Saving progress. Run 400 for movie tt20102596. artists_collected:41. artists_skipped:358
Unable to get previous work for Actor: Chloe Ruth. Url: https://www.imdb.com/name/nm12741670
Unable to extract age for Kate Nichols. Value: Varna, Bulgaria Url: https://www.imdb.com/name/nm4447460
Unable to get previous work for Actor: Emily Bramer. Url: https://www.imdb.com/name/nm13314266
Unable to get previous work for Actor: Diandra Sallee Cahall. Url: https://www.imdb.com/name/nm13769085

Saving progress. Run 600 for movie tt21072836. artists_collected:162. artists_skipped:437
Unable to extract age for Eric Rafael Ibarra. Value: Bozeman, Montana, USA Url: https://www.imdb.com/name/nm7339841
Unable to get previous work for Actor: Ava Calhoun. Url: https://www.imdb.com/name/nm14742747
Unable to get previous work for Actor: Jediah Greene. Url: https://www.imdb.com/name/nm11001551
Unable to get previous work for Actor: Swehla Hunt. Url: https://www.imdb.com/name/nm14069672
Unable to extract age for Nikola Kent. Value: Belgrade, Serbia, Yugoslavia Url: https://www.imdb.com/name/nm3923526
Unable to get previous work for Actor: Cintia Hullen. Url: https://www.imdb.com/name/nm14384739
Unable to get previous work for Actor: Brandi Huber. Url: https://www.imdb.com/name/nm12512646

Saving progress. Run 800 for movie tt4657770. artists_collected:296. artists_skipped:503
Unable to get previous work for Actor: Myla Tkachenko. Url: https://www.imdb.com/name/nm13828513
Unable to get previous work for Actor: Dayva Summer Escobar. Url: https://www.imdb.com/name/nm12631990
Unable to get previous work for Actor: Yana Kobzeva. Url: https://www.imdb.com/name/nm13762789
Unable to get previous work for Actor: Madison Wyborny. Url: https://www.imdb.com/name/nm11508534
Unable to get previous work for Actor: Stella Storm. Url: https://www.imdb.com/name/nm14682570
Unable to get previous work for Actor: Bobbi Bye. Url: https://www.imdb.com/name/nm8874029
Unable to get previous work for Actor: Jordyn Walker. Url: https://www.imdb.com/name/nm13934903
Unable to get previous work for Actor: Brittney 'B Blanco' Dillard. Url: https://www.imdb.com/name/nm14725985
Unable to get previous work for Actor: Alondra. Url: https://www.imdb.com/name/nm14648381

Saving progress. Run 1000 for movie tt15127142. artists_collected:442. artists_skipped:557
Unable to get previous work for Actor: Lilyvee. Url: https://www.imdb.com/name/nm12794859
Unable to get previous work for Actor: Atvty. Url: https://www.imdb.com/name/nm12794860
Unable to get previous work for Actor: Sunset Shimmer. Url: https://www.imdb.com/name/nm12988745
Unable to get previous work for Actor: Madison K Armstrong. Url: https://www.imdb.com/name/nm14659708
Unable to get previous work for Actor: Maggie Masters. Url: https://www.imdb.com/name/nm11960446
Unable to get previous work for Actor: Holly Simpson Gonzalez. Url: https://www.imdb.com/name/nm14434489
Unable to get previous work for Actor: Eboni Anthony. Url: https://www.imdb.com/name/nm14664744
Unable to get previous work for Actor: Mizani Ball. Url: https://www.imdb.com/name/nm14664759


Finished process. Total: 1070. artists_collected:495. artists_skipped:574

## Future Movies - Finalize dataset

In [92]:
future_imdb_movie_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/future_imdb_movie_dataset_raw.csv"
if os.path.exists(future_imdb_movie_dataset_path):
  future_imdb_movie_raw_dataset = pd.read_csv(future_imdb_movie_dataset_path, index_col=['movie_id'])
  future_imdb_movie_raw_dict = future_imdb_movie_raw_dataset.T.to_dict()
  
else:
  future_imdb_movie_raw_dict = {}
  future_imdb_movie_raw_dataset = pd.DataFrame(future_imdb_movie_raw_dict)

print(f"imdb_movie_raw_dict contains {len(future_imdb_movie_raw_dict)} records")
future_imdb_movie_raw_dataset.head(3)

imdb_movie_raw_dict contains 0 records

Empty DataFrame
Columns: []
Index: []

In [98]:
movies_processed = 0
movies_skipped = 0
movie_count = 0
for i, row in future_movies_df.iterrows():
  movie_count += 1
  try:
    imdb_movie_record = {}
    movie_id = row['movie_id']
    if movie_id in future_imdb_movie_raw_dict.keys() and future_imdb_movie_raw_dict[movie_id]['_finshed_successfully']==True:
      imdb_movie_record = future_imdb_movie_raw_dict[movie_id]
      movies_skipped += 1
    else:
      imdb_movie_record = build_imdb_movie_dataset(movie_id,future_movies_dict)


    future_imdb_movie_raw_dict[movie_id] = imdb_movie_record
  except Exception as e:
    print(f"Failed building finished data for movie: {movie_id}. \nRaw Data: {row}.\n Error:\n{e}")
    traceback.print_exc()
    imdb_movie_record['_finshed_successfully'] = False;

 
future_imdb_movie_raw_dataset = pd.DataFrame(future_imdb_movie_raw_dict).T
print(f"\n\nFinished process. Total: {movie_count}. movies_processed:{movies_processed}. movies_skipped:{movies_skipped}")
future_imdb_movie_raw_dataset.to_csv(future_imdb_movie_dataset_path, index=True, index_label="movie_id")

Finished process. Total: 200. movies_processed:0. movies_skipped:200

In [95]:
future_imdb_movie_raw_dataset.head(3)

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,release_year,release_month,...,language_spanish,language_kurdish,language_turkish,language_armenian,language_hindi,language_punjabi,language_urdu,genere_western,language_russian,language_mandarin
tt3427252,True,None,None,The Boogeyman,2,6,PG-13,2023,2023,June,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt5433140,True,340000000.0,141.0,Fast X,2,16,PG-13,2023,2023,May,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt5971474,True,None,135.0,The Little Mermaid,3,30,PG-13,2023,2023,May,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN