<a href="https://colab.research.google.com/github/OmerRosen/Kaggle/blob/main/IMDB_2022_Hit_or_Flop_Data_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB 2022 - Hit or Flop

## Mission Statement

### Data To Collect

#### Search box page:
* Movie Id
* Movie Title
* Movie year
* Rating
* MetaScore - Outcome
* Description
* Poster
* Directore name + Link
* Stars
* Votes - Output
* Genre

#### Main Movie Page data
* Movie Length
* Rank
* Writer
* Star #1
* Star #2
* Star #3
* User eviews
* Critic reviews
* Number of photos posted
* Storyline - Text
* Tag line
* Release Date - Month
* Country of origin
* Additional Lanaguages
* Country of filming
* Production companies
* Budget
* Opening Weekend Date
* Gross US & Canada - Output
* Opening weekend US & Canada - Output
* Gross worldwide - Output
* Color - Color
* Color - Black&White
* Sound mix - Dolby Digital
* Sound mix - Dolby Atmos
* Aspect ratio

#### Director Page:
* Director Age
* Is Top 500?
* Director Gender (Based on bio)
* Previous film count - As Director
* Previous film count - As Writer
* Previous film count - As As Producer
* Director Publicity listing count

#### Information Abount Cast:
* Full list of cast and their profile links
* Number of cast members
* Produced by - Is top 500?
* Music by - Is top 500?
* Cinematography by  - Is top 500
* Film Editing by   - Is top 500
* Art Direction by  - Is top 500
* Number of Production Management
* Number of Art Department
* Number of Sound Department
* Number of Camera and Electrical Department
* Number of Editorial Department
* Number of Music Department
* Number of Additional Crew

#### Actor Page
* Is Top 5000?
* Is Top 500?
* Is Top 100 (aka - Has numberical rank)
* Is Top 10 (aka - Has numberical rank)
* Numerical Rank (Could be none)
* Gender
* Age
* Oscar nominations 
* Birth country

#### Aggragated data:
* How many male stars
* How many female stars
* Avrage cast memeber age
* Max/Min age of cast member
* Number of unique birth countries of actors
* Total number of Oscar numinatior for cast
* Num cast members in top 5000
* Num cast memebers in top 500
* Num cast members in top 100
* Num cast members in top 10

# IMDB Scraper

## Import Libraries

In [1]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time
import traceback

## Set main variables

In [2]:
base_url = "https://www.imdb.com"
base_folder_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project"

start_date = "2022-01-01"
end_date = "2022-12-31"
minimum_votes = 200   # Minimum vote amount to collect movie
start_point = 1       # Start from movie #1-50

movie_search_url = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&languages=en&start={start_point}&user_rating=1.0,10.0&ref_=adv_nxt"
movie_search_url

'https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=200,&languages=en&start=1&user_rating=1.0,10.0&ref_=adv_nxt'

In [3]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

list_of_50_movies = requests.get(f'{movie_search_url}', headers=headers, timeout=10)
list_of_50_movies

In [4]:
list_of_50_movies_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser').find_all('div',{'class':'lister-item mode-advanced'})

In [5]:
movie_search_page = list_of_50_movies_soup[0]

## Function: Get Movie Box details

In [6]:
def get_basic_details(movie_search_page):
  search_box_info = {}
  search_box_info['movie_name'] = movie_search_page.find('a')
  search_box_info['movie_page_url'] = f"{base_url}{movie_search_page.find('a')['href']}"

  try:
    search_box_info['movie_place'] = None if not movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}) else movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}).text.replace('.','')
    search_box_info['movie_id'] = None if not search_box_info['movie_page_url'] else search_box_info['movie_page_url'].split('/')[-2]
    search_box_info['movie_name'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['alt'].strip()
    search_box_info['movie_thubmnail'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['src']
    search_box_info['movie_metascore'] = None if not movie_search_page.find('span', {'class': 'metascore'}) else movie_search_page.find('span', {'class': 'metascore'}).text.strip()
    search_box_info['movie_description'] = None if not movie_search_page.find_all('p',{'class':'text-muted'}) else movie_search_page.find_all('p',{'class':'text-muted'})[1].text.strip()
    search_box_info['runtime_min'] = None if not movie_search_page.find('span',{'class':'runtime'}) else movie_search_page.find('span',{'class':'runtime'}).text.split(' ')[0]

    bottom_box_info = movie_search_page.find('p',{'class':'sort-num_votes-visible'}).find_all('span')
    search_box_info['movie_vote_num'] = bottom_box_info[1]['data-value']

    search_box_info['movie_rating'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}).text.strip()
    search_box_info['movie_genere'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}).text.strip()

    search_box_info['__SuccsefullyCollectBasicDetails'] = True;

  except Exception as e:
    print(f"Failed extracting data for movie: {search_box_info['movie_name']}. \nUrl: {search_box_info['movie_page_url']}.\n Error:\n{e}")
    traceback.print_exc()
    search_box_info['__SuccsefullyCollectBasicDetails'] = False;


  return search_box_info

In [7]:
movie_search_page = list_of_50_movies_soup[1]
search_box_info = get_basic_details(movie_search_page)
search_box_info

{'movie_name': 'Everything Everywhere All at Once',
 'movie_page_url': 'https://www.imdb.com/title/tt6710474/?ref_=adv_li_i',
 'movie_place': '2',
 'movie_id': 'tt6710474',
 'movie_thubmnail': 'https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png',
 'movie_metascore': '81',
 'movie_description': 'A middle-aged Chinese immigrant is swept up into an insane adventure in which she alone can save existence by exploring other universes and connecting with the lives she could have led.',
 'runtime_min': '139',
 'movie_vote_num': '432957',
 'movie_rating': 'R',
 'movie_genere': 'Action, Adventure, Comedy',
 '__SuccsefullyCollectBasicDetails': True}

In [8]:
example_movie_url = "https://www.imdb.com/title/tt14174168/?ref_=adv_li_i"#search_box_info['movie_page_url']
movie_main_page = requests.get(search_box_info['movie_page_url'], headers=headers)
movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')

## Function: Get Year, Month and country

In [9]:


def extract_date_and_country(input_string):
    # Regular expression to match and extract the date and country
    pattern = r'(\w+)\s(\d+),\s(\d+)\s\((.*?)\)'
    match = re.search(pattern, input_string)
    
    if match:
        month, day, year, country = match.groups()
        return year, month, country
    else:
        return None

# Test the function
strings = [
    "October 28, 2022 (Netherlands)",
    "March 18, 2022 (Netherlands)",
    "November 11, 2022 (United States)",
    "December 12, 2022 (Netherlands)",
    "April 24, 2023 (Netherlands)",
    "November 29, 2022 (Netherlands)",
    "January 16, 2023 (Netherlands)",
    "March 18, 2022 (Finland)",
    "January 10, 2023 (United States)",
    "November 18, 2022 (United States)",
    "March 3, 2023 (United States)",
    "March 2, 2023 (United States)",
    "January 25, 2023 (Netherlands)",
    "January 27, 2023 (Netherlands)",
    "July 22, 2022 (United Kingdom)",
    "November 22, 2022 (United States)",
    'September 7, 2022 (United States)'
]

for s in strings:
    print(extract_date_and_country(s))

('2022', 'October', 'Netherlands')
('2022', 'March', 'Netherlands')
('2022', 'November', 'United States')
('2022', 'December', 'Netherlands')
('2023', 'April', 'Netherlands')
('2022', 'November', 'Netherlands')
('2023', 'January', 'Netherlands')
('2022', 'March', 'Finland')
('2023', 'January', 'United States')
('2022', 'November', 'United States')
('2023', 'March', 'United States')
('2023', 'March', 'United States')
('2023', 'January', 'Netherlands')
('2023', 'January', 'Netherlands')
('2022', 'July', 'United Kingdom')
('2022', 'November', 'United States')
('2022', 'September', 'United States')

## Function: Extract Movie Artists

In [10]:
def extract_artist(artist_type, movie_main_page_soup):

  item_dict = {}

  search_result = movie_main_page_soup.find(string=f"{artist_type}s") 
  if search_result==None:
    search_result = movie_main_page_soup.find(string=artist_type) 
  
  search_item_list = []
  try:
    if search_result!=None:
      search_item_list = search_result.find_parent().find_next_sibling().find_all('a')
    
    item_dict[f"{artist_type}_count"] = len(search_item_list)

    for i,item in enumerate(search_item_list):
      artisc_name = item.text.strip()
      artisc_url = item['href']
      artist_id = artisc_url.split('/')[2]
      item_dict[f"{artist_type}_{i+1}_name"] = artisc_name
      #item_dict[f"{artist_type}_{i+1}_url"] = artisc_url
      item_dict[f"{artist_type}_{i+1}_imdb_id"] = artist_id

  except Exception as e:
      print(f"Failed extracting data for artist_type: {artist_type}. \.\n Error:\n{e}")
      traceback.print_exc()

  return item_dict

print(extract_artist("Director", movie_main_page_soup))
print(extract_artist("Writer", movie_main_page_soup))
print(extract_artist("Star", movie_main_page_soup))

{'Director_count': 2, 'Director_1_name': 'Daniel Kwan', 'Director_1_imdb_id': 'nm3453283', 'Director_2_name': 'Daniel Scheinert', 'Director_2_imdb_id': 'nm3215397'}
{'Writer_count': 2, 'Writer_1_name': 'Daniel Kwan', 'Writer_1_imdb_id': 'nm3453283', 'Writer_2_name': 'Daniel Scheinert', 'Writer_2_imdb_id': 'nm3215397'}
{'Star_count': 3, 'Star_1_name': 'Michelle Yeoh', 'Star_1_imdb_id': 'nm0000706', 'Star_2_name': 'Stephanie Hsu', 'Star_2_imdb_id': 'nm3513533', 'Star_3_name': 'Jamie Lee Curtis', 'Star_3_imdb_id': 'nm0000130'}

## Function: Perform Currency Conversion

In [11]:
currency_codes = {
    "$":"USD",
    "€":"EUR",
    "£":"GBP",
    "₹":"INR",
    "â‚¬": "EUR",
    "â‚¹": "INR",
    "CA$": "CAD",
    "NOKÂ": "NOK",
    "Â£": "GBP",
    "CHF": "CHF",
    "Â¥": "JPY",
    "PKR": "PKR",
    "A$": "AUD",
    "CZK": "CZK",
    "RUR": "RUB",
    "NZ$": "NZD",
    "MYR": "MYR",
    "NGN": "NGN",
    "NOK":"NOK",
    "A$":"AUD",
    "â‚¬":"EUR",
    "â‚¹":"INR",
    "Â£":"GBP",
    "CA$":"CAD",
    "CHFÂ ":"CHF",
    "MYRÂ ":"MYR",
    "NGNÂ ":"NGN",
    "NOKÂ ":"NOK",
    "NZ$":"NZD",
    "PKRÂ ":"PKR",
    "RURÂ ":"RUB",
    "IRR ":"IRR"
}


currency_conversion_values = {}

In [12]:
def extract_currency_symbol(s):
    match = re.search(r"[^\d]+", s)
    if match:
        return match.group(0).strip()
    else:
        return ""

In [13]:
def get_currency_code(amount_string):
  currency_symbol = extract_currency_symbol(amount_string)
  if currency_symbol in currency_codes:
      return currency_codes[currency_symbol]
  else:
    print(f"Could not find a value for: {currency_symbol} in {amount_string}")
    return None

In [14]:
def extract_numerical_value(string):
    # Remove all non-numeric characters from the string
    numerical_string = re.sub(r"[^\d.]+", "", string)
    # Convert the string to a float and return it
    return float(numerical_string)

In [15]:

with open(f'{base_folder_path}/openexchangerates.txt', 'r') as f:
    api_key = f.read().strip()

api_key

def convert_string_amount_to_usd(amount):

  # get the currency code and amount value
  currency_code = get_currency_code(amount)
  original_amount = extract_numerical_value(amount)
  usd_amount = None

  if currency_code==None:
    usd_amount=None
  elif currency_code!="USD":
  
    if currency_code in currency_conversion_values:
      exchange_rate = currency_conversion_values[currency_code]
    else:
      # make API request to get exchange rate for the currency code
      url = f"https://openexchangerates.org/api/latest.json?app_id={api_key}&symbols={currency_code}"
      print(amount,currency_code,original_amount,url)
      response = requests.get(url)
      print(response)
      # parse the exchange rate from the API response
      exchange_rate = response.json()["rates"][currency_code]
      
      currency_conversion_values[currency_code] = exchange_rate
      
      # calculate the USD equivalent amount
      usd_amount = round(original_amount / exchange_rate)
      
      print(f"{amount} {currency_code} = {usd_amount} USD")
  else:
    usd_amount = original_amount

  return usd_amount,original_amount,currency_code



convert_string_amount_to_usd("CA$15,000")
convert_string_amount_to_usd("NOKÂ 80,200,000")
convert_string_amount_to_usd("NOKÂ 20,000,000")
convert_string_amount_to_usd("â‚¹3,500,000,000")
currency_conversion_values

CA$15,000 CAD 15000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=CAD
<Response [200]>
CA$15,000 CAD = 10998 USD
NOKÂ 80,200,000 NOK 80200000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=NOK
<Response [200]>
NOKÂ 80,200,000 NOK = 7507302 USD
â‚¹3,500,000,000 INR 3500000000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=INR
<Response [200]>
â‚¹3,500,000,000 INR = 42694643 USD

{'CAD': 1.363911, 'NOK': 10.682933, 'INR': 81.977497}

## Function: Get Movie Cast List and count

In [16]:
def get_cast_list(cast_page_url):

  cast_counts = {'cast_count_total':0}

  cast_page = requests.get(cast_page_url, headers=headers)
  cast_page_soup = BeautifulSoup(cast_page.text, 'html.parser')   

  cast_groups = cast_page_soup.find_all('h4')

  for cast_group in cast_groups:
    try:
      group_name = cast_group['id']
      #print(group_name)
      group_list = cast_group.find_next_sibling()
      group_count = 0
      if group_list is not None:
        group_list = group_list.findAll('tr')
        group_count = len(group_list)
      cast_counts[f"cast_count_{group_name}"] = group_count
      cast_counts['cast_count_total'] += group_count
    except Exception as ex:
      pass
  return cast_counts

get_cast_list("https://www.imdb.com/title/tt14174168/fullcredits")

{'cast_count_total': 156,
 'cast_count_director': 1,
 'cast_count_writer': 2,
 'cast_count_cast': 26,
 'cast_count_producer': 28,
 'cast_count_composer': 1,
 'cast_count_cinematographer': 1,
 'cast_count_editor': 1,
 'cast_count_casting_director': 1,
 'cast_count_production_designer': 2,
 'cast_count_art_director': 1,
 'cast_count_costume_designer': 1,
 'cast_count_make_up_department': 4,
 'cast_count_production_manager': 1,
 'cast_count_assistant_director': 4,
 'cast_count_art_department': 6,
 'cast_count_sound_department': 7,
 'cast_count_visual_effects': 12,
 'cast_count_stunts': 2,
 'cast_count_camera_department': 16,
 'cast_count_costume_department': 2,
 'cast_count_editorial_department': 5,
 'cast_count_music_department': 1,
 'cast_count_script_department': 1,
 'cast_count_transportation_department': 1,
 'cast_count_miscellaneous': 19,
 'cast_count_thanks': 10}

## Main Function: Get Movie Page Extanded Details

In [20]:
def get_extended_datails(movie_page_url, movie_name):
  movie_page_dict = {}

  try:

    movie_main_page = requests.get(movie_page_url, headers=headers)
    movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')   

    year_rating = movie_main_page_soup.find('ul',{"class":"ipc-inline-list ipc-inline-list--show-dividers sc-afe43def-4 kdXikI baseAlt"}).find_all('a')

    movie_page_dict['movie_year'] = year_rating[0].text if len(year_rating)>0 else None
    movie_page_dict['movie_rating'] = year_rating[1].text if len(year_rating)>1 else None

    director_dict = extract_artist("Director", movie_main_page_soup)
    if director_dict[f"Director_count"] == 0:
      print(f"No Director found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(director_dict)

    writer_dict = extract_artist("Writer", movie_main_page_soup)
    if writer_dict[f"Writer_count"] == 0:
      print(f"No Writer found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(writer_dict)

    star_dict = extract_artist("Star", movie_main_page_soup)
    if star_dict[f"Star_count"] == 0:
      print(f"No Star found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(star_dict)

    user_rating = movie_main_page_soup.find('span',{'class':'sc-bde20123-1 iZlgcd'})
    if user_rating is not None:
      user_rating = user_rating.text
    movie_page_dict['user_rating'] = user_rating

    review_scores = movie_main_page_soup.find_all('span',{'class':'score'})
    movie_page_dict['user_reviews_count'] = review_scores[0].text if len(review_scores)>0 else None
    movie_page_dict['critic_reviews_count'] = review_scores[1].text if len(review_scores)>1 else None

    #movie_page_dict['release_date'] = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'}, string="Release date").find_parent().find('a',{'class':'ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link'}).text.split('(')[0].strip()
    #movie_page_dict['release_date']
    

    movie_page_dict['budget'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Budget")
    if (movie_page_dict['budget']!=None):
      movie_page_dict['budget'] = movie_page_dict['budget'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

      usd_amount,original_amount,currency_code = convert_string_amount_to_usd(movie_page_dict['budget'])
      movie_page_dict['budget_usd'] = usd_amount
      movie_page_dict['budget_currency'] = currency_code

    movie_page_dict['gross_worldwide'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross worldwide")
    if (movie_page_dict['gross_worldwide']!=None):
      movie_page_dict['gross_worldwide'] = movie_page_dict['gross_worldwide'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['gross_worldwide'], _, _ = convert_string_amount_to_usd(movie_page_dict['gross_worldwide'])

    movie_page_dict['gross_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross US & Canada")
    if (movie_page_dict['gross_us_canada']!=None):
      movie_page_dict['gross_us_canada'] = movie_page_dict['gross_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['gross_us_canada'], _, _ = convert_string_amount_to_usd(movie_page_dict['gross_us_canada'])

    movie_page_dict['opening_weekend_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Opening weekend US & Canada")
    if (movie_page_dict['opening_weekend_us_canada']!=None):
      movie_page_dict['opening_weekend_us_canada'] = movie_page_dict['opening_weekend_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['opening_weekend_us_canada'], _, _ = convert_string_amount_to_usd(movie_page_dict['opening_weekend_us_canada'])

    movie_page_dict['origin_country'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Country of origin")
    if (movie_page_dict['origin_country']!=None):
      movie_page_dict['origin_country'] = movie_page_dict['origin_country'].find_next_sibling().find('a').text.split('(')[0].strip()

    movie_page_dict['release_date'] = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label'}, string="Release date")
    if (movie_page_dict['release_date']!=None):
      movie_page_dict['release_date'] = movie_page_dict['release_date'].find_next_sibling().find('a').text

    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
    movie_page_dict['release_year'] = year
    movie_page_dict['release_month'] = month
    movie_page_dict['release_country'] = country

    languages = movie_main_page_soup.find('span',string="Language") if movie_main_page_soup.find('span',string="Languages") is None else movie_main_page_soup.find('span',string="Languages")
    languages = [] if not languages else languages.find_next_sibling().find_all('a')
    movie_page_dict['languages'] = ",".join([language.text for language in languages])

    movie_page_dict['__SuccsefullyCollectExtandedDetails'] = True;

    ## Collect cast count for movie:
    movie_id = movie_page_url.split('/')[-2]
    cast_page_url = f"https://www.imdb.com/title/{movie_id}/fullcredits"
    cast_list = get_cast_list(cast_page_url)
    movie_page_dict.update(cast_list)

  except Exception as e:
    print(f"Failed extracting data for movie: {movie_name}. \nUrl: {movie_page_url}.\n Error:\n{e}")
    traceback.print_exc()
    movie_page_dict['__SuccsefullyCollectExtandedDetails'] = False;

  return movie_page_dict


get_extended_datails("https://www.imdb.com/title/tt13070038/?ref_=adv_li_i","After Ever Happy")

{'movie_year': '2022',
 'movie_rating': 'R',
 'Director_count': 1,
 'Director_1_name': 'Castille Landon',
 'Director_1_imdb_id': 'nm2500541',
 'Writer_count': 2,
 'Writer_1_name': 'Anna Todd',
 'Writer_1_imdb_id': 'nm6849771',
 'Writer_2_name': 'Sharon Soboil',
 'Writer_2_imdb_id': 'nm0757267',
 'Star_count': 3,
 'Star_1_name': 'Josephine Langford',
 'Star_1_imdb_id': 'nm6466214',
 'Star_2_name': 'Hero Fiennes Tiffin',
 'Star_2_imdb_id': 'nm2842005',
 'Star_3_name': 'Louise Lombard',
 'Star_3_imdb_id': 'nm0518321',
 'user_rating': '4.5',
 'user_reviews_count': '63',
 'critic_reviews_count': '36',
 'budget': None,
 'gross_worldwide': 19155062.0,
 'gross_us_canada': 1072750.0,
 'opening_weekend_us_canada': 114993.0,
 'origin_country': 'United States',
 'release_date': 'September 7, 2022 (United States)',
 'release_year': '2022',
 'release_month': 'September',
 'release_country': 'United States',
 'languages': 'English',
 '__SuccsefullyCollectExtandedDetails': True,
 'cast_count_total': 160,
 'cast_count_director': 1,
 'cast_count_writer': 3,
 'cast_count_cast': 25,
 'cast_count_producer': 14,
 'cast_count_composer': 1,
 'cast_count_cinematographer': 2,
 'cast_count_editor': 1,
 'cast_count_casting_director': 3,
 'cast_count_production_designer': 1,
 'cast_count_art_director': 1,
 'cast_count_set_decorator': 1,
 'cast_count_costume_designer': 1,
 'cast_count_make_up_department': 7,
 'cast_count_production_manager': 5,
 'cast_count_assistant_director': 9,
 'cast_count_art_department': 6,
 'cast_count_sound_department': 9,
 'cast_count_visual_effects': 4,
 'cast_count_stunts': 1,
 'cast_count_camera_department': 9,
 'cast_count_casting_department': 3,
 'cast_count_costume_department': 4,
 'cast_count_editorial_department': 2,
 'cast_count_location_management': 4,
 'cast_count_music_department': 9,
 'cast_count_script_department': 1,
 'cast_count_miscellaneous': 32,
 'cast_count_thanks': 1}

In [ ]:
# print(search_box_info['movie_page_url'],search_box_info['movie_name'])
# cast_url = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'})['href']
# cast_url = f"{base_url}{cast_url}"
# cast_url

In [ ]:
# Fixed parameters:
base_url = "https://www.imdb.com"

start_date = "2018-01-01"
end_date = "2022-12-31"
minimum_votes = 250 # Minimum vote amount to coolect movie

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"}

In [ ]:
# Dynamic parameters:

def get_50_movie_batch(start_point, minimum_votes = 20, start_date = "2022-01-01", end_date = "2022-12-31", print_results = False):
  movie_search_url_50_batch = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&user_rating=1.0,10.0&countries=us&languages=en&start={start_point}&user_rating=1.0,10.0&ref_=adv_nxt"
  
  search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
  search_page_soup = BeautifulSoup(search_page.text, 'html.parser')
  list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

  max_num_of_results = search_page_soup.find('div',{'class':'desc'}).find('span').text.split(' ')[2].replace(",", "")
  max_num_of_results = int(max_num_of_results)
  if print_results: print(f"Start point: {start_point}. start_date: {start_date}. end_date: {end_date}. \nTotal Movies: {max_num_of_results} \nsearch url: {movie_search_url_50_batch}")

  #print(f"max_num_of_results: {max_num_of_results}")
  return(list_of_50_movies_soup,max_num_of_results)

list_of_50_movies_soup,max_num_of_results = get_50_movie_batch(start_point = 1, minimum_votes = minimum_votes, start_date = start_date, end_date = end_date, print_results = True)

Start point: 1. start_date: 2018-01-01. end_date: 2022-12-31.
Total Movies: 3924
search url: https://www.imdb.com/search/title/?title_type=feature&release_date=2018-01-01,2022-12-31&num_votes=250,&user_rating=1.0,10.0&countries=us&languages=en&start=1&user_rating=1.0,10.0&ref_=adv_nxt

In [ ]:
movie_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv"
if os.path.exists(movie_dataset_path):
  movie_df = pd.read_csv(movie_dataset_path)
  total_movie_dataset = movie_df.set_index('movie_id').T.to_dict()
  
else:
  total_movie_dataset = {}
  movie_df = pd.DataFrame(total_movie_dataset)

print(f"total_movie_dataset contains {len(total_movie_dataset)} records")
movie_df.head(3)

total_movie_dataset contains 645 records

,movie_id,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,...,cast_count_transportation_department,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,Director_3_name,Director_3_imdb_id,movie_id.2,movie_id.3,cast_count_production_department
0,tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,...,10.0,138.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,...,27.0,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN,NaN,NaN,NaN
2,tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,3,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,...,13.0,89.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cursor: Collecting movies from IMDB

In [ ]:
start_point = 1 # Start from movie #1-50

basic_data_collected = 0
basic_data_skipped = 0
extended_data_collected = 0
extended_data_skipped = 0

count = 1
while start_point < max_num_of_results-50:

  list_of_50_movies_soup,num_of_results = get_50_movie_batch(start_point = start_point, minimum_votes = minimum_votes, start_date = start_date, end_date = end_date)
  if count==1: print(f"Starting run collecting movies. Total of {num_of_results} movies to be collected.")

  for i,movie in enumerate(list_of_50_movies_soup):
    movie_data = {'__SuccsefullyCollectBasicDetails':False, '__SuccsefullyCollectExtandedDetails':False}

    basic_data = get_basic_details(movie)
    movie_id = basic_data['movie_id']

    try:
      if movie_id in total_movie_dataset.keys():
        movie_data = total_movie_dataset[movie_id]

      if movie_data['__SuccsefullyCollectBasicDetails']==True:
        basic_data_skipped += 1
      else:
        basic_data_collected += 1
        movie_data.update(basic_data)

      if movie_data['__SuccsefullyCollectExtandedDetails']==True:
        extended_data_skipped += 1
      else:
        extended_data_collected += 1
        extended_data = get_extended_datails(basic_data['movie_page_url'],basic_data['movie_name'])
        movie_data.update(extended_data)

        sleep(0.1)
    except Exception as e:
      print(f"Failed running cursor for movie: {movie_id}. \nUrl: {basic_data['movie_page_url']}.\n Error:\n{e}")
      traceback.print_exc()

    total_movie_dataset[movie_id] = movie_data
    count+= 1

    if (count%200 == 0):
      print(f"\nRun number: {count}. basic_data_collected: {basic_data_collected}. extended_data_collected: {extended_data_collected}. basic_data_skipped: {basic_data_skipped}. extended_data_skipped: {extended_data_skipped}")


  movie_dataset = pd.DataFrame(total_movie_dataset).T
  movie_dataset.to_csv(movie_dataset_path, index=True, index_label="movie_id")

  start_point += 50

print(f"\nRun number: {count}. \nbasic_data_collected: {basic_data_collected}. \nextended_data_collected: {extended_data_collected}. \nbasic_data_skipped: {basic_data_skipped}. \nextended_data_skipped: {extended_data_skipped}\n")

Starting run collecting movies. Total of 3924 movies to be collected.

Run number: 200. basic_data_collected: 96. extended_data_collected: 96. basic_data_skipped: 103. extended_data_skipped: 103
€30,690,000 EUR 30690000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=EUR
<Response [200]>
€30,690,000 EUR = 33742480 USD

Run number: 400. basic_data_collected: 229. extended_data_collected: 229. basic_data_skipped: 170. extended_data_skipped: 170

Run number: 600. basic_data_collected: 380. extended_data_collected: 380. basic_data_skipped: 219. extended_data_skipped: 219

Run number: 800. basic_data_collected: 536. extended_data_collected: 536. basic_data_skipped: 263. extended_data_skipped: 263

Run number: 1000. basic_data_collected: 681. extended_data_collected: 681. basic_data_skipped: 318. extended_data_skipped: 318
Failed extracting data for movie: The Old Ways.
Url: https://www.imdb.com/title/tt12829958/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 1200. basic_data_collected: 840. extended_data_collected: 840. basic_data_skipped: 359. extended_data_skipped: 359
Failed extracting data for movie: Guns of Eden.
Url: https://www.imdb.com/title/tt15180746/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: The Alpines.
Url: https://www.imdb.com/title/tt8689290/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 1400. basic_data_collected: 995. extended_data_collected: 996. basic_data_skipped: 404. extended_data_skipped: 403
No Writer found for movie North Hollywood. Url: https://www.imdb.com/title/tt11165716/?ref_=adv_li_i
Could not find a value for: CN¥ in CN¥150,000,000

Run number: 1600. basic_data_collected: 1155. extended_data_collected: 1156. basic_data_skipped: 444. extended_data_skipped: 443
No Writer found for movie Portraits of Andrea Palmer. Url: https://www.imdb.com/title/tt8885194/?ref_=adv_li_i
Failed extracting data for movie: Modern Persuasion.
Url: https://www.imdb.com/title/tt2165922/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 1800. basic_data_collected: 1322. extended_data_collected: 1323. basic_data_skipped: 477. extended_data_skipped: 476
Failed extracting data for movie: Unplugging.
Url: https://www.imdb.com/title/tt10314040/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Two Witches.
Url: https://www.imdb.com/title/tt10963926/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Beyond the Neon.
Url: https://www.imdb.com/title/tt10833378/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Avengers of Justice: Farce Wars.
Url: https://www.imdb.com/title/tt6172666/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 2000. basic_data_collected: 1490. extended_data_collected: 1493. basic_data_skipped: 509. extended_data_skipped: 506
No Writer found for movie The Work Wife. Url: https://www.imdb.com/title/tt7165212/?ref_=adv_li_i
Failed extracting data for movie: The Basement.
Url: https://www.imdb.com/title/tt6118340/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 2200. basic_data_collected: 1671. extended_data_collected: 1674. basic_data_skipped: 528. extended_data_skipped: 525
Failed extracting data for movie: The Devil Has a Name.
Url: https://www.imdb.com/title/tt7894510/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie Sinister Seduction. Url: https://www.imdb.com/title/tt10323178/?ref_=adv_li_i
No Writer found for movie Happier Than Ever: A Love Letter to Los Angeles. Url: https://www.imdb.com/title/tt15094392/?ref_=adv_li_i
No Writer found for movie Lockdown 2025. Url: https://www.imdb.com/title/tt14096564/?ref_=adv_li_i

Run number: 2400. basic_data_collected: 1853. extended_data_collected: 1856. basic_data_skipped: 546. extended_data_skipped: 543
Could not find a value for: IDR in IDR 70,500,000,000
Failed extracting data for movie: She's in Portland.
Url: https://www.imdb.com/title/tt7174660/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Checkered Ninja 2.
Url: https://www.imdb.com/title/tt13387604/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Dark Was the Night.
Url: https://www.imdb.com/title/tt5258128/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Star found for movie The Fear Footage. Url: https://www.imdb.com/title/tt8675532/?ref_=adv_li_i
Failed extracting data for movie: Finding Love in Mountain View.
Url: https://www.imdb.com/title/tt11399362/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 2600. basic_data_collected: 2029. extended_data_collected: 2032. basic_data_skipped: 570. extended_data_skipped: 567
Failed extracting data for movie: Homecoming Revenge.
Url: https://www.imdb.com/title/tt7335892/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Feral State.
Url: https://www.imdb.com/title/tt10283902/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: 90 Feet from Home.
Url: https://www.imdb.com/title/tt8187842/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Point of no Return.
Url: https://www.imdb.com/title/tt6095984/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 2800. basic_data_collected: 2207. extended_data_collected: 2210. basic_data_skipped: 592. extended_data_skipped: 589
No Writer found for movie Wunderland. Url: https://www.imdb.com/title/tt5815078/?ref_=adv_li_i
Failed extracting data for movie: A Father's Legacy.
Url: https://www.imdb.com/title/tt9082806/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Cinderella and the Secret Prince.
Url: https://www.imdb.com/title/tt6241270/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie 15 Things You Didn't Know About Bigfoot (#1 Will Blow Your Mind). Url: https://www.imdb.com/title/tt11185940/?ref_=adv_li_i

Run number: 3000. basic_data_collected: 2393. extended_data_collected: 2396. basic_data_skipped: 606. extended_data_skipped: 603
Failed extracting data for movie: Stay.
Url: https://www.imdb.com/title/tt13117720/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie The Blackwell Ghost 2. Url: https://www.imdb.com/title/tt8947488/?ref_=adv_li_i
Failed extracting data for movie: Running Out Of Time.
Url: https://www.imdb.com/title/tt8420952/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Gates of Darkness.
Url: https://www.imdb.com/title/tt3859138/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

RUR 104,144,180 RUB 104144180.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=RUB
<Response [200]>
RUR 104,144,180 RUB = 1278891 USD
Failed extracting data for movie: Monsoon.
Url: https://www.imdb.com/title/tt4268054/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: All Light Will End.
Url: https://www.imdb.com/title/tt6023386/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Wild Faith.
Url: https://www.imdb.com/title/tt5960386/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie Escape the Undertaker. Url: https://www.imdb.com/title/tt15387782/?ref_=adv_li_i
Failed extracting data for movie: Behind the Walls.
Url: https://www.imdb.com/title/tt4578598/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: There's No Such Thing as Vampires.
Url: https://www.imdb.com/title/tt3155720/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 3200. basic_data_collected: 2576. extended_data_collected: 2579. basic_data_skipped: 623. extended_data_skipped: 620
Failed extracting data for movie: House of Deadly Secrets.
Url: https://www.imdb.com/title/tt7930006/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Intensive Care.
Url: https://www.imdb.com/title/tt5231992/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: The Blackwell Ghost 3.
Url: https://www.imdb.com/title/tt10323214/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

£200,000 GBP 200000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=GBP
<Response [200]>
£200,000 GBP = 248845 USD

Run number: 3400. basic_data_collected: 2768. extended_data_collected: 2771. basic_data_skipped: 631. extended_data_skipped: 628
No Director found for movie Murder Death Koreatown. Url: https://www.imdb.com/title/tt11777308/?ref_=adv_li_i
No Writer found for movie Murder Death Koreatown. Url: https://www.imdb.com/title/tt11777308/?ref_=adv_li_i
No Star found for movie Murder Death Koreatown. Url: https://www.imdb.com/title/tt11777308/?ref_=adv_li_i
No Writer found for movie Time Jumpers. Url: https://www.imdb.com/title/tt8041916/?ref_=adv_li_i
No Writer found for movie Seduced by a Killer. Url: https://www.imdb.com/title/tt8351452/?ref_=adv_li_i
No Writer found for movie Survive the Hollow Shoals. Url: https://www.imdb.com/title/tt8021048/?ref_=adv_li_i
Failed extracting data for movie: Obsessio.
Url: https://www.imdb.com/title/tt8364728/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie The Blackwell Ghost 5. Url: https://www.imdb.com/title/tt14277322/?ref_=adv_li_i
Failed extracting data for movie: 15 Killings.
Url: https://www.imdb.com/title/tt13105764/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Fingers.
Url: https://www.imdb.com/title/tt6425770/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie Killer Cove. Url: https://www.imdb.com/title/tt8748236/?ref_=adv_li_i
No Writer found for movie Metallica & San Francisco Symphony - S&M2. Url: https://www.imdb.com/title/tt10765852/?ref_=adv_li_i
No Writer found for movie The Bachelor Party: The Bachelor Parody- The Playboy's Impossible Mission. Url: https://www.imdb.com/title/tt8923800/?ref_=adv_li_i
Failed extracting data for movie: The Scientist.
Url: https://www.imdb.com/title/tt7741388/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Heritage.
Url: https://www.imdb.com/title/tt5183990/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Happiness Adjacent.
Url: https://www.imdb.com/title/tt6902722/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 3600. basic_data_collected: 2960. extended_data_collected: 2963. basic_data_skipped: 639. extended_data_skipped: 636
Failed extracting data for movie: Turned Out.
Url: https://www.imdb.com/title/tt7400974/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie Ruthless Realtor. Url: https://www.imdb.com/title/tt11352618/?ref_=adv_li_i
Failed extracting data for movie: Prodigy.
Url: https://www.imdb.com/title/tt6933206/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Cool Cat Kids Superhero.
Url: https://www.imdb.com/title/tt7281994/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Last Seen in Idaho.
Url: https://www.imdb.com/title/tt5040202/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie Miranda Sings Live... Your Welcome. Url: https://www.imdb.com/title/tt9557190/?ref_=adv_li_i
No Writer found for movie Shawn Mendes: Live in Concert. Url: https://www.imdb.com/title/tt13528990/?ref_=adv_li_i
Failed extracting data for movie: Hellitosis: The Legend of Stankmouth.
Url: https://www.imdb.com/title/tt4924632/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Stretch Marks.
Url: https://www.imdb.com/title/tt7088028/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie Bad Ben 7: The Haunted Highway. Url: https://www.imdb.com/title/tt11374034/?ref_=adv_li_i
Failed extracting data for movie: Bad Ben 7: The Haunted Highway.
Url: https://www.imdb.com/title/tt11374034/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 3800. basic_data_collected: 3156. extended_data_collected: 3159. basic_data_skipped: 643. extended_data_skipped: 640
Failed extracting data for movie: Xane: The Vampire God.
Url: https://www.imdb.com/title/tt9515732/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: BROS. Last Call.
Url: https://www.imdb.com/title/tt8018008/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

No Writer found for movie The Day Ones. Url: https://www.imdb.com/title/tt21745160/?ref_=adv_li_i
No Writer found for movie A Mother of No Destination. Url: https://www.imdb.com/title/tt13365140/?ref_=adv_li_i
No Director found for movie Sorority Scare Game. Url: https://www.imdb.com/title/tt9086718/?ref_=adv_li_i
No Writer found for movie Sorority Scare Game. Url: https://www.imdb.com/title/tt9086718/?ref_=adv_li_i
Failed extracting data for movie: Past Tense.
Url: https://www.imdb.com/title/tt3399888/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Silent Panic.
Url: https://www.imdb.com/title/tt7722156/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-17-7d30134fa560>", line 68, in get_extended_datails
    year, month, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 3901.
basic_data_collected: 3255.
extended_data_collected: 3258.
basic_data_skipped: 645.
extended_data_skipped: 642

In [ ]:
movie_dataset = pd.DataFrame(total_movie_dataset).T
movie_dataset.to_csv(movie_dataset_path, index=True, index_label="movie_id")

movie_dataset.head(5)

,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,runtime_min,...,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,Director_3_name,Director_3_imdb_id,movie_id.2,movie_id.3,cast_count_production_department,movie_id
tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,192.0,...,138.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,139.0,...,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN,NaN,NaN,NaN,NaN
tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,3,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,189.0,...,89.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt9764362,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,4,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71.0,A young couple travels to a remote island to e...,107.0,...,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt13833688,True,True,The Whale,https://www.imdb.com/title/tt13833688/?ref_=ad...,5,tt13833688,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,"A reclusive, morbidly obese English teacher at...",117.0,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Set actor variables

In [ ]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time
import traceback

In [ ]:
movie_dataset = pd.read_csv('/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv')
movie_dataset.head(5)

,movie_id,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,...,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,Director_3_name,Director_3_imdb_id,movie_id.2,movie_id.3,cast_count_production_department,movie_id.4
0,tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,...,138.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,...,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN,NaN,NaN,NaN,NaN
2,tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,3,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,...,89.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt9764362,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,4,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71.0,A young couple travels to a remote island to e...,...,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt13833688,True,True,The Whale,https://www.imdb.com/title/tt13833688/?ref_=ad...,5,tt13833688,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,"A reclusive, morbidly obese English teacher at...",...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Function: Assume Gender

In [ ]:
def assume_gender(artist_bio):
  # Define the pronouns associated with each gender
  male_pronouns = ["he", "him", "his", "himself","guy","man"]
  female_pronouns = ["she", "her", "hers", "herself","girl","woman"]
  nonbinary_pronouns = ["themselves","queer","binary","nonbinary","non-binary"]

  is_openly_lgbt = False
  lgbt_words = ["gay","lesbian","gays","lesbians","lgbt","lgbtq","queer","binary","nonbinary","non-binary","genderfluid"]

  # Count the number of male and female pronouns in the bio
  prnoun_count = {'Male':0, "Female":0, "NonBinary":0}

  for word in artist_bio.lower().split():
      if word in male_pronouns:
          prnoun_count["Male"] += 1
      elif word in female_pronouns:
          prnoun_count["Female"] += 1
      elif word in nonbinary_pronouns:
          prnoun_count["NonBinary"] += 1

      if word in lgbt_words:
        is_openly_lgbt = True

  # Determine the actor's gender based on the pronoun count
  sorted_d = {k: v for k, v in sorted(prnoun_count.items(), key=lambda item: item[1], reverse=True)}
  Gender = next(iter(sorted_d))

  if prnoun_count[Gender] == 0: # If no prnoune was found
    Gender = "Unknown"

  return Gender,is_openly_lgbt

# Extract the bio text
bio_text = """Andy Samberg was born in Berkeley, California, to Marjorie (Marrow), a teacher, and Joe Samberg, a photographer. With Jorma Taccone and Akiva Schaffer, Samberg is one of three Los Angeles, California-based writer-performer-filmmakers--all childhood friends--dubbed The Lonely Island, whose short films were showcased on the popular untelevised television network show and website. Some of their popular shorts included The O.C. (2003) parody "The 'Bu" and their full-length pilot, "Awesometown." They met Jimmy Fallon while writing for 2004 MTV Video Music Awards (2004), who then suggested that they audition for Saturday Night Live (1975). Andy was then cast as a featured performer, and Samberg's Lonely Island cohorts Jorma and Akiva were hired as writers for the show. The group's most notable contributions include The Lonely Island: Lazy Sunday (2005), The Lonely Island feat. Justin Timberlake: Dick in a Box (2006), and The Lonely Island Feat. T-Pain: I'm on a Boat (2009).

Near the end of his first season of SNL, Andy started filming the lead role in the film Hot Rod (2007), the first major motion picture by the Lonely Island team, with the production support of Lorne Michaels.

In 2012, after seven years of working on SNL, Samberg resigned from the show. He was originally not looking to join a television series as a regular cast member, but after seeing the script for Brooklyn Nine-Nine (2013), he couldn't pass it up. Andy plays Jake Peralta, the best detective in Brooklyn's 99th police precinct, who also happens to be the most immature. In 2013 Samberg received the Golden Globe for Best Actor - Television Series Musical or Comedy for his performance.

In 2016, Andy starred in the pop music mockumentary Popstar: Never Stop Never Stopping (2016). Taccone and Schaffer co-starred in and co-directed the film.

Samberg married singer-songwriter Joanna Newsom on 21 September, 2013, in Big Sur, California. In August 2017, they announced the birth of their baby daughter.
"""
assume_gender(bio_text)

('Male', False)

In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
from dateutil import parser

def extract_artist_age(date_string):
  try:
    # Parse the date string into a datetime object
    date_obj = parser.parse(date_string)
    # Check if the date is in the future, if so - Reduce 100 years
    if date_obj.year > datetime.now().year:
      date_obj = date_obj.replace(year=date_obj.year - 100)
    #print(date_obj)
    # Calculate the difference between the current date and the date of birth
    age = relativedelta(datetime.now(), date_obj).years
    # Return the age as an integer
    return age
  except:
    #print(f"Cannot extract age from value: {date_string}")
    return None

print(extract_artist_age("11/25/1990"))
print(extract_artist_age("16-Apr-02"))
print(extract_artist_age(""))

32
21
None

## Function: Collect Rank

In [ ]:
def collect_artist_rank(artist_page_soup,artist_dict):
  artist_rank = artist_page_soup.find('span',{'class':'sc-d462a8ef-6 hOuQwM starmeter-current-rank'}).text.strip()

  artist_dict['artist_rank'] = artist_rank
  artist_dict['Is_5000'] = False
  artist_dict['Is_500'] = False
  artist_dict['Is_100'] = False
  artist_dict['Is_10'] = False

  if artist_rank.lower()!="see rank":
    if artist_rank=="Top 5,000":
      artist_dict['Is_5000'] = True
    elif artist_rank=="Top 500":
      artist_dict['Is_500'] = True
      artist_dict['Is_5000'] = True
    else:
      try:
        rank = int(artist_rank)   # Convert the string to an integer
        if rank <= 100:           # Check if the rank is within the top 100
          artist_dict['Is_100'] = True
          artist_dict['Is_500'] = True
          artist_dict['Is_5000'] = True
        if rank <= 10: 
          artist_dict['Is_10'] = True
      except ValueError:
        print(f"Could not interpret value {artist_rank} for artist: {artist_dict['artist_imdb_id']}. Url: {artist_dict['artist_url']}")

artist_imdb_id = "nm14727093"
artist_page = requests.get(f"https://www.imdb.com/name/{artist_imdb_id}/", headers=headers)
artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 
artist_dict = {}
artist_dict['artist_imdb_id'] = artist_imdb_id
artist_dict['artist_type'] = "Director"
artist_dict['artist_url'] = artist_page
collect_artist_rank(artist_page_soup,artist_dict)

## Function: Artist awards

In [ ]:
def get_awards_info(awards_str):
    wins = 0
    nominations = 0
    if awards_str:
      parts = awards_str.split()
      if "wins" in parts:
          wins = int(parts[parts.index("wins")-1])
      elif "win" in parts:
          wins = int(parts[parts.index("win")-1])
      if "nominations" in parts:
          nominations = int(parts[parts.index("nominations")-1])
      elif "nomination" in parts:
          nominations = int(parts[parts.index("nomination")-1])
    return (wins, nominations)

print(get_awards_info("6 wins & 16 nominations total"))
print(get_awards_info("1 win & 1 nomination total"))
print(get_awards_info("6 wins total"))
print(get_awards_info("16 nominations total"))
print(get_awards_info('1 win & 3 nominations'))
print(get_awards_info(""))
print(get_awards_info(None))

(6, 16)
(1, 1)
(6, 0)
(0, 16)
(1, 3)
(0, 0)
(0, 0)

In [ ]:
def collect_artist_awards(artist_page_soup):
  awards_dict = {}

  awards = artist_page_soup.find('li',{'data-testid':'award_information'})
  awards_prestige_wins = 0
  awards_prestige_nominations = 0
  awards_other_won = 0
  awards_other_nominations = 0
  
  if awards!=None:

    # Find prestige awards (Oscars, BEFTA, ect.)
    prestige_awards = awards.find('a',{'aria-label':'See more awards and nominations'}).text
    if prestige_awards!="Awards":
      awards_dict['awards_prestige_desc']  = prestige_awards
      if "Won" in prestige_awards:
        awards_prestige_wins = int(''.join(filter(str.isdigit, prestige_awards)))
        
      else:
        awards_prestige_nominations = int(''.join(filter(str.isdigit, prestige_awards)))
        
    else:
      awards_dict['awards_prestige']  = 0

    # Find total awards
    award_other = awards.find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text
    award_other_counts = get_awards_info(award_other)
    awards_dict['award_other_desc'] = award_other
    awards_other_won = award_other_counts[0]
    awards_other_nominations = award_other_counts[1]

  awards_dict['awards_prestige_wins']  = awards_prestige_wins
  awards_dict['awards_prestige_nominations']  = awards_prestige_nominations
  awards_dict['awards_other_won'] = awards_other_won
  awards_dict['awards_other_nominations'] = awards_other_nominations

  return awards_dict

artist_imdb_id = "nm0798646"
artist_page = requests.get(f"https://www.imdb.com/name/{artist_imdb_id}/", headers=headers)
artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 
artist_dict = {}
artist_dict['artist_imdb_id'] = artist_imdb_id
artist_dict['artist_type'] = "Director"
artist_dict['artist_url'] = artist_page
collect_artist_awards(artist_page_soup)

{'awards_prestige': 0,
 'award_other_desc': '1 win & 3 nominations',
 'awards_prestige_wins': 0,
 'awards_prestige_nominations': 0,
 'awards_other_won': 1,
 'awards_other_nominations': 3}

## Main Function: Extract artist info

In [21]:
def extract_artist_info(artist_imdb_id,col_name):
  artist_dict = {}

  artist_url_page = f"{base_url}/name/{artist_imdb_id}"
  artist_dict['artist_imdb_id'] = artist_imdb_id
  artist_dict['artist_type'] = col_name.split('_')[0]
  artist_dict['artist_url'] = artist_url_page

  try:
    artist_page = requests.get(artist_url_page, headers=headers)
    artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 

    artist_name = artist_page_soup.find('h1',{'data-testid':'hero__pageTitle'}).find('span').text.strip()
    artist_dict['artist_name'] = artist_name

    if artist_page_soup.find('span', string="Born") is not None:
      artist_birthday = artist_page_soup.find('span',string="Born").findNextSibling().text
      artist_dict['artist_birthday'] = artist_birthday
      artist_dict['artist_age'] = extract_artist_age(artist_birthday)
      if artist_dict['artist_age'] == None:
        print(f"Unable to extract age for {artist_name}. Value: {artist_birthday} Url: {artist_url_page}")
      
    artist_bio = artist_page_soup.find('div',{'class':'ipc-html-content-inner-div'})
    
    if artist_bio!=None:
      artist_dict['artist_bio'] = artist_bio.text
      artist_gender, is_openly_lgbt = assume_gender(artist_bio.text)
    else:
      artist_gender = "Unknown"
      is_openly_lgbt = False

    artist_dict['artist_gender'] = artist_gender
    artist_dict['is_openly_lgbt'] = is_openly_lgbt

    # Collect Rank
    collect_artist_rank(artist_page_soup,artist_dict)
    
    # Collect Awards
    awards_dict = collect_artist_awards(artist_page_soup)
    artist_dict.update(awards_dict)

    artist_title = artist_dict['artist_type']
    if artist_title == "Star":
      artist_title = "Actress" if artist_gender=="Female" else "Actor"

    if artist_page_soup.find('h3',string=artist_title) is not None:
      previous_work = artist_page_soup.find('h3',string=artist_title).find_next().find('li', string="Previous")
      if previous_work is not None:
        previous_work = previous_work.find_next_sibling().text
    elif artist_page_soup.find('li',string="Previous") is not None:
      previous_work = artist_page_soup.find('li',string="Previous").find_next_sibling().text
    else:
      previous_work = 0
      print(f"Unable to get previous work for {artist_title}: {artist_name}. Url: {artist_url_page}")
      
    artist_dict['previous_work'] = previous_work
    artist_dict['__SuccsefullyCollectArtistDetails'] = True;

    return artist_dict
  except Exception as e:
    print(f"Failed extracting data for artist: {artist_imdb_id}. Url: {artist_url_page}.\n Error:\n{e}")
    traceback.print_exc()
    artist_dict['__SuccsefullyCollectArtistDetails'] = False;

artist_imdb_id = "nm0767280"
col_name = "Writer_2_imdb_id"
extract_artist_info(artist_imdb_id,col_name)

Failed extracting data for artist: nm0767280. Url: https://www.imdb.com/name/nm0767280.
 Error:
name 'extract_artist_age' is not defined

Traceback (most recent call last):
  File "<ipython-input-21-7b875198c6b0>", line 19, in extract_artist_info
    artist_dict['artist_age'] = extract_artist_age(artist_birthday)
NameError: name 'extract_artist_age' is not defined

## Set Artist variables

In [ ]:
artists_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/artists_dataset.csv"
if os.path.exists(artists_dataset_path):
  artists_df = pd.read_csv(artists_dataset_path)
  artists_list = artists_df.set_index('artist_imdb_id').T.to_dict()
  
else:
  artists_list = {}
  artists_df = pd.DataFrame(artists_list)

print(f"artists_list contains {len(artists_list)} records")
artists_df.head(3)

artists_list contains 2975 records

,artist_imdb_id,artist_collected,artist_imdb_id.1,artist_type,artist_url,artist_name,artist_birthday,artist_age,artist_bio,artist_gender,...,awards_prestige_desc,award_other_desc,awards_prestige_wins,awards_prestige_nominations,awards_other_won,awards_other_nominations,previous_work,__SuccsefullyCollectArtistDetails,awards_prestige,artist_imdb_id.2
0,nm0000116,True,nm0000116,Director,https://www.imdb.com/name/nm0000116,James Cameron,"August 16, 1954",68.0,"James Francis Cameron was born on August 16, 1...",Male,...,Won 3 Oscars,77 wins & 89 nominations total,3,0,77,89,22,True,NaN,NaN
1,nm0415425,True,nm0415425,Writer,https://www.imdb.com/name/nm0415425,Rick Jaffa,"May 8, 1956",66.0,Rick Jaffa was born on 8 May 1956 in Dallas Co...,Male,...,NaN,1 win & 3 nominations,0,0,1,3,11,True,0.0,NaN
2,nm0798646,True,nm0798646,Writer,https://www.imdb.com/name/nm0798646,Amanda Silver,"May 24, 1963",59.0,Amanda Silver was born on 24 May 1963 in the U...,Female,...,NaN,1 win & 3 nominations,0,0,1,3,13,True,0.0,NaN

## Cursor: Collect Artists

In [ ]:
artist_cols = [col for col in movie_dataset.columns if "imdb_id" in col]

artists_skipped = 0
artists_collected = 0
artist_count = 1
for i, row in movie_dataset.iterrows():
  for col_name in artist_cols:
    artist_dict = {'artist_collected':False}
    artist_imdb_id = row[col_name]
    if type(artist_imdb_id) != float:
      if artist_imdb_id in artists_list.keys() and artists_list[artist_imdb_id]['artist_collected']==True:
        artist_dict = artists_list[artist_imdb_id]
        artist_dict['artist_collected']=True
        artists_skipped += 1
      else:
        artist_output = extract_artist_info(artist_imdb_id,col_name)
        if artist_output!=None:
          artist_dict.update(artist_output)
          artist_dict['artist_collected']=True
        artists_collected += 1 
        sleep(0.1)

      artists_list[artist_imdb_id] = artist_dict
      artist_count += 1
      if artist_count%200 == 0:
        artist_dataset = pd.DataFrame(artists_list).T
        artist_dataset.to_csv(artists_dataset_path, index=True, index_label="artist_imdb_id")
        print(f"\nSaving progress. Run {artist_count} for movie {i}. artists_collected:{artists_collected}. artists_skipped:{artists_skipped}")

artist_dataset = pd.DataFrame(artists_list).T
artist_dataset.to_csv(artists_dataset_path, index=True, index_label="artist_imdb_id")
print(f"\n\nFinished process. Total: {artist_count}. artists_collected:{artists_collected}. artists_skipped:{artists_skipped}")

Saving progress. Run 200 for movie 32. artists_collected:0. artists_skipped:199

Saving progress. Run 400 for movie 64. artists_collected:0. artists_skipped:399

Saving progress. Run 600 for movie 96. artists_collected:0. artists_skipped:599

Saving progress. Run 800 for movie 129. artists_collected:0. artists_skipped:799

Saving progress. Run 1000 for movie 160. artists_collected:0. artists_skipped:999

Saving progress. Run 1200 for movie 193. artists_collected:0. artists_skipped:1199

Saving progress. Run 1400 for movie 228. artists_collected:0. artists_skipped:1399

Saving progress. Run 1600 for movie 262. artists_collected:0. artists_skipped:1599

Saving progress. Run 1800 for movie 296. artists_collected:0. artists_skipped:1799

Saving progress. Run 2000 for movie 331. artists_collected:0. artists_skipped:1999

Saving progress. Run 2200 for movie 366. artists_collected:0. artists_skipped:2199

Saving progress. Run 2400 for movie 399. artists_collected:0. artists_skipped:2399

Saving progress. Run 2600 for movie 433. artists_collected:0. artists_skipped:2599

Saving progress. Run 2800 for movie 466. artists_collected:0. artists_skipped:2799

Saving progress. Run 3000 for movie 501. artists_collected:0. artists_skipped:2999

Saving progress. Run 3200 for movie 536. artists_collected:0. artists_skipped:3199

Saving progress. Run 3400 for movie 571. artists_collected:0. artists_skipped:3399

Saving progress. Run 3600 for movie 607. artists_collected:0. artists_skipped:3599
Unable to extract age for Jon Spaihts. Value: New York City, New York, USA Url: https://www.imdb.com/name/nm3123612

Saving progress. Run 3800 for movie 642. artists_collected:43. artists_skipped:3756
Unable to extract age for Jonathan Roberts. Value: Boston, Massachusetts, USA Url: https://www.imdb.com/name/nm0731271

Saving progress. Run 4000 for movie 672. artists_collected:160. artists_skipped:3839

Saving progress. Run 4200 for movie 703. artists_collected:272. artists_skipped:3927
Unable to extract age for Adele Lim. Value: Malaysia Url: https://www.imdb.com/name/nm1004604

Saving progress. Run 4400 for movie 734. artists_collected:380. artists_skipped:4019

Saving progress. Run 4600 for movie 766. artists_collected:488. artists_skipped:4111
Unable to extract age for Cara Gee. Value: Calgary, Alberta, Canada Url: https://www.imdb.com/name/nm4446254

Saving progress. Run 4800 for movie 798. artists_collected:589. artists_skipped:4210
Unable to extract age for Charles Leavitt. Value: Pittsburgh, Pennsylvania, USA Url: https://www.imdb.com/name/nm0495378

Saving progress. Run 5000 for movie 831. artists_collected:694. artists_skipped:4305

Saving progress. Run 5200 for movie 863. artists_collected:807. artists_skipped:4392
Unable to extract age for Sara Bernstein. Value: Chico, California, USA Url: https://www.imdb.com/name/nm0077135

Saving progress. Run 5400 for movie 894. artists_collected:914. artists_skipped:4485

Saving progress. Run 5600 for movie 926. artists_collected:1034. artists_skipped:4565
Unable to extract age for Kevin Costello. Value: Oklahoma, USA Url: https://www.imdb.com/name/nm8213708

Saving progress. Run 5800 for movie 959. artists_collected:1148. artists_skipped:4651
Unable to extract age for Steven S. DeKnight. Value: Millville, New Jersey, USA Url: https://www.imdb.com/name/nm0215299

Saving progress. Run 6000 for movie 991. artists_collected:1248. artists_skipped:4751

Saving progress. Run 6200 for movie 1023. artists_collected:1352. artists_skipped:4847
Unable to extract age for Jeffrey Thomas. Value: Wales, UK Url: https://www.imdb.com/name/nm0859005
Unable to extract age for Brian Gunn. Value: St. Louis, Missouri, USA Url: https://www.imdb.com/name/nm0348160
Unable to extract age for Mark Gunn. Value: St. Louis, Missouri, USA Url: https://www.imdb.com/name/nm0348208
Unable to extract age for Barry W. Blaustein. Value: c. 1955 Url: https://www.imdb.com/name/nm0087904

Saving progress. Run 6400 for movie 1056. artists_collected:1466. artists_skipped:4933

Saving progress. Run 6600 for movie 1089. artists_collected:1568. artists_skipped:5031
Unable to extract age for Marcus Thomas. Value: Brussels, Belgium Url: https://www.imdb.com/name/nm0859197

Saving progress. Run 6800 for movie 1121. artists_collected:1669. artists_skipped:5130
Unable to extract age for Steve Galluccio. Value: Montréal, Québec, Canada Url: https://www.imdb.com/name/nm1241330

Saving progress. Run 7000 for movie 1154. artists_collected:1782. artists_skipped:5217

Saving progress. Run 7200 for movie 1187. artists_collected:1886. artists_skipped:5313
Unable to extract age for Lindsay Watson. Value: Kula, Hawaii Url: https://www.imdb.com/name/nm7341118

Saving progress. Run 7400 for movie 1221. artists_collected:1988. artists_skipped:5411
Unable to extract age for Tara Westwood. Value: Manitoba, Canada Url: https://www.imdb.com/name/nm0923105

Saving progress. Run 7600 for movie 1254. artists_collected:2100. artists_skipped:5499
Unable to extract age for Jesse Armstrong. Value: Oswestry, Shropshire, England, UK Url: https://www.imdb.com/name/nm1104036

Saving progress. Run 7800 for movie 1288. artists_collected:2214. artists_skipped:5585
Unable to extract age for Gary Yates. Value: Montréal, Québec, Canada Url: https://www.imdb.com/name/nm0946750
Unable to extract age for Brendan Penny. Value: Ottawa, Ontario, Canada Url: https://www.imdb.com/name/nm1638242

Saving progress. Run 8000 for movie 1322. artists_collected:2321. artists_skipped:5678
Unable to extract age for Michael Spierig. Value: Germany Url: https://www.imdb.com/name/nm1294961
Unable to extract age for Peter Spierig. Value: Germany Url: https://www.imdb.com/name/nm1294962

Saving progress. Run 8200 for movie 1354. artists_collected:2430. artists_skipped:5769
Unable to extract age for Peter Macdissi. Value: Beirut, Lebanon Url: https://www.imdb.com/name/nm0531589
Unable to extract age for Charles Stone III. Value: c. 1966 Url: https://www.imdb.com/name/nm0831690

Saving progress. Run 8400 for movie 1386. artists_collected:2518. artists_skipped:5881
Unable to extract age for Ben Schnetzer. Value: New York, New York, USA Url: https://www.imdb.com/name/nm3115493
Unable to extract age for Clay Jeter. Value: Clarksville, Tennessee, USA Url: https://www.imdb.com/name/nm0422316

Saving progress. Run 8600 for movie 1421. artists_collected:2623. artists_skipped:5976
Unable to extract age for Steve Bloom. Value: Buffalo, New York, USA Url: https://www.imdb.com/name/nm0089237

Saving progress. Run 8800 for movie 1454. artists_collected:2735. artists_skipped:6064

Saving progress. Run 9000 for movie 1489. artists_collected:2860. artists_skipped:6139
Unable to extract age for Tom Anniko. Value: Winnipeg, Manitoba, Canada Url: https://www.imdb.com/name/nm0030394
Unable to extract age for Chris White. Value: New York City, New York, USA Url: https://www.imdb.com/name/nm1184214
Unable to extract age for Marcel Sawicki. Value: Ostrzeszów, Wielkopolskie, Poland Url: https://www.imdb.com/name/nm3006353
Unable to extract age for Danishka Esterhazy. Value: Winnipeg, Manitoba, Canada Url: https://www.imdb.com/name/nm0261629

Saving progress. Run 9200 for movie 1522. artists_collected:2977. artists_skipped:6222
Unable to extract age for Olivia Jewson. Value: UK Url: https://www.imdb.com/name/nm3386634

Saving progress. Run 9400 for movie 1555. artists_collected:3083. artists_skipped:6316
Unable to extract age for Director X.. Value: Toronto, Ontario, Canada Url: https://www.imdb.com/name/nm1962311

Saving progress. Run 9600 for movie 1589. artists_collected:3211. artists_skipped:6388
Unable to extract age for Joel H. Cohen. Value: Calgary, Alberta, Canada Url: https://www.imdb.com/name/nm1121389

Saving progress. Run 9800 for movie 1622. artists_collected:3318. artists_skipped:6481

Saving progress. Run 10000 for movie 1654. artists_collected:3430. artists_skipped:6569
Unable to extract age for Justin Stanley. Value: Sandwich, Kent, England, UK Url: https://www.imdb.com/name/nm0822525

Saving progress. Run 10200 for movie 1689. artists_collected:3529. artists_skipped:6670
Unable to extract age for David Aaron Cohen. Value: Chicago, Illinois, USA Url: https://www.imdb.com/name/nm0169173

Saving progress. Run 10400 for movie 1722. artists_collected:3639. artists_skipped:6760
Unable to extract age for William Mark McCullough. Value: Savannah, Georgia, USA Url: https://www.imdb.com/name/nm1151972

Saving progress. Run 10600 for movie 1756. artists_collected:3742. artists_skipped:6857
Unable to extract age for Jen McGowan. Value: Washington, District of Columbia, USA Url: https://www.imdb.com/name/nm0569653

Saving progress. Run 10800 for movie 1790. artists_collected:3852. artists_skipped:6947
Unable to extract age for John Littlefield. Value: July 8, 19?? Url: https://www.imdb.com/name/nm0514704
Unable to extract age for Gina La Piana. Value: Brooklyn, New York, USA Url: https://www.imdb.com/name/nm0478834

Saving progress. Run 11000 for movie 1823. artists_collected:3966. artists_skipped:7033
Unable to extract age for Samantha McIntyre. Value: Dallas, Texas, USA Url: https://www.imdb.com/name/nm1916239
Unable to extract age for Joe Lynch. Value: Long Island, New York, USA Url: https://www.imdb.com/name/nm1362570

Saving progress. Run 11200 for movie 1858. artists_collected:4075. artists_skipped:7124
Unable to extract age for John Altschuler. Value: c. 1963 Url: https://www.imdb.com/name/nm1014365
Unable to extract age for Dave Krinsky. Value: c. 1963 Url: https://www.imdb.com/name/nm1015106
Unable to extract age for Goran Dukic. Value: Zagreb, Croatia Url: https://www.imdb.com/name/nm1058247
Unable to extract age for Paul Tarantino. Value: New Jersey, USA Url: https://www.imdb.com/name/nm0850227

Saving progress. Run 11400 for movie 1893. artists_collected:4181. artists_skipped:7218
Unable to extract age for Gregg Hale. Value: Selma, Alabama, USA Url: https://www.imdb.com/name/nm0354918
Unable to extract age for Alex Essoe. Value: Dhahran, Saudi Arabia Url: https://www.imdb.com/name/nm3012273

Saving progress. Run 11600 for movie 1927. artists_collected:4290. artists_skipped:7309
Unable to extract age for Ezra Buzzington. Value: Muncie, Indiana, USA Url: https://www.imdb.com/name/nm0125653
Unable to extract age for Eitan Gorlin. Value: c. 1969 Url: https://www.imdb.com/name/nm1148912

Saving progress. Run 11800 for movie 1961. artists_collected:4401. artists_skipped:7398
Unable to extract age for Jody Hill. Value: North Carolina, USA Url: https://www.imdb.com/name/nm2095817
Unable to extract age for Ben Stassen. Value: Belgium Url: https://www.imdb.com/name/nm0823721
Unable to extract age for Howard Klausner. Value: c. 1960 Url: https://www.imdb.com/name/nm0458439
Unable to extract age for Megan Alexander. Value: Seattle, Washington, USA Url: https://www.imdb.com/name/nm5287560

Saving progress. Run 12000 for movie 1994. artists_collected:4526. artists_skipped:7473
Unable to extract age for Jemma Dallender. Value: London, England, UK Url: https://www.imdb.com/name/nm4728487

Saving progress. Run 12200 for movie 2027. artists_collected:4658. artists_skipped:7541
Unable to extract age for Ken Hixon. Value: Indiana, USA Url: https://www.imdb.com/name/nm0387025

Saving progress. Run 12400 for movie 2062. artists_collected:4795. artists_skipped:7604

Saving progress. Run 12600 for movie 2095. artists_collected:4900. artists_skipped:7699

Saving progress. Run 12800 for movie 2130. artists_collected:5027. artists_skipped:7772

Saving progress. Run 13000 for movie 2164. artists_collected:5141. artists_skipped:7858
Unable to extract age for John E Seymore. Value: Pine Bluff, Arkansas, USA Url: https://www.imdb.com/name/nm3525911

Saving progress. Run 13200 for movie 2198. artists_collected:5260. artists_skipped:7939
Unable to extract age for Sherri Eakin. Value: Metairie, Louisiana, USA Url: https://www.imdb.com/name/nm4748817
Unable to extract age for Emma Greenwell. Value: Greenwich, Connecticut, USA Url: https://www.imdb.com/name/nm4563896
Unable to extract age for Drake Burnette. Value: Houston, Texas, USA Url: https://www.imdb.com/name/nm5071271

Saving progress. Run 13400 for movie 2234. artists_collected:5373. artists_skipped:8026
Unable to extract age for Hannah Kasulka. Value: Georgia, USA Url: https://www.imdb.com/name/nm2453033

Saving progress. Run 13600 for movie 2269. artists_collected:5503. artists_skipped:8096
Unable to extract age for Jay Holben. Value: Chicago, Illinois, USA Url: https://www.imdb.com/name/nm0002911

Saving progress. Run 13800 for movie 2304. artists_collected:5632. artists_skipped:8167
Unable to extract age for Wych Kaosayananda. Value: c. 1974 Url: https://www.imdb.com/name/nm1126346
Unable to extract age for Lora Martinez-Cunningham. Value: Albuquerque, New Mexico, USA Url: https://www.imdb.com/name/nm1254942

Saving progress. Run 14000 for movie 2340. artists_collected:5753. artists_skipped:8246

Saving progress. Run 14200 for movie 2373. artists_collected:5870. artists_skipped:8329
Unable to extract age for Swati Das. Value: India Url: https://www.imdb.com/name/nm6372501

Saving progress. Run 14400 for movie 2407. artists_collected:5984. artists_skipped:8415
Unable to extract age for Kevin McNamara. Value: Detroit, Michigan, USA Url: https://www.imdb.com/name/nm3063849
Unable to extract age for Kelsey Carlisle. Value: Indianapolis, Indiana, USA Url: https://www.imdb.com/name/nm6219464

Saving progress. Run 14600 for movie 2442. artists_collected:6096. artists_skipped:8503
Unable to extract age for Rob Pallatina. Value: Walsall, West Midlands, England, UK Url: https://www.imdb.com/name/nm3973341

Saving progress. Run 14800 for movie 2477. artists_collected:6217. artists_skipped:8582
Unable to extract age for Richard Lasser. Value: Yakima, Washington, USA Url: https://www.imdb.com/name/nm1103773

Saving progress. Run 15000 for movie 2512. artists_collected:6341. artists_skipped:8658

Saving progress. Run 15200 for movie 2548. artists_collected:6469. artists_skipped:8730
Unable to extract age for Aimee Stolte. Value: Buffalo, New York, USA Url: https://www.imdb.com/name/nm6116282

Saving progress. Run 15400 for movie 2583. artists_collected:6578. artists_skipped:8821
Unable to extract age for Ben Hernandez Bray. Value: San Fernando, California, USA Url: https://www.imdb.com/name/nm0004554
Unable to extract age for Rezeta Veliu. Value: Prishtina, Kosovo Url: https://www.imdb.com/name/nm5653987

Saving progress. Run 15600 for movie 2618. artists_collected:6700. artists_skipped:8899
Unable to extract age for Tristan Thomas. Value: Oil City, Pennsylvania, USA Url: https://www.imdb.com/name/nm1225104

Saving progress. Run 15800 for movie 2653. artists_collected:6819. artists_skipped:8980
Unable to extract age for Van Ling. Value: c. 1963 Url: https://www.imdb.com/name/nm0512746
Unable to extract age for Natalie Burn. Value: Kiev, Ukrainskaya SSR, USSR [now Ukraine] Url: https://www.imdb.com/name/nm2238248

Saving progress. Run 16000 for movie 2688. artists_collected:6944. artists_skipped:9055
Unable to extract age for Tzi Ma. Value: Hong Kong, China Url: https://www.imdb.com/name/nm0002245

Saving progress. Run 16200 for movie 2724. artists_collected:7044. artists_skipped:9155
Unable to extract age for Gia Skova. Value: Saratov, Russia Url: https://www.imdb.com/name/nm4341268

Saving progress. Run 16400 for movie 2758. artists_collected:7170. artists_skipped:9229
Unable to extract age for T.C. Christensen. Value: Salt Lake City, Utah, USA Url: https://www.imdb.com/name/nm0002459
Unable to extract age for Alena Savostikova. Value: Moscow, Russia Url: https://www.imdb.com/name/nm4338487

Saving progress. Run 16600 for movie 2794. artists_collected:7284. artists_skipped:9315

Saving progress. Run 16800 for movie 2828. artists_collected:7401. artists_skipped:9398
Unable to extract age for Rachel Finninger. Value: Dallas, Texas, USA Url: https://www.imdb.com/name/nm5815273

Saving progress. Run 17000 for movie 2862. artists_collected:7518. artists_skipped:9481
Unable to extract age for Will Addison. Value: Charleston, Illinois, USA Url: https://www.imdb.com/name/nm3678342
Unable to extract age for Jéssica Alonso. Value: Santurtzi, Vizcaya, País Vasco, Spain Url: https://www.imdb.com/name/nm3838543
Unable to extract age for Adam Boster. Value: Poplar Bluff, Missouri, USA Url: https://www.imdb.com/name/nm2819700

Saving progress. Run 17200 for movie 2898. artists_collected:7643. artists_skipped:9556
Unable to extract age for Vail Bloom. Value: Boston, Massachusetts, USA Url: https://www.imdb.com/name/nm2357552
Unable to extract age for Jonathan Holmes. Value: Shrewsbury, Shropshire, England, UK Url: https://www.imdb.com/name/nm1684612
Unable to extract age for Melanie Aitkenhead. Value: Guatemala City, Guatemala Url: https://www.imdb.com/name/nm4182489

Saving progress. Run 17400 for movie 2933. artists_collected:7765. artists_skipped:9634

Saving progress. Run 17600 for movie 2967. artists_collected:7886. artists_skipped:9713
Unable to extract age for Scott King. Value: c. 1966 Url: https://www.imdb.com/name/nm0455259
Unable to extract age for Agam Darshi. Value: Birmingham, England, UK Url: https://www.imdb.com/name/nm1570191
Unable to extract age for Scott Jeffrey. Value: Essex, England, UK Url: https://www.imdb.com/name/nm8448178

Saving progress. Run 17800 for movie 3002. artists_collected:8018. artists_skipped:9781
Unable to extract age for Jud Cremata. Value: New London, Connecticut, USA Url: https://www.imdb.com/name/nm0003945

Saving progress. Run 18000 for movie 3036. artists_collected:8149. artists_skipped:9850
Unable to extract age for Benjamin Louis. Value: Haiti Url: https://www.imdb.com/name/nm0521856
Unable to extract age for Brian McCulley. Value: North Platte, Nebraska, USA Url: https://www.imdb.com/name/nm0567115

Saving progress. Run 18200 for movie 3072. artists_collected:8266. artists_skipped:9933
Unable to extract age for Tyrone Evans Clark. Value: Chicago, Illinois, USA Url: https://www.imdb.com/name/nm9505160

Saving progress. Run 18400 for movie 3107. artists_collected:8388. artists_skipped:10011
Unable to extract age for Dan Walker. Value: Hollywood, California, USA Url: https://www.imdb.com/name/nm0907655
Unable to extract age for Nicola Lambo. Value: Jamaica, West Indies Url: https://www.imdb.com/name/nm2068832

Saving progress. Run 18600 for movie 3141. artists_collected:8499. artists_skipped:10100
Unable to extract age for Marama Corlett. Value: Valletta, Malta Url: https://www.imdb.com/name/nm3744128
Unable to extract age for Nick Wauters. Value: Belgium Url: https://www.imdb.com/name/nm0915316
Unable to extract age for Ewan Chung. Value: Washington, District of Columbia, USA Url: https://www.imdb.com/name/nm1028658

Saving progress. Run 18800 for movie 3177. artists_collected:8627. artists_skipped:10172
Unable to extract age for Michael Jr.. Value: Grand Rapids, Michigan, USA Url: https://www.imdb.com/name/nm1143406
Unable to extract age for Oghenero Gbaje. Value: New York, USA Url: https://www.imdb.com/name/nm7832800
Unable to extract age for Tracy Perez. Value: New York City, New York, USA Url: https://www.imdb.com/name/nm1659569

Saving progress. Run 19000 for movie 3212. artists_collected:8751. artists_skipped:10248
Unable to extract age for Troy Jones. Value: Lafayette, Indiana, USA Url: https://www.imdb.com/name/nm2399959
Unable to extract age for Vera VanGuard. Value: Moscow, Russian SFSR, USSR [now Russia] Url: https://www.imdb.com/name/nm1475801

Saving progress. Run 19200 for movie 3246. artists_collected:8876. artists_skipped:10323
Unable to extract age for Dylan Kenin. Value: Taos, New Mexico, USA Url: https://www.imdb.com/name/nm0961185
Unable to extract age for Robert Scott Wildes. Value: Waterville Valley, New Hampshire, USA Url: https://www.imdb.com/name/nm2705101


In [ ]:
artist_dataset.head(5)

,artist_collected,artist_imdb_id.1,artist_type,artist_url,artist_name,artist_birthday,artist_age,artist_bio,artist_gender,is_openly_lgbt,...,award_other_desc,awards_prestige_wins,awards_prestige_nominations,awards_other_won,awards_other_nominations,previous_work,__SuccsefullyCollectArtistDetails,awards_prestige,artist_imdb_id.2,artist_imdb_id
nm0000116,True,nm0000116,Director,https://www.imdb.com/name/nm0000116,James Cameron,"August 16, 1954",68.0,"James Francis Cameron was born on August 16, 1...",Male,False,...,77 wins & 89 nominations total,3,0,77,89,22,True,NaN,NaN,NaN
nm0415425,True,nm0415425,Writer,https://www.imdb.com/name/nm0415425,Rick Jaffa,"May 8, 1956",66.0,Rick Jaffa was born on 8 May 1956 in Dallas Co...,Male,False,...,1 win & 3 nominations,0,0,1,3,11,True,0.0,NaN,NaN
nm0798646,True,nm0798646,Writer,https://www.imdb.com/name/nm0798646,Amanda Silver,"May 24, 1963",59.0,Amanda Silver was born on 24 May 1963 in the U...,Female,False,...,1 win & 3 nominations,0,0,1,3,13,True,0.0,NaN,NaN
nm0941777,True,nm0941777,Star,https://www.imdb.com/name/nm0941777,Sam Worthington,"August 2, 1976",46.0,Samuel Henry John Worthington was born August ...,Male,False,...,6 wins & 19 nominations,0,0,6,19,55,True,0.0,NaN,NaN
nm0757855,True,nm0757855,Star,https://www.imdb.com/name/nm0757855,Zoe Saldana,"June 19, 1978",44.0,"Zoe Saldana was born on June 19, 1978 in Passa...",Female,False,...,18 wins & 69 nominations,0,0,18,69,68,True,0.0,NaN,NaN

# Build final dataset

Go over the movie_dataset and convert the data to a manageable format

In [ ]:
imdb_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/imdb_dataset.csv"
if os.path.exists(imdb_dataset_path):
  imdb_df = pd.read_csv(imdb_dataset_path)
  imdb_dict = imdb_df.set_index('movie_id').T.to_dict()
  
else:
  imdb_dict = {}
  imdb_df = pd.DataFrame(imdb_dict)

print(f"imdb_dict contains {len(imdb_dict)} records")
imdb_df.head(3)

imdb_dict contains 0 records

Empty DataFrame
Columns: []
Index: []

In [ ]:
movie_dataset.head(3).T

,0,1,2
movie_id,tt1630029,tt6710474,tt10640346
__SuccsefullyCollectBasicDetails,True,True,True
__SuccsefullyCollectExtandedDetails,True,True,True
movie_name,Avatar: The Way of Water,Everything Everywhere All at Once,Babylon
movie_page_url,https://www.imdb.com/title/tt1630029/?ref_=adv...,https://www.imdb.com/title/tt6710474/?ref_=adv...,https://www.imdb.com/title/tt10640346/?ref_=ad...
...,...,...,...
Director_3_imdb_id,NaN,NaN,NaN
movie_id.2,NaN,NaN,NaN
movie_id.3,NaN,NaN,NaN
cast_count_production_department,NaN,NaN,NaN
movie_id.4,NaN,NaN,NaN

## Function: Convert string to number

In [ ]:
def convert_numbers(num_string):
  try:
    if not num_string:
      return None
    elif 'K' in num_string:
        number = float(num_string.replace('K', '')) * 1000
    elif 'M' in num_string:
        number = float(num_string.replace('M', '')) * 1000000
    else:
        number = float(num_string.replace('$', '').replace(',', ''))
    return number
  except Exception as ex:
    print(f"Could not interpret value {num_string}")



print(convert_numbers('$14,300,000'))
print(convert_numbers('3.3K'))
print(convert_numbers('2.6M'))
print(convert_numbers('2.6M'))
print(convert_numbers('350000000.0'))
print(convert_numbers('87'))
print(convert_numbers('87.00'))
print(convert_numbers(None))

14300000.0
3300.0
2600000.0
2600000.0
350000000.0
87.0
87.0
None

In [ ]:
def count_words(text):
  if not text:
    return 0
  else:
    words = text.split()
    return len(words)

print(count_words("Puss in Boots: The Last Wish"))
print(count_words("X"))
print(count_words(None))
print(count_words(""))

6
1
0
0

## Function: Rating to Rating Category

In [ ]:
def rating_to_category(movie_rating):
    rating_category = {
        "NC-17": "R",
        "16+": "R",
        "18+": "R",
        "Approved": "G",
        "G": "G",
        "M": "PG-13",
        "Not Rated": "Unrated",
        "PG": "PG-13",
        "PG-13": "PG-13",
        "R": "R",
        "TV-14": "PG-13",
        "TV-G": "G",
        "TV-MA": "R",
        "TV-PG": "PG-13",
        "TV-Y": "G",
        "TV-Y7": "G",
        "Unrated": "Unrated"
    }
    return rating_category.get(movie_rating, "Unrated")

print(rating_to_category("M"))
print(rating_to_category("TV-Y"))
print(rating_to_category(""))
print(rating_to_category(None))
print(rating_to_category("BadValue"))

PG-13
G
Unrated
Unrated
Unrated

## Function: Genere to Genere Category

In [ ]:
def genre_list_to_catg(genre_list):
  genre_dict = {"genre__count":0}
  if type(genre_list) == str:
    g_list = genre_list.strip().split(',')
    genre_dict["genre__count"] = len(g_list)
  
    for g in g_list:
      genre_dict[f"genere_{g.strip().lower()}"] = True

  return genre_dict

print(genre_list_to_catg("Action, "))
print(genre_list_to_catg("Action, adventure, Fantasy"))
print(genre_list_to_catg("Biography, Comedy, Music"))
print(genre_list_to_catg(None))
print(genre_list_to_catg(""))

{'genre__count': 2, 'genere_action': True, 'genere_': True}
{'genre__count': 3, 'genere_action': True, 'genere_adventure': True, 'genere_fantasy': True}
{'genre__count': 3, 'genere_biography': True, 'genere_comedy': True, 'genere_music': True}
{'genre__count': 0}
{'genre__count': 1, 'genere_': True}

## Function: Language to Language Category

In [ ]:
def language_list_to_catg(language_list):
  language_dict = {}
  if type(language_list)==str:
    l_list = language_list.strip().split(',')
    language_dict["language__count"] = len(l_list)

    for l in l_list:
        language_dict[f"language_{l.strip().lower()}"] = True
  else:
    language_dict[f"language_english"] = True
    language_dict["language__count"] = 1

  return language_dict

print(language_list_to_catg("English"))
print(language_list_to_catg("English,Mandarin,Cantonese"))
print(language_list_to_catg(None))
print(language_list_to_catg(""))

{'language__count': 1, 'language_english': True}
{'language__count': 3, 'language_english': True, 'language_mandarin': True, 'language_cantonese': True}
{'language_english': True, 'language__count': 1}
{'language__count': 1, 'language_': True}

## Function: Extract Crew Stats

In [ ]:
def extract_artist_stats(row,movie_id):

  artist_stats_dict = {}

  movie_name = row['movie_name']

  artist_cols = ['Star_1_imdb_id','Star_2_imdb_id','Star_3_imdb_id','Director_1_imdb_id','Director_2_imdb_id','Director_3_imdb_id','Writer_1_imdb_id','Writer_2_imdb_id','Writer_3_imdb_id']

  #info to extract:
  main_crew_count = 0
  crew_age_sum = 0
  crew_age_avg = 0
  crew_age_missing = 0
  crew_female_count = 0
  crew_nonbinary_count = 0
  crew_lgbt_count = 0
  crew_prestige_wins = 0
  crew_prestige_nominations = 0
  crew_awards_wins = 0
  crew_awards_nominations = 0

  for artist in artist_cols:
    try:
      artist_imdb_id = row.get(artist)
      if type(artist_imdb_id) == str:
        main_crew_count += 1

        artist_data = artists_list.get(artist_imdb_id)
        artist_name = artist_data.get('artist_name')
        artist_gender = artist_data.get('artist_gender')
        
        if artist_gender=="Female":
          crew_female_count+=1
        elif artist_gender=="NonBinary":
          crew_nonbinary_count+=1

        artist_lgbt = artist_data.get('is_openly_lgbt')
        if artist_lgbt:
          crew_lgbt_count += 1

        age = artist_data.get('artist_age')
        #print(artist_data)
        #print(artist_imdb_id,artist_name,age,artist_data['artist_age'])
        if not age:
          crew_age_missing += 1
        else:
          crew_age_sum += age

        crew_prestige_wins += artist_data.get('awards_prestige_wins')
        crew_prestige_nominations += artist_data.get('awards_prestige_nominations')
        crew_awards_wins += artist_data.get('awards_other_won')
        crew_awards_nominations += artist_data.get('awards_other_nominations')
    except Exception as e:
      print(f"Failed extracting data for artist: {artist} - {artist_data.get('artist_name')}. \nmovie_name: {movie_name}({movie_id}).\n Error:\n{e}")
      traceback.print_exc()

  if crew_age_sum: # Ag age is the sum age divided by the number of collected ages (total minus missing)
    crew_age_avg = crew_age_sum/(main_crew_count-crew_age_missing)
  else:
    print(f'None of the crew for movie {movie_name}({movie_id} had their age listed in their bio page.')
    crew_age_avg = None

  artist_stats_dict['main_crew_count'] = main_crew_count
  artist_stats_dict['crew_age_avg'] = crew_age_avg
  artist_stats_dict['crew_age_missing'] = crew_age_missing
  artist_stats_dict['crew_female_count'] = crew_female_count
  artist_stats_dict['crew_nonbinary_count'] = crew_nonbinary_count
  artist_stats_dict['crew_lgbt_count'] = crew_lgbt_count
  artist_stats_dict['crew_prestige_wins'] = crew_prestige_wins
  artist_stats_dict['crew_prestige_nominations'] = crew_prestige_nominations
  artist_stats_dict['crew_awards_wins'] = crew_awards_wins
  artist_stats_dict['crew_awards_nominations'] = crew_awards_nominations
  return artist_stats_dict

extract_artist_stats(row,"tt22061140")

None of the crew for movie Silent Panic(tt22061140 had their age listed in their bio page.

{'main_crew_count': 5,
 'crew_age_avg': None,
 'crew_age_missing': 5,
 'crew_female_count': 0,
 'crew_nonbinary_count': 0,
 'crew_lgbt_count': 0,
 'crew_prestige_wins': 0,
 'crew_prestige_nominations': 0,
 'crew_awards_wins': 6,
 'crew_awards_nominations': 3}

## Main Function: Build IMDB Dataset

In [ ]:


def build_imdb_movie_dataset(movie_id,total_movie_dataset):

  row = total_movie_dataset[movie_id]

  amount_cols = ['budget_usd','runtime_min']

  imdb_movie = {"_finshed_successfully":False}

  for col in amount_cols:
    imdb_movie[col] = convert_numbers(str(row.get(col)))

  imdb_movie['movie_name'] = row.get('movie_name')
  imdb_movie['title_length'] = count_words(row.get('movie_name'))
  imdb_movie['movie_desc_length'] = count_words(row.get('movie_description'))
  imdb_movie['rating_catg'] = rating_to_category(row.get('movie_rating'))
  imdb_movie['movie_year'] = 2022 if row.get('movie_year') is None else row.get('movie_year')
  imdb_movie['release_year'] = 2022 if row.get('release_year') is None else row.get('release_year')
  imdb_movie['release_month'] = row.get('release_month') 
  imdb_movie['release_country'] = "United States" if row.get('release_country') is None else row.get('release_country')
  imdb_movie['budget_currency'] = "USD" if row.get('budget_currency') is None else row.get('budget_currency')

  # cast count:
  for k in row.keys():
    if 'cast_count' in k:
      imdb_movie[k] = 0 if row[k] is None else row[k] 

  # genere:
  movie_genre_dict = genre_list_to_catg(row.get('movie_genere'))
  imdb_movie.update(movie_genre_dict)

  # language:
  languages_dict = language_list_to_catg(row.get('languages'))
  imdb_movie.update(languages_dict)

  # Get dependent columns:
  imdb_movie['pred_metascore'] = row.get('movie_metascore')
  imdb_movie['pred_user_rating'] = row.get('user_rating')
  imdb_movie['pred_user_review_count'] = convert_numbers(str(row.get('user_reviews_count')))
  imdb_movie['pred_critic_review_count'] = convert_numbers(str(row.get('critic_reviews_count')))
  imdb_movie['pred_total_vote_count'] = convert_numbers(str(row.get('movie_vote_num')))
  imdb_movie['pred_gross_worldwide'] = convert_numbers(str(row.get('gross_worldwide')))
  imdb_movie['pred_gross_us_canada'] = convert_numbers(str(row.get('gross_us_canada')))
  imdb_movie['pred_opening_weekend_us_canada'] = convert_numbers(str(row.get('opening_weekend_us_canada')))

  # Get crew stats:
  crew_stats = extract_artist_stats(row,movie_id)
  imdb_movie["_finshed_successfully"] = True
  imdb_movie.update(crew_stats)

  #print(row)
  return imdb_movie

#build_imdb_movie_dataset("tt16379898",total_movie_dataset)

In [ ]:
imdb_movie_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/imdb_movie_dataset_raw.csv"
if os.path.exists(imdb_movie_dataset_path):
  imdb_movie_raw_dataset = pd.read_csv(imdb_movie_dataset_path, index_col=['movie_id'])
  imdb_movie_raw_list = imdb_movie_raw_dataset.T.to_dict()
  
else:
  imdb_movie_raw_list = {}
  imdb_movie_raw_dataset = pd.DataFrame(imdb_movie_raw_list)

print(f"imdb_movie_raw_list contains {len(imdb_movie_raw_list)} records")
imdb_movie_raw_dataset.head(3)

imdb_movie_raw_list contains 631 records

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,release_year,release_month,...,language_welsh,genere_musical,language_croatian,language_wolof,language_latvian,language_hausa,language_norwegian,language_sioux,language_thai,language_albanian
movie_id,,,,,,,,,,,,,,,,,,,,,
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,2022.0,December,...,False,False,False,False,False,False,False,False,False,False
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,2022.0,April,...,False,False,False,False,False,False,False,False,False,False
tt10640346,True,78000000.0,189.0,Babylon,1,28,R,2022,2022.0,December,...,False,False,False,False,False,False,False,False,False,False

## Cursor: Finalize Dataset

In [ ]:
movies_processed = 0
movies_skipped = 0
movie_count = 0
for i, row in movie_dataset.iterrows():
  movie_count += 1
  try:
    imdb_movie_record = {}
    movie_id = row['movie_id']
    if movie_id in imdb_movie_raw_list.keys() and imdb_movie_raw_list[movie_id]['_finshed_successfully']==True:
      imdb_movie_record = imdb_movie_raw_list[movie_id]
      movies_skipped += 1
    else:
      imdb_movie_record = build_imdb_movie_dataset(movie_id,total_movie_dataset)


    imdb_movie_raw_list[movie_id] = imdb_movie_record
  except Exception as e:
    print(f"Failed building finished data for movie: {movie_id}. \nRaw Data: {row}.\n Error:\n{e}")
    traceback.print_exc()
    imdb_movie_record['_finshed_successfully'] = False;

 
imdb_movie_raw_dataset = pd.DataFrame(imdb_movie_raw_list).T
print(f"\n\nFinished process. Total: {movie_count}. movies_processed:{movies_processed}. movies_skipped:{movies_skipped}")
imdb_movie_raw_dataset.to_csv(imdb_movie_dataset_path, index=True, index_label="movie_id")

Streaming output truncated to the last 5000 lines.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie The Fear Footage(tt8675532 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Followed(tt5563782 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Doubting Thomas(tt5076150 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Chompy & The Girls(tt7885428 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie The Wedding Trip(tt13978006 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Good Kisser(tt9602378 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Point Man(tt5855164 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Lantern's Lane(tt11880264 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Uncle Peckerhead(tt11695654 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Escape 2120(tt8633542 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Walk Away(tt11742070 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie The Mad Hatter(tt10746060 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Ma Belle, My Beauty(tt13157722 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Fear Pharm(tt9191844 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Don't Leave Home(tt6842126 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie The Evil Down the Street(tt7548732 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Clown Motel: Spirits Arise(tt6255230 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie The Lost Footage of Leah Sullivan(tt7391958 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None
None of the crew for movie Clownado(tt8485548 had their age listed in their bio page.
Could not interpret value None
Could not interpret value None
Could not interpret value None
Could not interpret value None

In [ ]:
imdb_movie_raw_dataset.head(3)

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,release_year,release_month,...,language_kazakh,language_tamil,language_nepali,language_aboriginal,language_sinhala,language_ibo,language_malayalam,language_telugu,language_aramaic,language_pashtu
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,2022.0,December,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,2022.0,April,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt10640346,True,78000000.0,189.0,Babylon,1,28,R,2022,2022.0,December,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Convert all nan values to 0s:

for col in imdb_movie_raw_dataset.columns:
    # Check if the column name starts with 'cast_count'
    if col.startswith('cast_count_'):
        # Replace NaN values with 0
        imdb_movie_raw_dataset[col] = imdb_movie_raw_dataset[col].fillna(0)
    elif col.startswith('language_') or col.startswith('genere_'):
      # Replace NaN values with False
        imdb_movie_raw_dataset[col] = imdb_movie_raw_dataset[col].fillna(False)



imdb_movie_raw_dataset.to_csv(imdb_movie_dataset_path, index=True, index_label="movie_id")
imdb_movie_raw_dataset.head(3)

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,release_year,release_month,...,language_kazakh,language_tamil,language_nepali,language_aboriginal,language_sinhala,language_ibo,language_malayalam,language_telugu,language_aramaic,language_pashtu
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,2022.0,December,...,False,False,False,False,False,False,False,False,False,False
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,2022.0,April,...,False,False,False,False,False,False,False,False,False,False
tt10640346,True,78000000.0,189.0,Babylon,1,28,R,2022,2022.0,December,...,False,False,False,False,False,False,False,False,False,False