<a href="https://colab.research.google.com/github/OmerRosen/Kaggle/blob/main/IMDB_2022_Hit_or_Flop_Data_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB 2022 - Hit or Flop

## Mission Statement

### Data To Collect

#### Search box page:
* Movie Id
* Movie Title
* Movie year
* Rating
* MetaScore - Outcome
* Description
* Poster
* Directore name + Link
* Stars
* Votes - Output
* Genre

#### Main Movie Page data
* Movie Length
* Rank
* Writer
* Star #1
* Star #2
* Star #3
* User eviews
* Critic reviews
* Number of photos posted
* Storyline - Text
* Tag line
* Release Date - Month
* Country of origin
* Additional Lanaguages
* Country of filming
* Production companies
* Budget
* Opening Weekend Date
* Gross US & Canada - Output
* Opening weekend US & Canada - Output
* Gross worldwide - Output
* Color - Color
* Color - Black&White
* Sound mix - Dolby Digital
* Sound mix - Dolby Atmos
* Aspect ratio

#### Director Page:
* Director Age
* Is Top 500?
* Director Gender (Based on bio)
* Previous film count - As Director
* Previous film count - As Writer
* Previous film count - As As Producer
* Director Publicity listing count

#### Information Abount Cast:
* Full list of cast and their profile links
* Number of cast members
* Produced by - Is top 500?
* Music by - Is top 500?
* Cinematography by  - Is top 500
* Film Editing by   - Is top 500
* Art Direction by  - Is top 500
* Number of Production Management
* Number of Art Department
* Number of Sound Department
* Number of Camera and Electrical Department
* Number of Editorial Department
* Number of Music Department
* Number of Additional Crew

#### Actor Page
* Is Top 5000?
* Is Top 500?
* Is Top 100 (aka - Has numberical rank)
* Is Top 10 (aka - Has numberical rank)
* Numerical Rank (Could be none)
* Gender
* Age
* Oscar nominations 
* Birth country

#### Aggragated data:
* How many male stars
* How many female stars
* Avrage cast memeber age
* Max/Min age of cast member
* Number of unique birth countries of actors
* Total number of Oscar numinatior for cast
* Num cast members in top 5000
* Num cast memebers in top 500
* Num cast members in top 100
* Num cast members in top 10

# IMDB Scraper

## Import Libraries

In [12]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time
import traceback

## Set main variables

In [13]:
base_url = "https://www.imdb.com"
base_folder_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project"

start_date = "2022-01-01"
end_date = "2022-12-31"
minimum_votes = 200   # Minimum vote amount to collect movie
start_point = 1       # Start from movie #1-50

movie_search_url = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&languages=en&start={start_point}&user_rating=1.0,10.0&ref_=adv_nxt"
movie_search_url

'https://www.imdb.com/search/title/?title_type=feature&release_date=2022-01-01,2022-12-31&num_votes=200,&languages=en&start=1&user_rating=1.0,10.0&ref_=adv_nxt'

In [14]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

list_of_50_movies = requests.get(f'{movie_search_url}', headers=headers, timeout=10)
list_of_50_movies

In [15]:
list_of_50_movies_soup = BeautifulSoup(list_of_50_movies.text, 'html.parser').find_all('div',{'class':'lister-item mode-advanced'})

In [16]:
movie_search_page = list_of_50_movies_soup[0]

## Function: Get Movie Box details

In [17]:
def get_basic_details(movie_search_page):
  search_box_info = {}
  search_box_info['movie_name'] = movie_search_page.find('a')
  search_box_info['movie_page_url'] = f"{base_url}{movie_search_page.find('a')['href']}"

  try:
    search_box_info['movie_place'] = None if not movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}) else movie_search_page.find('span',{'class':'lister-item-index unbold text-primary'}).text.replace('.','')
    search_box_info['movie_id'] = None if not search_box_info['movie_page_url'] else search_box_info['movie_page_url'].split('/')[-2]
    search_box_info['movie_name'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['alt'].strip()
    search_box_info['movie_thubmnail'] = None if not movie_search_page.find('a').find('img') else movie_search_page.find('a').find('img')['src']
    search_box_info['movie_metascore'] = None if not movie_search_page.find('span', {'class': 'metascore'}) else movie_search_page.find('span', {'class': 'metascore'}).text.strip()
    search_box_info['movie_description'] = None if not movie_search_page.find_all('p',{'class':'text-muted'}) else movie_search_page.find_all('p',{'class':'text-muted'})[1].text.strip()
    search_box_info['runtime_min'] = None if not movie_search_page.find('span',{'class':'runtime'}) else movie_search_page.find('span',{'class':'runtime'}).text.split(' ')[0]

    bottom_box_info = movie_search_page.find('p',{'class':'sort-num_votes-visible'}).find_all('span')
    search_box_info['movie_vote_num'] = bottom_box_info[1]['data-value']

    search_box_info['movie_rating'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'certificate'}).text.strip()
    search_box_info['movie_genere'] = None if not movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}) else movie_search_page.find_all('p',{'class':'text-muted'})[0].find('span',{'class':'genre'}).text.strip()

    search_box_info['__SuccsefullyCollectBasicDetails'] = True;

  except Exception as e:
    print(f"Failed extracting data for movie: {search_box_info['movie_name']}. \nUrl: {search_box_info['movie_page_url']}.\n Error:\n{e}")
    traceback.print_exc()
    search_box_info['__SuccsefullyCollectBasicDetails'] = False;


  return search_box_info

In [18]:
movie_search_page = list_of_50_movies_soup[1]
search_box_info = get_basic_details(movie_search_page)
search_box_info

{'movie_name': 'Everything Everywhere All at Once',
 'movie_page_url': 'https://www.imdb.com/title/tt6710474/?ref_=adv_li_i',
 'movie_place': '2',
 'movie_id': 'tt6710474',
 'movie_thubmnail': 'https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png',
 'movie_metascore': '81',
 'movie_description': 'A middle-aged Chinese immigrant is swept up into an insane adventure in which she alone can save existence by exploring other universes and connecting with the lives she could have led.',
 'runtime_min': '139',
 'movie_vote_num': '430638',
 'movie_rating': 'R',
 'movie_genere': 'Action, Adventure, Comedy',
 '__SuccsefullyCollectBasicDetails': True}

In [19]:
example_movie_url = "https://www.imdb.com/title/tt14174168/?ref_=adv_li_i"#search_box_info['movie_page_url']
movie_main_page = requests.get(search_box_info['movie_page_url'], headers=headers)
movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')

## Function: Get Year, Month and country

In [20]:


def extract_date_and_country(input_string):
    # Regular expression to match and extract the date and country
    pattern = r'(\w+)\s(\d+),\s(\d+)\s\((.*?)\)'
    match = re.search(pattern, input_string)
    
    if match:
        month, day, year, country = match.groups()
        return year, month, country
    else:
        return None

# Test the function
strings = [
    "October 28, 2022 (Netherlands)",
    "March 18, 2022 (Netherlands)",
    "November 11, 2022 (United States)",
    "December 12, 2022 (Netherlands)",
    "April 24, 2023 (Netherlands)",
    "November 29, 2022 (Netherlands)",
    "January 16, 2023 (Netherlands)",
    "March 18, 2022 (Finland)",
    "January 10, 2023 (United States)",
    "November 18, 2022 (United States)",
    "March 3, 2023 (United States)",
    "March 2, 2023 (United States)",
    "January 25, 2023 (Netherlands)",
    "January 27, 2023 (Netherlands)",
    "July 22, 2022 (United Kingdom)",
    "November 22, 2022 (United States)",
]

for s in strings:
    print(extract_date_and_country(s))

('2022', 'October', 'Netherlands')
('2022', 'March', 'Netherlands')
('2022', 'November', 'United States')
('2022', 'December', 'Netherlands')
('2023', 'April', 'Netherlands')
('2022', 'November', 'Netherlands')
('2023', 'January', 'Netherlands')
('2022', 'March', 'Finland')
('2023', 'January', 'United States')
('2022', 'November', 'United States')
('2023', 'March', 'United States')
('2023', 'March', 'United States')
('2023', 'January', 'Netherlands')
('2023', 'January', 'Netherlands')
('2022', 'July', 'United Kingdom')
('2022', 'November', 'United States')

## Function: Extract Movie Artists

In [21]:
def extract_artist(artist_type, movie_main_page_soup):

  item_dict = {}

  search_result = movie_main_page_soup.find(string=f"{artist_type}s") 
  if search_result==None:
    search_result = movie_main_page_soup.find(string=artist_type) 
  
  search_item_list = []
  try:
    if search_result!=None:
      search_item_list = search_result.find_parent().find_next_sibling().find_all('a')
    
    item_dict[f"{artist_type}_count"] = len(search_item_list)

    for i,item in enumerate(search_item_list):
      artisc_name = item.text.strip()
      artisc_url = item['href']
      artist_id = artisc_url.split('/')[2]
      item_dict[f"{artist_type}_{i+1}_name"] = artisc_name
      #item_dict[f"{artist_type}_{i+1}_url"] = artisc_url
      item_dict[f"{artist_type}_{i+1}_imdb_id"] = artist_id

  except Exception as e:
      print(f"Failed extracting data for artist_type: {artist_type}. \.\n Error:\n{e}")
      traceback.print_exc()

  return item_dict

print(extract_artist("Director", movie_main_page_soup))
print(extract_artist("Writer", movie_main_page_soup))
print(extract_artist("Star", movie_main_page_soup))

{'Director_count': 2, 'Director_1_name': 'Daniel Kwan', 'Director_1_imdb_id': 'nm3453283', 'Director_2_name': 'Daniel Scheinert', 'Director_2_imdb_id': 'nm3215397'}
{'Writer_count': 2, 'Writer_1_name': 'Daniel Kwan', 'Writer_1_imdb_id': 'nm3453283', 'Writer_2_name': 'Daniel Scheinert', 'Writer_2_imdb_id': 'nm3215397'}
{'Star_count': 3, 'Star_1_name': 'Michelle Yeoh', 'Star_1_imdb_id': 'nm0000706', 'Star_2_name': 'Stephanie Hsu', 'Star_2_imdb_id': 'nm3513533', 'Star_3_name': 'Jamie Lee Curtis', 'Star_3_imdb_id': 'nm0000130'}

## Function: Perform Currency Conversion

In [22]:
currency_codes = {
    "$":"USD",
    "€":"EUR",
    "£":"GBP",
    "₹":"INR",
    "â‚¬": "EUR",
    "â‚¹": "INR",
    "CA$": "CAD",
    "NOKÂ": "NOK",
    "Â£": "GBP",
    "CHF": "CHF",
    "Â¥": "JPY",
    "PKR": "PKR",
    "A$": "AUD",
    "CZK": "CZK",
    "RUR": "RUB",
    "NZ$": "NZD",
    "MYR": "MYR",
    "NGN": "NGN",
    "NOK":"NOK",
    "A$":"AUD",
    "â‚¬":"EUR",
    "â‚¹":"INR",
    "Â£":"GBP",
    "CA$":"CAD",
    "CHFÂ ":"CHF",
    "MYRÂ ":"MYR",
    "NGNÂ ":"NGN",
    "NOKÂ ":"NOK",
    "NZ$":"NZD",
    "PKRÂ ":"PKR",
    "RURÂ ":"RUB",
    "IRR ":"IRR"
}


currency_conversion_values = {}

In [23]:
def extract_currency_symbol(s):
    match = re.search(r"[^\d]+", s)
    if match:
        return match.group(0).strip()
    else:
        return ""

In [24]:
def get_currency_code(amount_string):
  currency_symbol = extract_currency_symbol(amount_string)
  if currency_symbol in currency_codes:
      return currency_codes[currency_symbol]
  else:
    print(f"Could not find a value for: {currency_symbol} in {amount_string}")
    return None

In [25]:
def extract_numerical_value(string):
    # Remove all non-numeric characters from the string
    numerical_string = re.sub(r"[^\d.]+", "", string)
    # Convert the string to a float and return it
    return float(numerical_string)

In [26]:

with open(f'{base_folder_path}/openexchangerates.txt', 'r') as f:
    api_key = f.read().strip()

api_key

def convert_string_amount_to_usd(amount):

  # get the currency code and amount value
  currency_code = get_currency_code(amount)
  original_amount = extract_numerical_value(amount)
  usd_amount = None

  if currency_code==None:
    usd_amount=None
  elif currency_code!="USD":
  
    if currency_code in currency_conversion_values:
      exchange_rate = currency_conversion_values[currency_code]
    else:
      # make API request to get exchange rate for the currency code
      url = f"https://openexchangerates.org/api/latest.json?app_id={api_key}&symbols={currency_code}"
      print(amount,currency_code,original_amount,url)
      response = requests.get(url)
      print(response)
      # parse the exchange rate from the API response
      exchange_rate = response.json()["rates"][currency_code]
      
      currency_conversion_values[currency_code] = exchange_rate
      
      # calculate the USD equivalent amount
      usd_amount = round(original_amount / exchange_rate)
      
      print(f"{amount} {currency_code} = {usd_amount} USD")
  else:
    usd_amount = original_amount

  return usd_amount,original_amount,currency_code



convert_string_amount_to_usd("CA$15,000")
convert_string_amount_to_usd("NOKÂ 80,200,000")
convert_string_amount_to_usd("NOKÂ 20,000,000")
convert_string_amount_to_usd("â‚¹3,500,000,000")
currency_conversion_values

CA$15,000 CAD 15000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=CAD
<Response [200]>
CA$15,000 CAD = 10966 USD
NOKÂ 80,200,000 NOK 80200000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=NOK
<Response [200]>
NOKÂ 80,200,000 NOK = 7573879 USD
â‚¹3,500,000,000 INR 3500000000.0 https://openexchangerates.org/api/latest.json?app_id=ac63294868f6455a91a128e22f4d9f35&symbols=INR
<Response [200]>
â‚¹3,500,000,000 INR = 42661675 USD

{'CAD': 1.36785, 'NOK': 10.589026, 'INR': 82.040849}

## Function: Get Movie Cast List and count

In [27]:
def get_cast_list(cast_page_url):

  cast_counts = {'cast_count_total':0}

  cast_page = requests.get(cast_page_url, headers=headers)
  cast_page_soup = BeautifulSoup(cast_page.text, 'html.parser')   

  cast_groups = cast_page_soup.find_all('h4')

  for cast_group in cast_groups:
    try:
      group_name = cast_group['id']
      #print(group_name)
      group_list = cast_group.find_next_sibling()
      group_count = 0
      if group_list is not None:
        group_list = group_list.findAll('tr')
        group_count = len(group_list)
      cast_counts[f"cast_count_{group_name}"] = group_count
      cast_counts['cast_count_total'] += group_count
    except Exception as ex:
      pass
  return cast_counts

get_cast_list("https://www.imdb.com/title/tt14174168/fullcredits")

{'cast_count_total': 156,
 'cast_count_director': 1,
 'cast_count_writer': 2,
 'cast_count_cast': 26,
 'cast_count_producer': 28,
 'cast_count_composer': 1,
 'cast_count_cinematographer': 1,
 'cast_count_editor': 1,
 'cast_count_casting_director': 1,
 'cast_count_production_designer': 2,
 'cast_count_art_director': 1,
 'cast_count_costume_designer': 1,
 'cast_count_make_up_department': 4,
 'cast_count_production_manager': 1,
 'cast_count_assistant_director': 4,
 'cast_count_art_department': 6,
 'cast_count_sound_department': 7,
 'cast_count_visual_effects': 12,
 'cast_count_stunts': 2,
 'cast_count_camera_department': 16,
 'cast_count_costume_department': 2,
 'cast_count_editorial_department': 5,
 'cast_count_music_department': 1,
 'cast_count_script_department': 1,
 'cast_count_transportation_department': 1,
 'cast_count_miscellaneous': 19,
 'cast_count_thanks': 10}

## Function: Get Movie Page Extanded Details

In [28]:
def get_extended_datails(movie_page_url, movie_name):
  movie_page_dict = {}

  try:

    movie_main_page = requests.get(movie_page_url, headers=headers)
    movie_main_page_soup = BeautifulSoup(movie_main_page.text, 'html.parser')   

    year_rating = movie_main_page_soup.find('ul',{"class":"ipc-inline-list ipc-inline-list--show-dividers sc-afe43def-4 kdXikI baseAlt"}).find_all('a')

    movie_page_dict['movie_year'] = year_rating[0].text if len(year_rating)>0 else None
    movie_page_dict['movie_rating'] = year_rating[1].text if len(year_rating)>1 else None

    director_dict = extract_artist("Director", movie_main_page_soup)
    if director_dict[f"Director_count"] == 0:
      print(f"No Director found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(director_dict)

    writer_dict = extract_artist("Writer", movie_main_page_soup)
    if writer_dict[f"Writer_count"] == 0:
      print(f"No Writer found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(writer_dict)

    star_dict = extract_artist("Star", movie_main_page_soup)
    if star_dict[f"Star_count"] == 0:
      print(f"No Star found for movie {movie_name}. Url: {movie_page_url}")
    movie_page_dict.update(star_dict)

    review_scores = movie_main_page_soup.find_all('span',{'class':'score'})
    movie_page_dict['user_reviews_count'] = review_scores[0].text if len(review_scores)>0 else None
    movie_page_dict['critic_reviews_count'] = review_scores[1].text if len(review_scores)>1 else None

    movie_page_dict['release_date'] = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'}, string="Release date").find_parent().find('a',{'class':'ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link'}).text.split('(')[0].strip()
    movie_page_dict['release_date']
    month, day, year, country = extract_date_and_country(movie_page_dict['release_date']);
    movie_page_dict['release_month'] = month
    movie_page_dict['release_year'] = year
    movie_page_dict['release_country'] = country

    movie_page_dict['budget'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Budget")
    if (movie_page_dict['budget']!=None):
      movie_page_dict['budget'] = movie_page_dict['budget'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()

      usd_amount,original_amount,currency_code = convert_string_amount_to_usd(movie_page_dict['budget'])
      movie_page_dict['budget_usd'] = usd_amount
      movie_page_dict['budget_currency'] = currency_code

    movie_page_dict['gross_worldwide'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross worldwide")
    if (movie_page_dict['gross_worldwide']!=None):
      movie_page_dict['gross_worldwide'] = movie_page_dict['gross_worldwide'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['gross_worldwide'], _, _ = convert_string_amount_to_usd(movie_page_dict['gross_worldwide'])

    movie_page_dict['gross_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Gross US & Canada")
    if (movie_page_dict['gross_us_canada']!=None):
      movie_page_dict['gross_us_canada'] = movie_page_dict['gross_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['gross_us_canada'], _, _ = convert_string_amount_to_usd(movie_page_dict['gross_us_canada'])

    movie_page_dict['opening_weekend_us_canada'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Opening weekend US & Canada")
    if (movie_page_dict['opening_weekend_us_canada']!=None):
      movie_page_dict['opening_weekend_us_canada'] = movie_page_dict['opening_weekend_us_canada'].find_next_sibling().find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text.split('(')[0].strip()
      movie_page_dict['opening_weekend_us_canada'], _, _ = convert_string_amount_to_usd(movie_page_dict['opening_weekend_us_canada'])

    movie_page_dict['origin_country'] = movie_main_page_soup.find('span',{'class':'ipc-metadata-list-item__label'}, string="Country of origin")
    if (movie_page_dict['origin_country']!=None):
      movie_page_dict['origin_country'] = movie_page_dict['origin_country'].find_next_sibling().find('a').text.split('(')[0].strip()

    movie_page_dict['release_date'] = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label'}, string="Release date")
    if (movie_page_dict['release_date']!=None):
      movie_page_dict['release_date'] = movie_page_dict['release_date'].find_next_sibling().find('a').text

    languages = movie_main_page_soup.find('span',string="Language") if movie_main_page_soup.find('span',string="Languages") is None else movie_main_page_soup.find('span',string="Languages")
    languages = [] if not languages else languages.find_next_sibling().find_all('a')
    movie_page_dict['languages'] = ",".join([language.text for language in languages])

    movie_page_dict['__SuccsefullyCollectExtandedDetails'] = True;

    ## Collect cast count for movie:
    movie_id = movie_page_url.split('/')[-2]
    cast_page_url = f"https://www.imdb.com/title/{movie_id}/fullcredits"
    cast_list = get_cast_list(cast_page_url)
    movie_page_dict.update(cast_list)

  except Exception as e:
    print(f"Failed extracting data for movie: {movie_name}. \nUrl: {movie_page_url}.\n Error:\n{e}")
    traceback.print_exc()
    movie_page_dict['__SuccsefullyCollectExtandedDetails'] = False;

  return movie_page_dict


get_extended_datails("https://www.imdb.com/title/tt14174168/?ref_=adv_li_i","Gasoline Alley")

Failed extracting data for movie: Gasoline Alley.
Url: https://www.imdb.com/title/tt14174168/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-28-fab352a807dc>", line 35, in get_extended_datails
    month, day, year, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

{'movie_year': '2022',
 'movie_rating': 'R',
 'Director_count': 1,
 'Director_1_name': 'Edward Drake',
 'Director_1_imdb_id': 'nm4864836',
 'Writer_count': 2,
 'Writer_1_name': 'Tom Sierchio',
 'Writer_1_imdb_id': 'nm0797220',
 'Writer_2_name': 'Edward Drake',
 'Writer_2_imdb_id': 'nm4864836',
 'Star_count': 3,
 'Star_1_name': 'Bruce Willis',
 'Star_1_imdb_id': 'nm0000246',
 'Star_2_name': 'Luke Wilson',
 'Star_2_imdb_id': 'nm0005561',
 'Star_3_name': 'Devon Sawa',
 'Star_3_imdb_id': 'nm0001701',
 'user_reviews_count': '66',
 'critic_reviews_count': '27',
 'release_date': 'February 24, 2022',
 '__SuccsefullyCollectExtandedDetails': False}

In [29]:
# print(search_box_info['movie_page_url'],search_box_info['movie_name'])
# cast_url = movie_main_page_soup.find('a',{'class':'ipc-metadata-list-item__label ipc-metadata-list-item__label--link'})['href']
# cast_url = f"{base_url}{cast_url}"
# cast_url

In [30]:
# Dynamic parameters:

def get_50_movie_batch(start_point, minimum_votes = 20, start_date = "2022-01-01", end_date = "2022-12-31"):
  movie_search_url_50_batch = f"{base_url}/search/title/?title_type=feature&release_date={start_date},{end_date}&num_votes={minimum_votes},&user_rating=1.0,10.0&countries=us&languages=en&start={start_point}&user_rating=1.0,10.0&ref_=adv_nxt"
  #print(f"Start point: {start_point}. search url: {movie_search_url_50_batch}")
  search_page = requests.get(f'{movie_search_url_50_batch}', headers=headers, timeout=10)
  search_page_soup = BeautifulSoup(search_page.text, 'html.parser')
  list_of_50_movies_soup = search_page_soup.find_all('div',{'class':'lister-item mode-advanced'})

  max_num_of_results = search_page_soup.find('div',{'class':'desc'}).find('span').text.split(' ')[2].replace(",", "")
  max_num_of_results = int(max_num_of_results)

  #print(f"max_num_of_results: {max_num_of_results}")
  return(list_of_50_movies_soup,max_num_of_results)

list_of_50_movies_soup,max_num_of_results = get_50_movie_batch(start_point = 1, minimum_votes = 20, start_date = "2022-01-01", end_date = "2022-12-31")

In [31]:
# Fixed parameters:
base_url = "https://www.imdb.com"

start_date = "2022-01-01"
end_date = "2022-12-31"
minimum_votes = 250 # Minimum vote amount to coolect movie

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"}

In [32]:
movie_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv"
if os.path.exists(movie_dataset_path):
  movie_df = pd.read_csv(movie_dataset_path)
  total_movie_dataset = movie_df.set_index('movie_id').T.to_dict()
  
else:
  total_movie_dataset = {}
  movie_df = pd.DataFrame(total_movie_dataset)

print(f"total_movie_dataset contains {len(total_movie_dataset)} records")
movie_df.head(3)

total_movie_dataset contains 628 records

,movie_id,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,...,cast_count_location_management,cast_count_music_department,cast_count_script_department,cast_count_transportation_department,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,Director_3_name,Director_3_imdb_id
0,tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,...,4.0,74.0,7.0,10.0,138.0,6.0,NaN,NaN,NaN,NaN
1,tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,...,5.0,45.0,4.0,27.0,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN
2,tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,3,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,...,9.0,38.0,2.0,13.0,89.0,1.0,NaN,NaN,NaN,NaN

## Cursor: Collecting movies from IMDB

In [33]:
start_point = 1 # Start from movie #1-50

basic_data_collected = 0
basic_data_skipped = 0
extended_data_collected = 0
extended_data_skipped = 0

count = 1
while start_point < max_num_of_results-50:

  list_of_50_movies_soup,_ = get_50_movie_batch(start_point = start_point, minimum_votes = minimum_votes, start_date = "2022-01-01", end_date = "2022-12-31")

  for i,movie in enumerate(list_of_50_movies_soup):
    movie_data = {'__SuccsefullyCollectBasicDetails':False, '__SuccsefullyCollectExtandedDetails':False}

    basic_data = get_basic_details(movie)
    movie_id = basic_data['movie_id']

    try:
      if movie_id in total_movie_dataset.keys():
        movie_data = total_movie_dataset[movie_id]

      if movie_data['__SuccsefullyCollectBasicDetails']==True:
        basic_data_skipped += 1
      else:
        basic_data_collected += 1
        movie_data.update(basic_data)

      if movie_data['__SuccsefullyCollectExtandedDetails']==True:
        extended_data_skipped += 1
      else:
        extended_data_collected += 1
        extended_data = get_extended_datails(basic_data['movie_page_url'],basic_data['movie_name'])
        movie_data.update(extended_data)

        sleep(0.1)
    except Exception as e:
      print(f"Failed running cursor for movie: {movie_id}. \nUrl: {basic_data['movie_page_url']}.\n Error:\n{e}")
      traceback.print_exc()

    total_movie_dataset[movie_id] = movie_data
    count+= 1

    if (count%200 == 0):
      print(f"\nRun number: {count}. basic_data_collected: {basic_data_collected}. extended_data_collected: {extended_data_collected}. basic_data_skipped: {basic_data_skipped}. extended_data_skipped: {extended_data_skipped}")


  movie_dataset = pd.DataFrame(total_movie_dataset).T
  movie_dataset.to_csv(movie_dataset_path, index=True, index_label="movie_id")

  start_point += 50

print(f"\nRun number: {count}. \nbasic_data_collected: {basic_data_collected}. \nextended_data_collected: {extended_data_collected}. \nbasic_data_skipped: {basic_data_skipped}. \nextended_data_skipped: {extended_data_skipped}\n")

Run number: 200. basic_data_collected: 0. extended_data_collected: 0. basic_data_skipped: 199. extended_data_skipped: 199
Failed extracting data for movie: Guns of Eden.
Url: https://www.imdb.com/title/tt15180746/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Run number: 400. basic_data_collected: 1. extended_data_collected: 1. basic_data_skipped: 398. extended_data_skipped: 398

Traceback (most recent call last):
  File "<ipython-input-28-fab352a807dc>", line 35, in get_extended_datails
    month, day, year, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Failed extracting data for movie: Gasoline Alley.
Url: https://www.imdb.com/title/tt14174168/?ref_=adv_li_i.
 Error:
cannot unpack non-iterable NoneType object

Traceback (most recent call last):
  File "<ipython-input-28-fab352a807dc>", line 35, in get_extended_datails
    month, day, year, country = extract_date_and_country(movie_page_dict['release_date']);
TypeError: cannot unpack non-iterable NoneType object

Run number: 600. basic_data_collected: 1. extended_data_collected: 2. basic_data_skipped: 598. extended_data_skipped: 597

Run number: 630.
basic_data_collected: 1.
extended_data_collected: 2.
basic_data_skipped: 628.
extended_data_skipped: 627

In [34]:
movie_dataset = pd.DataFrame(total_movie_dataset).T
movie_dataset.to_csv(movie_dataset_path, index=True, index_label="movie_id")

movie_dataset.head(5)

,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,runtime_min,...,cast_count_music_department,cast_count_script_department,cast_count_transportation_department,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,Director_3_name,Director_3_imdb_id,movie_id
tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,192.0,...,74.0,7.0,10.0,138.0,6.0,NaN,NaN,NaN,NaN,NaN
tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,139.0,...,45.0,4.0,27.0,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN,NaN
tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,3,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,189.0,...,38.0,2.0,13.0,89.0,1.0,NaN,NaN,NaN,NaN,NaN
tt9764362,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,4,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71.0,A young couple travels to a remote island to e...,107.0,...,11.0,NaN,10.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN
tt13833688,True,True,The Whale,https://www.imdb.com/title/tt13833688/?ref_=ad...,5,tt13833688,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,"A reclusive, morbidly obese English teacher at...",117.0,...,48.0,1.0,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN

## Set actor variables

In [35]:
import requests
from IPython.core.display import HTML
import json
from time import sleep
import re
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import time
import traceback

In [36]:
movie_dataset = pd.read_csv('/content/drive/My Drive/Harvard HW/Course 4 - Final Project/total_movie_dataset.csv')
movie_dataset.head(5)

,movie_id,__SuccsefullyCollectBasicDetails,__SuccsefullyCollectExtandedDetails,movie_name,movie_page_url,movie_place,movie_id.1,movie_thubmnail,movie_metascore,movie_description,...,cast_count_music_department,cast_count_script_department,cast_count_transportation_department,cast_count_miscellaneous,cast_count_thanks,Director_2_name,Director_2_imdb_id,Director_3_name,Director_3_imdb_id,movie_id.2
0,tt1630029,True,True,Avatar: The Way of Water,https://www.imdb.com/title/tt1630029/?ref_=adv...,1,tt1630029,https://m.media-amazon.com/images/S/sash/4Fyxw...,67.0,Jake Sully lives with his newfound family form...,...,74.0,7.0,10.0,138.0,6.0,NaN,NaN,NaN,NaN,NaN
1,tt6710474,True,True,Everything Everywhere All at Once,https://www.imdb.com/title/tt6710474/?ref_=adv...,2,tt6710474,https://m.media-amazon.com/images/S/sash/4Fyxw...,81.0,A middle-aged Chinese immigrant is swept up in...,...,45.0,4.0,27.0,104.0,58.0,Daniel Scheinert,nm3215397,NaN,NaN,NaN
2,tt10640346,True,True,Babylon,https://www.imdb.com/title/tt10640346/?ref_=ad...,3,tt10640346,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,A tale of outsized ambition and outrageous exc...,...,38.0,2.0,13.0,89.0,1.0,NaN,NaN,NaN,NaN,NaN
3,tt9764362,True,True,The Menu,https://www.imdb.com/title/tt9764362/?ref_=adv...,4,tt9764362,https://m.media-amazon.com/images/S/sash/4Fyxw...,71.0,A young couple travels to a remote island to e...,...,11.0,NaN,10.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN
4,tt13833688,True,True,The Whale,https://www.imdb.com/title/tt13833688/?ref_=ad...,5,tt13833688,https://m.media-amazon.com/images/S/sash/4Fyxw...,60.0,"A reclusive, morbidly obese English teacher at...",...,48.0,1.0,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN

## Function: Assume Gender

In [37]:
def assume_gender(artist_bio):
  # Define the pronouns associated with each gender
  male_pronouns = ["he", "him", "his", "himself","guy","man"]
  female_pronouns = ["she", "her", "hers", "herself","girl","woman"]
  nonbinary_pronouns = ["themselves","queer","binary","nonbinary","non-binary"]

  is_openly_lgbt = False
  lgbt_words = ["gay","lesbian","gays","lesbians","lgbt","lgbtq","queer","binary","nonbinary","non-binary","genderfluid"]

  # Count the number of male and female pronouns in the bio
  prnoun_count = {'Male':0, "Female":0, "NonBinary":0}

  for word in artist_bio.lower().split():
      if word in male_pronouns:
          prnoun_count["Male"] += 1
      elif word in female_pronouns:
          prnoun_count["Female"] += 1
      elif word in nonbinary_pronouns:
          prnoun_count["NonBinary"] += 1

      if word in lgbt_words:
        is_openly_lgbt = True

  # Determine the actor's gender based on the pronoun count
  sorted_d = {k: v for k, v in sorted(prnoun_count.items(), key=lambda item: item[1], reverse=True)}
  Gender = next(iter(sorted_d))

  if prnoun_count[Gender] == 0: # If no prnoune was found
    Gender = "Unknown"

  return Gender,is_openly_lgbt

# Extract the bio text
bio_text = """Andy Samberg was born in Berkeley, California, to Marjorie (Marrow), a teacher, and Joe Samberg, a photographer. With Jorma Taccone and Akiva Schaffer, Samberg is one of three Los Angeles, California-based writer-performer-filmmakers--all childhood friends--dubbed The Lonely Island, whose short films were showcased on the popular untelevised television network show and website. Some of their popular shorts included The O.C. (2003) parody "The 'Bu" and their full-length pilot, "Awesometown." They met Jimmy Fallon while writing for 2004 MTV Video Music Awards (2004), who then suggested that they audition for Saturday Night Live (1975). Andy was then cast as a featured performer, and Samberg's Lonely Island cohorts Jorma and Akiva were hired as writers for the show. The group's most notable contributions include The Lonely Island: Lazy Sunday (2005), The Lonely Island feat. Justin Timberlake: Dick in a Box (2006), and The Lonely Island Feat. T-Pain: I'm on a Boat (2009).

Near the end of his first season of SNL, Andy started filming the lead role in the film Hot Rod (2007), the first major motion picture by the Lonely Island team, with the production support of Lorne Michaels.

In 2012, after seven years of working on SNL, Samberg resigned from the show. He was originally not looking to join a television series as a regular cast member, but after seeing the script for Brooklyn Nine-Nine (2013), he couldn't pass it up. Andy plays Jake Peralta, the best detective in Brooklyn's 99th police precinct, who also happens to be the most immature. In 2013 Samberg received the Golden Globe for Best Actor - Television Series Musical or Comedy for his performance.

In 2016, Andy starred in the pop music mockumentary Popstar: Never Stop Never Stopping (2016). Taccone and Schaffer co-starred in and co-directed the film.

Samberg married singer-songwriter Joanna Newsom on 21 September, 2013, in Big Sur, California. In August 2017, they announced the birth of their baby daughter.
"""
assume_gender(bio_text)

('Male', False)

In [38]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
from dateutil import parser

def extract_artist_age(date_string):
  try:
    # Parse the date string into a datetime object
    date_obj = parser.parse(date_string)
    # Check if the date is in the future, if so - Reduce 100 years
    if date_obj.year > datetime.now().year:
      date_obj = date_obj.replace(year=date_obj.year - 100)
    #print(date_obj)
    # Calculate the difference between the current date and the date of birth
    age = relativedelta(datetime.now(), date_obj).years
    # Return the age as an integer
    return age
  except:
    #print(f"Cannot extract age from value: {date_string}")
    return None

print(extract_artist_age("11/25/1990"))
print(extract_artist_age("16-Apr-02"))
print(extract_artist_age(""))

32
21
None

## Function: Collect Rank

In [39]:
def collect_artist_rank(artist_page_soup,artist_dict):
  artist_rank = artist_page_soup.find('span',{'class':'sc-d462a8ef-6 hOuQwM starmeter-current-rank'}).text.strip()

  artist_dict['artist_rank'] = artist_rank
  artist_dict['Is_5000'] = False
  artist_dict['Is_500'] = False
  artist_dict['Is_100'] = False
  artist_dict['Is_10'] = False

  if artist_rank.lower()!="see rank":
    if artist_rank=="Top 5,000":
      artist_dict['Is_5000'] = True
    elif artist_rank=="Top 500":
      artist_dict['Is_500'] = True
      artist_dict['Is_5000'] = True
    else:
      try:
        rank = int(artist_rank)   # Convert the string to an integer
        if rank <= 100:           # Check if the rank is within the top 100
          artist_dict['Is_100'] = True
          artist_dict['Is_500'] = True
          artist_dict['Is_5000'] = True
        if rank <= 10: 
          artist_dict['Is_10'] = True
      except ValueError:
        print(f"Could not interpret value {artist_rank} for artist: {artist_dict['artist_imdb_id']}. Url: {artist_dict['artist_url']}")

artist_imdb_id = "nm14727093"
artist_page = requests.get(f"https://www.imdb.com/name/{artist_imdb_id}/", headers=headers)
artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 
artist_dict = {}
artist_dict['artist_imdb_id'] = artist_imdb_id
artist_dict['artist_type'] = "Director"
artist_dict['artist_url'] = artist_page
collect_artist_rank(artist_page_soup,artist_dict)

## Function: Artist awards

In [40]:
def get_awards_info(awards_str):
    wins = 0
    nominations = 0
    if awards_str:
      parts = awards_str.split()
      if "wins" in parts:
          wins = int(parts[parts.index("wins")-1])
      elif "win" in parts:
          wins = int(parts[parts.index("win")-1])
      if "nominations" in parts:
          nominations = int(parts[parts.index("nominations")-1])
      elif "nomination" in parts:
          nominations = int(parts[parts.index("nomination")-1])
    return (wins, nominations)

print(get_awards_info("6 wins & 16 nominations total"))
print(get_awards_info("1 win & 1 nomination total"))
print(get_awards_info("6 wins total"))
print(get_awards_info("16 nominations total"))
print(get_awards_info('1 win & 3 nominations'))
print(get_awards_info(""))
print(get_awards_info(None))

(6, 16)
(1, 1)
(6, 0)
(0, 16)
(1, 3)
(0, 0)
(0, 0)

In [41]:
def collect_artist_awards(artist_page_soup):
  awards_dict = {}

  awards = artist_page_soup.find('li',{'data-testid':'award_information'})
  awards_prestige_wins = 0
  awards_prestige_nominations = 0
  awards_other_won = 0
  awards_other_nominations = 0
  
  if awards!=None:

    # Find prestige awards (Oscars, BEFTA, ect.)
    prestige_awards = awards.find('a',{'aria-label':'See more awards and nominations'}).text
    if prestige_awards!="Awards":
      awards_dict['awards_prestige_desc']  = prestige_awards
      if "Won" in prestige_awards:
        awards_prestige_wins = int(''.join(filter(str.isdigit, prestige_awards)))
        
      else:
        awards_prestige_nominations = int(''.join(filter(str.isdigit, prestige_awards)))
        
    else:
      awards_dict['awards_prestige']  = 0

    # Find total awards
    award_other = awards.find('span',{'class':'ipc-metadata-list-item__list-content-item'}).text
    award_other_counts = get_awards_info(award_other)
    awards_dict['award_other_desc'] = award_other
    awards_other_won = award_other_counts[0]
    awards_other_nominations = award_other_counts[1]

  awards_dict['awards_prestige_wins']  = awards_prestige_wins
  awards_dict['awards_prestige_nominations']  = awards_prestige_nominations
  awards_dict['awards_other_won'] = awards_other_won
  awards_dict['awards_other_nominations'] = awards_other_nominations

  return awards_dict

artist_imdb_id = "nm0798646"
artist_page = requests.get(f"https://www.imdb.com/name/{artist_imdb_id}/", headers=headers)
artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 
artist_dict = {}
artist_dict['artist_imdb_id'] = artist_imdb_id
artist_dict['artist_type'] = "Director"
artist_dict['artist_url'] = artist_page
collect_artist_awards(artist_page_soup)

{'awards_prestige': 0,
 'award_other_desc': '1 win & 3 nominations',
 'awards_prestige_wins': 0,
 'awards_prestige_nominations': 0,
 'awards_other_won': 1,
 'awards_other_nominations': 3}

## Function: Extract artist info

In [43]:
def extract_artist_info(artist_imdb_id,col_name):
  artist_dict = {}

  artist_url_page = f"{base_url}/name/{artist_imdb_id}"
  artist_dict['artist_imdb_id'] = artist_imdb_id
  artist_dict['artist_type'] = col_name.split('_')[0]
  artist_dict['artist_url'] = artist_url_page

  try:
    artist_page = requests.get(artist_url_page, headers=headers)
    artist_page_soup = BeautifulSoup(artist_page.text, 'html.parser') 

    artist_name = artist_page_soup.find('h1',{'data-testid':'hero__pageTitle'}).find('span').text.strip()
    artist_dict['artist_name'] = artist_name

    if artist_page_soup.find('span', string="Born") is not None:
      artist_birthday = artist_page_soup.find('span',string="Born").findNextSibling().text
      artist_dict['artist_birthday'] = artist_birthday
      artist_dict['artist_age'] = extract_artist_age(artist_birthday)
      if artist_dict['artist_age'] == None:
        print(f"Unable to extract age for {artist_name}. Value: {artist_birthday} Url: {artist_url_page}")
      
    artist_bio = artist_page_soup.find('div',{'class':'ipc-html-content-inner-div'})
    
    if artist_bio!=None:
      artist_dict['artist_bio'] = artist_bio.text
      artist_gender, is_openly_lgbt = assume_gender(artist_bio.text)
    else:
      artist_gender = "Unknown"
      is_openly_lgbt = False

    artist_dict['artist_gender'] = artist_gender
    artist_dict['is_openly_lgbt'] = is_openly_lgbt

    # Collect Rank
    collect_artist_rank(artist_page_soup,artist_dict)
    
    # Collect Awards
    awards_dict = collect_artist_awards(artist_page_soup)
    artist_dict.update(awards_dict)

    artist_title = artist_dict['artist_type']
    if artist_title == "Star":
      artist_title = "Actress" if artist_gender=="Female" else "Actor"

    if artist_page_soup.find('h3',string=artist_title) is not None:
      previous_work = artist_page_soup.find('h3',string=artist_title).find_next().find('li', string="Previous")
      if previous_work is not None:
        previous_work = previous_work.find_next_sibling().text
    elif artist_page_soup.find('li',string="Previous") is not None:
      previous_work = artist_page_soup.find('li',string="Previous").find_next_sibling().text
    else:
      previous_work = 0
      print(f"Unable to get previous work for {artist_title}: {artist_name}. Url: {artist_url_page}")
      
    artist_dict['previous_work'] = previous_work
    artist_dict['__SuccsefullyCollectArtistDetails'] = True;

    return artist_dict
  except Exception as e:
    print(f"Failed extracting data for artist: {artist_imdb_id}. Url: {artist_url_page}.\n Error:\n{e}")
    traceback.print_exc()
    artist_dict['__SuccsefullyCollectArtistDetails'] = False;

artist_imdb_id = "nm0767280"
col_name = "Writer_2_imdb_id"
extract_artist_info(artist_imdb_id,col_name)

{'artist_imdb_id': 'nm0767280',
 'artist_type': 'Writer',
 'artist_url': 'https://www.imdb.com/name/nm0767280',
 'artist_name': 'Dan Savage',
 'artist_birthday': 'October 7, 1964',
 'artist_age': 58,
 'artist_bio': 'Dan Savage is a writer, TV personality, and activist best known for his\npolitical and social commentary, as well as his honest approach to sex,\nlove and relationships.Savage\'s sex advice column, "Savage Love," is syndicated in newspapers\nand websites throughout the United States, Canada, Europe and Asia. He\nis the Editorial Director of The Stranger, Seattle\'s weekly alternative\nnewspaper, and his writing has appeared in publications including The\nNew York Times, The New York Times Magazine, GQ, Rolling Stone, The\nOnion, and on Salon.com.Savage is also the author of several books, including: Savage Love; The\nKid: What Happened When My Boyfriend and I Decided to Get Pregnant (PEN\nWest Award for Creative Nonfiction, Lambda Literary Award for\nNonfiction); Skipping Towards Gomorrah: The Seven Deadly Sins and the\nPursuit of Happiness in America; and The Commitment: Love, Sex,\nMarriage and My Family. In his latest bestselling book American Savage,\nDan shares his insights on topics ranging from marriage, parenting and\nthe gay agenda to the Catholic Church and sex education. It\'s Dan\'s\nfrank and open discussions on such topics that had Publisher\'s Weekly\nrave why he is, "America\'s most in-your-face sex columnist and gay\nrights activist."In addition to his appearances on CNN, MSNBC, and The Colbert Report,\nSavage is a contributor to Ira Glass\'s This American Life, and has\nappeared on NPR\'s Fresh Air with Terry Gross, HBO\'s Real Time with Bill\nMaher, and ABC\'s 20/20. Savage is a frequent and popular speaker on\ncollege campuses across the United States and Canada.In September 2010, Savage created a YouTube video with his husband\nTerry Miller to inspire hope for LGBT young people facing harassment.\nIn response to a number of students taking their own lives, Savage and\nMiller wanted to create a personal message to let LGBT youth know that\n"it gets better". Today, the It Gets Better Project has become a global movement, inspiring more\nthan 50,000 It Gets Better videos viewed over 50 million times. The It\nGets Better book, co-edited by Savage and Miller, was published in\nMarch 2011, and an MTV documentary special, It Gets Better, aired in\nFebruary 2012.Dan Savage grew up in Chicago and now lives in Seattle, Washington with\nhis husband Terry Miller and their son, DJ.',
 'artist_gender': 'Male',
 'is_openly_lgbt': True,
 'artist_rank': 'See rank',
 'Is_5000': False,
 'Is_500': False,
 'Is_100': False,
 'Is_10': False,
 'awards_prestige_desc': 'Nominated for 1 Primetime Emmy',
 'award_other_desc': '1 win & 2 nominations total',
 'awards_prestige_wins': 0,
 'awards_prestige_nominations': 1,
 'awards_other_won': 1,
 'awards_other_nominations': 2,
 'previous_work': '3',
 '__SuccsefullyCollectArtistDetails': True}

## Set Artist variables

In [ ]:
artists_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/artists_dataset.csv"
if os.path.exists(artists_dataset_path):
  artists_df = pd.read_csv(artists_dataset_path)
  artists_list = artists_df.set_index('artist_imdb_id').T.to_dict()
  
else:
  artists_list = {}
  artists_df = pd.DataFrame(artists_list)

print(f"artists_list contains {len(artists_list)} records")
artists_df.head(3)

artists_list contains 2960 records

,artist_imdb_id,artist_collected,artist_imdb_id.1,artist_type,artist_url,artist_name,artist_birthday,artist_age,artist_bio,artist_gender,...,Is_10,awards_prestige_desc,award_other_desc,awards_prestige_wins,awards_prestige_nominations,awards_other_won,awards_other_nominations,previous_work,__SuccsefullyCollectArtistDetails,awards_prestige
0,nm0000116,True,nm0000116,Director,https://www.imdb.com/name/nm0000116,James Cameron,"August 16, 1954",68.0,"James Francis Cameron was born on August 16, 1...",Male,...,False,Won 3 Oscars,77 wins & 89 nominations total,3,0,77,89,22,True,NaN
1,nm0415425,True,nm0415425,Writer,https://www.imdb.com/name/nm0415425,Rick Jaffa,"May 8, 1956",66.0,Rick Jaffa was born on 8 May 1956 in Dallas Co...,Male,...,False,NaN,1 win & 3 nominations,0,0,1,3,11,True,0.0
2,nm0798646,True,nm0798646,Writer,https://www.imdb.com/name/nm0798646,Amanda Silver,"May 24, 1963",59.0,Amanda Silver was born on 24 May 1963 in the U...,Female,...,False,NaN,1 win & 3 nominations,0,0,1,3,13,True,0.0

## Cursor: Collect Artists

In [ ]:
artist_cols = [col for col in movie_dataset.columns if "imdb_id" in col]

artists_skipped = 0
artists_collected = 0
artist_count = 1
for i, row in movie_dataset.iterrows():
  for col_name in artist_cols:
    artist_dict = {'artist_collected':False}
    artist_imdb_id = row[col_name]
    if type(artist_imdb_id) != float:
      if artist_imdb_id in artists_list.keys() and artists_list[artist_imdb_id]['artist_collected']==True:
        artist_dict = artists_list[artist_imdb_id]
        artist_dict['artist_collected']=True
        artists_skipped += 1
      else:
        artist_output = extract_artist_info(artist_imdb_id,col_name)
        if artist_output!=None:
          artist_dict.update(artist_output)
          artist_dict['artist_collected']=True
        artists_collected += 1 
        sleep(0.1)

      artists_list[artist_imdb_id] = artist_dict
      artist_count += 1
      if artist_count%200 == 0:
        artist_dataset = pd.DataFrame(artists_list).T
        artist_dataset.to_csv(artists_dataset_path, index=True, index_label="artist_imdb_id")
        print(f"\nSaving progress. Run {artist_count} for movie {i}. artists_collected:{artists_collected}. artists_skipped:{artists_skipped}")

artist_dataset = pd.DataFrame(artists_list).T
artist_dataset.to_csv(artists_dataset_path, index=True, index_label="artist_imdb_id")
print(f"\n\nFinished process. Total: {artist_count}. artists_collected:{artists_collected}. artists_skipped:{artists_skipped}")

Saving progress. Run 200 for movie 32. artists_collected:0. artists_skipped:199

Saving progress. Run 400 for movie 64. artists_collected:0. artists_skipped:399

Saving progress. Run 600 for movie 96. artists_collected:0. artists_skipped:599

Saving progress. Run 800 for movie 129. artists_collected:0. artists_skipped:799

Saving progress. Run 1000 for movie 160. artists_collected:0. artists_skipped:999

Saving progress. Run 1200 for movie 193. artists_collected:0. artists_skipped:1199

Saving progress. Run 1400 for movie 228. artists_collected:0. artists_skipped:1399

Saving progress. Run 1600 for movie 262. artists_collected:0. artists_skipped:1599

Saving progress. Run 1800 for movie 296. artists_collected:0. artists_skipped:1799

Saving progress. Run 2000 for movie 331. artists_collected:0. artists_skipped:1999

Saving progress. Run 2200 for movie 366. artists_collected:0. artists_skipped:2199

Saving progress. Run 2400 for movie 399. artists_collected:0. artists_skipped:2399

Saving progress. Run 2600 for movie 433. artists_collected:0. artists_skipped:2599

Saving progress. Run 2800 for movie 467. artists_collected:0. artists_skipped:2799

Saving progress. Run 3000 for movie 501. artists_collected:0. artists_skipped:2999

Saving progress. Run 3200 for movie 536. artists_collected:0. artists_skipped:3199

Saving progress. Run 3400 for movie 572. artists_collected:0. artists_skipped:3399

Saving progress. Run 3600 for movie 607. artists_collected:0. artists_skipped:3599


Finished process. Total: 3713. artists_collected:0. artists_skipped:3712

In [ ]:
artist_dataset.head(5)

,artist_collected,artist_imdb_id.1,artist_type,artist_url,artist_name,artist_birthday,artist_age,artist_bio,artist_gender,artist_rank,...,Is_10,awards_prestige_desc,award_other_desc,awards_prestige_wins,awards_prestige_nominations,awards_other_won,awards_other_nominations,previous_work,__SuccsefullyCollectArtistDetails,awards_prestige
nm0000116,True,nm0000116,Director,https://www.imdb.com/name/nm0000116,James Cameron,"August 16, 1954",68.0,"James Francis Cameron was born on August 16, 1...",Male,"Top 5,000",...,False,Won 3 Oscars,77 wins & 89 nominations total,3,0,77,89,22,True,NaN
nm0415425,True,nm0415425,Writer,https://www.imdb.com/name/nm0415425,Rick Jaffa,"May 8, 1956",66.0,Rick Jaffa was born on 8 May 1956 in Dallas Co...,Male,See rank,...,False,NaN,1 win & 3 nominations,0,0,1,3,11,True,0.0
nm0798646,True,nm0798646,Writer,https://www.imdb.com/name/nm0798646,Amanda Silver,"May 24, 1963",59.0,Amanda Silver was born on 24 May 1963 in the U...,Female,See rank,...,False,NaN,1 win & 3 nominations,0,0,1,3,13,True,0.0
nm0941777,True,nm0941777,Star,https://www.imdb.com/name/nm0941777,Sam Worthington,"August 2, 1976",46.0,Samuel Henry John Worthington was born August ...,Male,"Top 5,000",...,False,NaN,6 wins & 19 nominations,0,0,6,19,55,True,0.0
nm0757855,True,nm0757855,Star,https://www.imdb.com/name/nm0757855,Zoe Saldana,"June 19, 1978",44.0,"Zoe Saldana was born on June 19, 1978 in Passa...",Female,Top 500,...,False,NaN,18 wins & 69 nominations,0,0,18,69,68,True,0.0

# Build final dataset

Go over the movie_dataset and convert the data to a manageable format

In [ ]:
imdb_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/imdb_dataset.csv"
if os.path.exists(imdb_dataset_path):
  imdb_df = pd.read_csv(imdb_dataset_path)
  imdb_dict = imdb_df.set_index('movie_id').T.to_dict()
  
else:
  imdb_dict = {}
  imdb_df = pd.DataFrame(imdb_dict)

print(f"imdb_dict contains {len(imdb_dict)} records")
imdb_df.head(3)

imdb_dict contains 0 records

Empty DataFrame
Columns: []
Index: []

In [ ]:
movie_dataset.head(3).T

,0,1,2
movie_id,tt1630029,tt6710474,tt10640346
__SuccsefullyCollectBasicDetails,True,True,True
__SuccsefullyCollectExtandedDetails,True,True,True
movie_name,Avatar: The Way of Water,Everything Everywhere All at Once,Babylon
movie_page_url,https://www.imdb.com/title/tt1630029/?ref_=adv...,https://www.imdb.com/title/tt6710474/?ref_=adv...,https://www.imdb.com/title/tt10640346/?ref_=ad...
...,...,...,...
cast_count_thanks,6.0,58.0,1.0
Director_2_name,NaN,Daniel Scheinert,NaN
Director_2_imdb_id,NaN,nm3215397,NaN
Director_3_name,NaN,NaN,NaN
Director_3_imdb_id,NaN,NaN,NaN

## Function: Convert string to number

In [ ]:
def convert_numbers(num_string):
  try:
    if not num_string:
      return None
    elif 'K' in num_string:
        number = float(num_string.replace('K', '')) * 1000
    elif 'M' in num_string:
        number = float(num_string.replace('M', '')) * 1000000
    else:
        number = float(num_string.replace('$', '').replace(',', ''))
    return number
  except Exception as ex:
    print(f"Could not interpret value {num_string}")



print(convert_numbers('$14,300,000'))
print(convert_numbers('3.3K'))
print(convert_numbers('2.6M'))
print(convert_numbers('2.6M'))
print(convert_numbers('350000000.0'))
print(convert_numbers('87'))
print(convert_numbers('87.00'))
print(convert_numbers(None))

14300000.0
3300.0
2600000.0
2600000.0
350000000.0
87.0
87.0
None

In [ ]:
def count_words(text):
  if not text:
    return 0
  else:
    words = text.split()
    return len(words)

print(count_words("Puss in Boots: The Last Wish"))
print(count_words("X"))
print(count_words(None))
print(count_words(""))

6
1
0
0

## Function: Rating to Rating Category

In [ ]:
def rating_to_category(movie_rating):
    rating_category = {
        "NC-17": "R",
        "16+": "R",
        "18+": "R",
        "Approved": "G",
        "G": "G",
        "M": "PG-13",
        "Not Rated": "Unrated",
        "PG": "PG-13",
        "PG-13": "PG-13",
        "R": "R",
        "TV-14": "PG-13",
        "TV-G": "G",
        "TV-MA": "R",
        "TV-PG": "PG-13",
        "TV-Y": "G",
        "TV-Y7": "G",
        "Unrated": "Unrated"
    }
    return rating_category.get(movie_rating, "Unrated")

print(rating_to_category("M"))
print(rating_to_category("TV-Y"))
print(rating_to_category(""))
print(rating_to_category(None))
print(rating_to_category("BadValue"))

PG-13
G
Unrated
Unrated
Unrated

## Function: Genere to Genere Category

In [ ]:
def genre_list_to_catg(genre_list):
  genre_dict = {"genre__count":0}
  if type(genre_list) == str:
    g_list = genre_list.strip().split(',')
    genre_dict["genre__count"] = len(g_list)
  
    for g in g_list:
      genre_dict[f"genere_{g.strip().lower()}"] = True

  return genre_dict

print(genre_list_to_catg("Action, "))
print(genre_list_to_catg("Action, adventure, Fantasy"))
print(genre_list_to_catg("Biography, Comedy, Music"))
print(genre_list_to_catg(None))
print(genre_list_to_catg(""))

{'genre__count': 2, 'genere_action': True, 'genere_': True}
{'genre__count': 3, 'genere_action': True, 'genere_adventure': True, 'genere_fantasy': True}
{'genre__count': 3, 'genere_biography': True, 'genere_comedy': True, 'genere_music': True}
{'genre__count': 0}
{'genre__count': 1, 'genere_': True}

## Function: Language to Language Category

In [ ]:
def language_list_to_catg(language_list):
  language_dict = {}
  if type(language_list)==str:
    l_list = language_list.strip().split(',')
    language_dict["language__count"] = len(l_list)

    for l in l_list:
        language_dict[f"language_{l.strip().lower()}"] = True
  else:
    language_dict[f"language_english"] = True
    language_dict["language__count"] = 1

  return language_dict

print(language_list_to_catg("English"))
print(language_list_to_catg("English,Mandarin,Cantonese"))
print(language_list_to_catg(None))
print(language_list_to_catg(""))

{'language__count': 1, 'language_english': True}
{'language__count': 3, 'language_english': True, 'language_mandarin': True, 'language_cantonese': True}
{'language_english': True, 'language__count': 1}
{'language__count': 1, 'language_': True}

## Function: Extract Crew Stats

In [ ]:
def extract_artist_stats(row,movie_id):

  artist_stats_dict = {}

  movie_name = row['movie_name']

  artist_cols = ['Star_1_imdb_id','Star_2_imdb_id','Star_3_imdb_id','Director_1_imdb_id','Director_2_imdb_id','Director_3_imdb_id','Writer_1_imdb_id','Writer_2_imdb_id','Writer_3_imdb_id']

  #info to extract:
  main_crew_count = 0
  crew_age_sum = 0
  crew_age_avg = 0
  crew_age_missing = 0
  crew_female_count = 0
  crew_nonbinary_count = 0
  crew_lgbt_count = 0
  crew_prestige_wins = 0
  crew_prestige_nominations = 0
  crew_awards_wins = 0
  crew_awards_nominations = 0

  for artist in artist_cols:
    try:
      artist_imdb_id = row.get(artist)
      if type(artist_imdb_id) == str:
        main_crew_count += 1

        artist_data = artists_list.get(artist_imdb_id)
        artist_name = artist_data.get('artist_name')
        artist_gender = artist_data.get('artist_gender')
        
        if artist_gender=="Female":
          crew_female_count+=1
        elif artist_gender=="NonBinary":
          crew_nonbinary_count+=1

        artist_lgbt = artist_data.get('is_openly_lgbt')
        if artist_lgbt:
          crew_lgbt_count += 1

        age = artist_data.get('artist_age')
        #print(artist_data)
        #print(artist_imdb_id,artist_name,age,artist_data['artist_age'])
        if not age:
          crew_age_missing += 1
        else:
          crew_age_sum += age

        crew_prestige_wins += artist_data.get('awards_prestige_wins')
        crew_prestige_nominations += artist_data.get('awards_prestige_nominations')
        crew_awards_wins += artist_data.get('awards_other_won')
        crew_awards_nominations += artist_data.get('awards_other_nominations')
    except Exception as e:
      print(f"Failed extracting data for artist: {artist} - {artist_data.get('artist_name')}. \nmovie_name: {movie_name}({movie_id}).\n Error:\n{e}")
      traceback.print_exc()

  if crew_age_sum: # Ag age is the sum age divided by the number of collected ages (total minus missing)
    crew_age_avg = crew_age_sum/(main_crew_count-crew_age_missing)
  else:
    print(f'None of the crew for movie {movie_name}({movie_id} had their age listed in their bio page.')
    crew_age_avg = None

  artist_stats_dict['main_crew_count'] = main_crew_count
  artist_stats_dict['crew_age_avg'] = crew_age_avg
  artist_stats_dict['crew_age_missing'] = crew_age_missing
  artist_stats_dict['crew_female_count'] = crew_female_count
  artist_stats_dict['crew_nonbinary_count'] = crew_nonbinary_count
  artist_stats_dict['crew_prestige_wins'] = crew_prestige_wins
  artist_stats_dict['crew_prestige_nominations'] = crew_prestige_nominations
  artist_stats_dict['crew_awards_wins'] = crew_awards_wins
  artist_stats_dict['crew_awards_nominations'] = crew_awards_nominations
  return artist_stats_dict

extract_artist_stats(row,"tt22061140")

{'main_crew_count': 5,
 'crew_age_avg': nan,
 'crew_age_missing': 0,
 'crew_female_count': 0,
 'crew_nonbinary_count': 0,
 'crew_prestige_wins': 0,
 'crew_prestige_nominations': 0,
 'crew_awards_wins': 1,
 'crew_awards_nominations': 0}

In [ ]:


def build_imdb_movie_dataset(movie_id,total_movie_dataset):

  row = total_movie_dataset[movie_id]

  amount_cols = ['budget_usd','runtime_min']

  imdb_movie = {"_finshed_successfully":False}

  for col in amount_cols:
    imdb_movie[col] = convert_numbers(str(row.get(col)))

  imdb_movie['movie_name'] = row.get('movie_name')
  imdb_movie['title_length'] = count_words(row.get('movie_name'))
  imdb_movie['movie_desc_length'] = count_words(row.get('movie_description'))
  imdb_movie['rating_catg'] = rating_to_category(row.get('movie_rating'))
  imdb_movie['movie_year'] = 2022 if row.get('movie_year') is None else row.get('movie_year')
  imdb_movie['budget_currency'] = "USD" if row.get('budget_currency') is None else row.get('budget_currency')

  # cast count:
  for k in row.keys():
    if 'cast_count' in k:
      imdb_movie[k] = 0 if row[k] is None else row[k] 

  # genere:
  movie_genre_dict = genre_list_to_catg(row.get('movie_genere'))
  imdb_movie.update(movie_genre_dict)

  # language:
  languages_dict = language_list_to_catg(row.get('languages'))
  imdb_movie.update(languages_dict)

  # Get dependent columns:
  imdb_movie['pred_metascore'] = row.get('movie_metascore')
  imdb_movie['pred_user_review_count'] = convert_numbers(str(row.get('user_reviews_count')))
  imdb_movie['pred_critic_review_count'] = convert_numbers(str(row.get('critic_reviews_count')))
  imdb_movie['pred_total_vote_count'] = convert_numbers(str(row.get('movie_vote_num')))
  imdb_movie['pred_gross_worldwide'] = convert_numbers(str(row.get('gross_worldwide')))
  imdb_movie['pred_gross_us_canada'] = convert_numbers(str(row.get('gross_us_canada')))
  imdb_movie['pred_opening_weekend_us_canada'] = convert_numbers(str(row.get('opening_weekend_us_canada')))

  # Get crew stats:
  crew_stats = extract_artist_stats(row,movie_id)
  imdb_movie["_finshed_successfully"] = True
  imdb_movie.update(crew_stats)

  #print(row)
  return imdb_movie

#build_imdb_movie_dataset("tt16379898",total_movie_dataset)

In [ ]:
imdb_movie_dataset_path = "/content/drive/My Drive/Harvard HW/Course 4 - Final Project/imdb_movie_dataset_raw.csv"
if os.path.exists(imdb_movie_dataset_path):
  imdb_movie_raw_dataset = pd.read_csv(imdb_movie_dataset_path, index_col=['movie_id'])
  imdb_movie_raw_list = imdb_movie_raw_dataset.T.to_dict()
  
else:
  imdb_movie_raw_list = {}
  imdb_movie_raw_dataset = pd.DataFrame(imdb_movie_raw_list)

print(f"imdb_movie_raw_list contains {len(imdb_movie_raw_list)} records")
imdb_movie_raw_dataset.head(3)

imdb_movie_raw_list contains 628 records

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,budget_currency,cast_count_total,...,language_welsh,genere_musical,language_croatian,language_wolof,language_latvian,language_hausa,language_norwegian,language_sioux,language_thai,language_albanian
movie_id,,,,,,,,,,,,,,,,,,,,,
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,USD,2199,...,False,False,False,False,False,False,False,False,False,False
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,USD,564,...,False,False,False,False,False,False,False,False,False,False
tt10640346,True,78000000.0,189.0,Babylon,1,28,R,2022,USD,1067,...,False,False,False,False,False,False,False,False,False,False

## Cursor: Finalize Dataset

In [ ]:
movies_processed = 0
movies_skipped = 0
movie_count = 0
for i, row in movie_dataset.iterrows():
  movie_count += 1
  try:
    imdb_movie_record = {}
    movie_id = row['movie_id']
    if movie_id in imdb_movie_raw_list.keys() and imdb_movie_raw_list[movie_id]['_finshed_successfully']==True:
      imdb_movie_record = imdb_movie_raw_list[movie_id]
      movies_skipped += 1
    else:
      imdb_movie_record = build_imdb_movie_dataset(movie_id,total_movie_dataset)


    imdb_movie_raw_list[movie_id] = imdb_movie_record
  except Exception as e:
    print(f"Failed building finished data for movie: {movie_id}. \nRaw Data: {row}.\n Error:\n{e}")
    traceback.print_exc()
    imdb_movie_record['_finshed_successfully'] = False;

 
imdb_movie_raw_dataset = pd.DataFrame(imdb_movie_raw_list).T
print(f"\n\nFinished process. Total: {movie_count}. movies_processed:{movies_processed}. movies_skipped:{movies_skipped}")
imdb_movie_raw_dataset.to_csv(imdb_movie_dataset_path, index=True, index_label="movie_id")

Finished process. Total: 628. movies_processed:0. movies_skipped:628

In [ ]:
imdb_movie_raw_dataset.head(3)

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,budget_currency,cast_count_total,...,language_welsh,genere_musical,language_croatian,language_wolof,language_latvian,language_hausa,language_norwegian,language_sioux,language_thai,language_albanian
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,USD,2199,...,False,False,False,False,False,False,False,False,False,False
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,USD,564,...,False,False,False,False,False,False,False,False,False,False
tt10640346,True,78000000.0,189.0,Babylon,1,28,R,2022,USD,1067,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Convert all nan values to 0s:

for col in imdb_movie_raw_dataset.columns:
    # Check if the column name starts with 'cast_count'
    if col.startswith('cast_count_'):
        # Replace NaN values with 0
        imdb_movie_raw_dataset[col] = imdb_movie_raw_dataset[col].fillna(0)
    elif col.startswith('language_') or col.startswith('genere_'):
      # Replace NaN values with False
        imdb_movie_raw_dataset[col] = imdb_movie_raw_dataset[col].fillna(False)



imdb_movie_raw_dataset.to_csv(imdb_movie_dataset_path, index=True, index_label="movie_id")
imdb_movie_raw_dataset.head(3)

,_finshed_successfully,budget_usd,runtime_min,movie_name,title_length,movie_desc_length,rating_catg,movie_year,budget_currency,cast_count_total,...,language_welsh,genere_musical,language_croatian,language_wolof,language_latvian,language_hausa,language_norwegian,language_sioux,language_thai,language_albanian
tt1630029,True,350000000.0,192.0,Avatar: The Way of Water,5,40,PG-13,2022,USD,2199,...,False,False,False,False,False,False,False,False,False,False
tt6710474,True,14300000.0,139.0,Everything Everywhere All at Once,5,31,R,2022,USD,564,...,False,False,False,False,False,False,False,False,False,False
tt10640346,True,78000000.0,189.0,Babylon,1,28,R,2022,USD,1067,...,False,False,False,False,False,False,False,False,False,False